{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}

<style type="text/css">
  .email-content {
    color: #515665;
  }

  .email-content h1, .email-content h2, .email-content h3, .email-content h4, .email-content h5 {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    line-height: normal;
  }

  .email-content h1 {
    font-size: 2em;
  }

  .email-content h2 {
    font-size: 1.5em;
  }

  table.inner-table {
    width: 100%;
    line-height: 1.4;
    border-collapse: collapse;
  }

  table.inner-table thead tr {
    font-weight: bold;
  }

  table.inner-table thead td {
    border-bottom: 1px solid #515665;
    padding: 5px;
  }

  table.inner-table tbody td {
    border-bottom: 1px solid #F3F4F8;
    padding: 5px;
  }

  table.chart-table {
    width: 100%;
  }

  .section-header {
    background-color: #515665;
    color: #FFFFFF;
    padding: 5px;
  }

  .report-section {
    margin-bottom: 40px;
  }

  .title-section {
    overflow: auto;
  }

  .title-section h1 {
    float: left;
    margin-top: 0;
  }

  .title-section p {
    float: right;
    margin-top: 8px;
    vertical-align: middle;
    border-left: 6px solid #515665;
    padding-left: 10px;
    line-height: 1.4;
  }

  .email-content ul {
    padding-left: 0;
    padding-bottom: 10px;
    list-style: none;
    margin-top: 1em;
  }

  .email-content ul li {
    margin: 10px 0;
    border-left: 6px solid #515665;
    padding-left: 10px;
    line-height: 1.4;
  }

  .emoji {
    font-size: 26px;
    vertical-align: middle;
  }

  .col-12 {
    padding: 0;
  }

  .feedback-box {
    padding: 20px;
    background: #049487;
    color: white;
    font-weight: 700;
  }

  .feedback-box p {
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 1.5;
  }

  .feedback-box > div {
    display: inline-block;
  }

  .email-layout button.p2pu-btn.light {
    border-radius: 2em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 5px 15px;
    border: none;
    box-shadow: 0 0 1px transparent;
    position: relative;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: #FFFFFF;
    color: #515665;
    margin-right: 5px;
  }

</style>

{% if not web %}
  <p class="preheader">In this issue: Highlights from the past three weeks</p>
{% endif %}
<div class="title-section">
  <h1>{% trans "Community Digest" %}</h1>
  <p>{{ start_date }} {% trans "to" %} {{ end_date }}</p>
</div>

<div class="report-section">
  <h2>
    <span class="section-header">{% trans "Photo of the Week" %}</span>
  </h2>
  <img src="https://www.p2pu.org/assets/images/learning-circle-cropped.jpg" alt="Photo of the month" width="100%">
  <small><em>Caption goes here</em></small>
</div>

<div class="report-section">
  <h2>
    <span class="section-header">{% trans "News and Events" %}</span>
  </h2>
  <p>News goes here</p>
</div>

<div class="report-section">
  <h2>
    <span class="section-header">
      {% blocktrans count learners_reached_count=learners_reached_count %}
        {{ learners_reached_count }} person participated in
      {% plural %}
        {{ learners_reached_count }} people participated in
      {% endblocktrans %}
      {% blocktrans count studygroups_meetings_count=studygroups_meetings_count %}
        {{ studygroups_meetings_count }} learning circle meeting
      {% plural %}
        {{ studygroups_meetings_count }} learning circle meetings
      {% endblocktrans %}
    </span>
  </h2>
  <table class="chart-table">
    <tbody>
      <tr>
        <td>
          {% trans 'Total number of learning circle meetings' as chart_title %}
          {% with total_meetings=total_meetings_count|stringformat:'i' total_learners_reached=total_learners_reached_count|stringformat:'i' %}
          {% include "studygroups/measurement_card.html" with title=chart_title chart=meetings_chart description="Since January 2016, "|add:total_learners_reached|add:" people participated in "|add:total_meetings|add:" learning circle meetings." fullwidth=web %}
          {% endwith %}
        </td>
      </tr>
      <tr>
        <td>
          {% trans 'Current learning circles by country' as chart_title %}
          {% include "studygroups/measurement_card.html" with title=chart_title chart=countries_chart fullwidth=web%}
        </td>
      </tr>
      <tr>
        <td>
          {% trans 'Current learning circles by topic' as chart_title %}
          {% include "studygroups/measurement_card.html" with title=chart_title chart=top_topics_chart fullwidth=web %}
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="report-section">
  <h2>
    <span class="section-header">
      {% blocktrans count new_learners_count=new_learners_count %}
        {{ new_learners_count }} learner signed up for a learning circle
      {% plural %}
        {{ new_learners_count }} learners signed up for a learning circle
      {% endblocktrans %}
    </span>
  </h2>
  {% include "studygroups/measurement_card.html" with title='Learner Goals' description='Why did people sign up?' chart=learner_goals_chart fullwidth=web%}
</div>

<div class="report-section">
  <h2>
    <span class="section-header">
      {% blocktrans count new_users_count=new_users_count %}
        {{ new_users_count }} person joined P2PU
      {% plural %}
        {{ new_users_count }} people joined P2PU
      {% endblocktrans %}
    </span>
  </h2>
  <ul>
  {% for post in intros_from_new_users %}
    <li>
      <em>{{ post.cooked | safe | truncatewords_html:25 }}</em>
      <a href="https://community.p2pu.org/t/introduce-yourself/1571/{{post.post_number}}">
        {% blocktrans with name=post.name|title %}Read {{ name }}'s full post{% endblocktrans %}
      </a>
    </li>
  {% endfor %}
  </ul>
  <p>
    {% trans "For more, go to the" %} <a href="https://community.p2pu.org/t/introduce-yourself/1571">{% trans "full thread" %}</a>
    <span class="emoji">👉</span>
  </p>
</div>

<div class="report-section">
  <h2>
    <span class="section-header">
      {% blocktrans count upcoming_studygroups_count=upcoming_studygroups_count %}
        {{ upcoming_studygroups_count }} learning circle will begin in the next 3 weeks
      {% plural %}
        {{ upcoming_studygroups_count }} learning circles will begin in the next 3 weeks
      {% endblocktrans %}
    </span>
  </h2>
  <table class="inner-table">
    <thead>
      <tr>
        <td>{% trans "Facilitator" %}</td>
        <td>{% trans "Course" %}</td>
        <td>{% trans "Location" %}</td>
        <td>{% trans "Team" %}</td>
      </tr>
    </thead>
    <tbody>
      {% for studygroup in upcoming_studygroups %}
        <tr>
          <td>{{ studygroup.facilitator.first_name | title }}</td>
          <td><a href="{% url 'studygroups_course_page' studygroup.course.pk %}">{{ studygroup.course.title }}</a></td>
          <td>{{ studygroup.city | title }}</td>
          <td>{{ studygroup.team.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="report-section">
  <h2>
    <span class="section-header">
      {% blocktrans count finished_studygroups_count=finished_studygroups_count %}
        {{ finished_studygroups_count }} learning circle wrapped up
      {% plural %}
        {{ finished_studygroups_count }} learning circles wrapped up
      {% endblocktrans %}
    </span>
  </h2>
  <p>{% trans "The following learning circles have reports available. Click to view the report:" %}</p>
  <ul>
    {% for studygroup in studygroups_with_survey_responses %}
      <li><a href="{{ studygroup.report_url }}">{{ studygroup.course.title }}</a> {% trans "in" %} {{ studygroup.city }}</li>
    {% endfor %}
  </ul>
</div>

<div class="report-section">
  <h2>
    <span class="section-header">
    {% blocktrans count new_courses_count=new_courses_count %}
      {{ new_courses_count }} course was added to the P2PU database
    {% plural %}
      {{ new_courses_count }} courses were added to the P2PU database
    {% endblocktrans %}
    </span>
  </h2>
  <ul>
  {% for course in new_courses %}
      {% url 'studygroups_course_page' course.pk as course_url %}
      <li>{{ course.created_by.first_name }} {% trans "added" %} <a href="{{ course_url }}">{{ course.title }}</a></li>
    {% endfor %}
  </ul>
  <p>
    {% trans "To see all the courses, check out the" %} <a href="https://www.p2pu.org/en/courses/" target="_blank">{% trans "courses page" %}</a>
    <span class="emoji">👉</span>
  </p>
</div>

<div class="report-section">
  <h2>
    <span class="section-header">{% trans "What we're talking about" %}</span>
  </h2>
  {% include "studygroups/discourse_table.html" %}
  <p>
    {% trans "Come chat with us on the" %} <a href="https://community.p2pu.org/" target="_blank">{% trans "forum" %}</a>
    <span class="emoji">👉</span>
  </p>
</div>

<div class="report-section">
  {% include "studygroups/email/community_digest_feedback.html" %}
</div>

<div class="report-section">
  <p>{% trans "Note: Learning circle data comes from P2PU’s registration system, survey results, and online community discussion." %}</p>

  {% if not web %}
    <div>
      <p>{% trans "You can also" %} <a href="{{ web_version_path }}">{% trans "view this digest online" %}</a></p>
    </div>
  {% endif %}
</div>


{% endblock %}
