{% extends 'email_base.html' %}
{% load i18n %}
{% block body %}
 
<p>{% trans "Hi there" %},</p>

<p>
  {% blocktrans with first_name=course.created_by.first_name last_name=course.created_by.last_name email=course.created_by.email %}
  A new course has been added by {{first_name}} {{last_name}} &lt;<a href="mailto:{{email}}">{{email}}</a>&gt;.
  {% endblocktrans %}
</p>

<div>
  <ul style="list-style:none; padding: 1em; background-color: lightgrey;">
    <li><strong>{% trans "Title" %}</strong>: {{course.title}}</li>
    <li><strong>{% trans "Creator" %}</strong>: {{course.provider}}</li>
    <li><strong>{% trans "Website" %}</strong>: <a href="{{course.link}}">{{course.link}}</a></li>
    <li><strong>{% trans "Description" %}</strong>: {{course.caption}}</li>
    <li><strong>{% trans "Availability" %}</strong>: {% if course.on_demand %}{% trans "On demand" %}{% else %}{% trans "Check website" %}{% endif %}</li>
    <li><strong>{% trans "Topics" %}</strong>: {{course.topics}}</li>
  </ul>
</div>

{% url 'admin:studygroups_course_change' course.id as course_url %}
<p>{% blocktrans with course_title=course.title %}
  You can update or unlist the course <a href="{{protocol}}://{{domain}}{{course_url}}">here</a>.
{% endblocktrans %}
</p>

<p>{% trans "Cheers" %},<br/>
P2PU</p>
{% endblock %}
