{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}

<style>
.rating-scale {
  margin-top: 2em;
  margin-bottom: 2em;
}
.rating-scale .cell {
  padding: 0.6em 2em;
  background-color: #DDF6F4;
  color: #05C6B4;
  border: 1px solid #05C6B4;
}

.rating-scale .cell.first-cell {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.rating-scale .cell.last-cell {
  border-radius: 0 4px 4px 0;
}

.rating-scale .cell.middle-cell {
  border-right: none;
}

.rating-scale td a {
  text-align: center;
  text-decoration: none;
}

.rating-scale .label.align-right {
  text-align: right;
}

.rating-scale .label small {
  font-size: 0.8em;
  color: #05C6B4;
}

.text-center {
  text-align: center;
}

.color-green {
  color: #05C6B4;
}
</style>


<table>
  <tbody>
    <tr>
      <td>
        {% blocktrans %}
        <p>Hi {{facilitator_name}},</p>

        <p>After your learning circle, you probably have a few things to say (good and bad!) about <strong>{{course_title}}</strong>, activities you tried, and the learning circle process in general.</p>

        <p>Can you take a few minutes to share with us? Your feedback will be immediately put to use, helping our community identify high-quality online courses and deliver equitable learning experiences around the world.</p>
        <p>How did the learning circle go?</p>
        {% endblocktrans %}
      </td>
    </tr>
    <tr>
      <td>
        <table align="center" class="rating-scale">
          <tbody>
            <tr>
              <td>
                <table border="0" cellspacing="0" cellpadding="0" >
                  <tbody>
                    <tr>
                      <td>
                        <a href="{{survey_url}}?rating=1">
                          <div class="cell first-cell">1</div>
                        </a>
                      </td>
                      <td>
                        <a href="{{survey_url}}?rating=2">
                          <div class="cell middle-cell">2</div>
                        </a>
                      </td>
                      <td>
                        <a href="{{survey_url}}?rating=3">
                          <div class="cell middle-cell">3</div>
                        </a>
                      </td>
                      <td>
                        <a href="{{survey_url}}?rating=4">
                          <div class="cell middle-cell">4</div>
                        </a>
                      </td>
                      <td>
                        <a href="{{survey_url}}?rating=5">
                          <div class="cell last-cell">5</div>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table width="100%">
                  <tbody>
                    <tr>
                      <td class="label">
                        <small>Terrible</small>
                      </td>
                      <td class="label align-right">
                        <small>Excellent</small>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <p class="text-center">- or -</p>
                <p class="text-center"><a href="{{survey_url}}?nostudygroup=true" class="color-green">This learning circle didn’t end up happening.</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <p>{% trans "Cheers" %},</p>
        <p>{% trans "The P2PU Team" %}</p>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
