{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}
{% load static %}

<style>
.rating-scale {
  margin: 1em 0;
}
.rating-scale td {
  padding: 0 0.6em;
  color: #05C6B4;
  text-align: center;
}
.rating-scale td a {
  text-decoration: none;
}
</style>

<p>{% blocktrans with facilitator_names=study_group.facilitators_display %}Hi {{facilitator_names}}{% endblocktrans %}</p>

<p>{% trans "Can you take a moment to share some final reflections about your learning circle? Your experience and feedback on this course is a big help for future facilitators!" %}</p>

{% if study_group.facilitator_goal %}
  <p>{% blocktrans with facilitator_goal=study_group.facilitator_goal %}At the start, we asked what you hoped to achieve by facilitating this learning circle. You wrote <strong>"{{facilitator_goal}}"</strong>.{% endblocktrans %}</p>
  <p>{% trans "To what extent did you achieve this?" %}</p>
  <table class="rating-scale" border="0" cellspacing="0" cellpadding="0" >
    <tbody>
      <tr>
        <td>
          <a href="{{survey_url}}?goal_rating=1">
            <img src="{% static 'images/icons/rating-star.png' %}" />
          </a>
        </td>
        <td>
          <a href="{{survey_url}}?goal_rating=2">
            <img src="{% static 'images/icons/rating-star.png' %}" />
          </a>
        </td>
        <td>
          <a href="{{survey_url}}?goal_rating=3">
            <img src="{% static 'images/icons/rating-star.png' %}" />
          </a>
        </td>
        <td>
          <a href="{{survey_url}}?goal_rating=4">
            <img src="{% static 'images/icons/rating-star.png' %}" />
          </a>
        </td>
        <td>
          <a href="{{survey_url}}?goal_rating=5">
            <img src="{% static 'images/icons/rating-star.png' %}" />
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{survey_url}}?goal_rating=1">1</a>
        </td>
        <td>
          <a href="{{survey_url}}?goal_rating=2">2</a>
        </td>
        <td>
          <a href="{{survey_url}}?goal_rating=3">3</a>
        </td>
        <td>
          <a href="{{survey_url}}?goal_rating=4">4</a>
        </td>
        <td>
          <a href="{{survey_url}}?goal_rating=5">5</a>
        </td>
      </tr>
      <tr>
        <td class="label">
          {% trans "Not at all" %}
        </td>
        <td class="label"></td>
        <td class="label">
          {% trans "Somewhat" %}
        </td>
        <td class="label"></td>
        <td class="label">
          {% trans "Completely!" %}
        </td>
      </tr>
    </tbody>
  </table>
{% else %}
  <p>{% blocktrans %}Please take <a href="{{survey_url}}">this five minute survey</a> about your learning circle experience.{% endblocktrans %}</p>
{% endif %}

{% url 'studygroups_studygroup_did_not_happen' study_group.pk as did_not_happen_url %}
{% blocktrans %}
<p>Or <a href="{{did_not_happen_url}}">click here</a> if this learning circle didn’t happen.</p>
{% endblocktrans %}

<p>{% trans "Cheers" %},</p>
<p>{% trans "P2PU" %}</p>

{% endblock %}
