{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}

<p>{% trans "Hi there" %},</p>

<p>{% trans "Your learning circle finished last week, but with Peer 2 Peer University, your learning never ends." %}</p>

{% blocktrans %}
  <p>
  Let us know how we can help plan your next steps by completing this <a href="https://docs.google.com/forms/d/e/1FAIpQLSdvzlyXUMZy29WetnCQLT3jnQvD9TrYqMq7KWXB-lZa8mLhJA/viewform?usp=pp_url&entry.73798480={{learning_circle_slug}}">brief online survey</a>. As this a brand new education model, we'd love to hear about what worked for you and what still needs tweaking. For your time, you'll be entered into drawing to receive a $50 Amazon gift card. Lucky you!" 
  </p>
{% endblocktrans %}

<p>{% trans "Let us know how we can help plan your next steps by completing this brief online survey. As this a brand new education model, we'd love to hear about what worked for you and what still needs tweaking. For your time, you'll be entered into drawing to receive a $50 Amazon gift card. Lucky you!" %}</p>

<p>{% trans "Cheers" %}</p>
<p>P2PU</p>
{% endblock %}
