{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}

{% blocktrans %}
<p>Hi {{facilitator_name}},</p>

<p>As your learning circle comes to a close, now is a great time reflect on the last {{weeks}} weeks of facilitating {{course_title}}. Congratulations on getting your learners through to the end!</p>

<p>Your experience as a facilitator is very valuable to us and to the whole P2PU community. Please take a few minutes to help us improve learning circles by sharing your feedback.</p>

<div style="margin-top: 2rem; margin-bottom: 2rem; display: flex; justify-content: center;">
  <a href="{{survey_url}}" style="padding: 0.6rem 2rem; background-color: #DDF6F4; color: #05C6B4; border: 1px solid #05C6B4; border-radius: 4px; text-decoration: none;">{% trans "Share your feedback" %}</a>
</div>
{% endblocktrans %}

<p>{% trans "Cheers" %}</p>
<p>{% trans "The P2PU Team" %}</p>
{% endblock %}
