{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}
<style>
  .indented {
    padding: 10px;
    padding-left: 30px;
    border-left: 6px solid #D3D8E6;
  }
</style>

<table>
  <tbody>
    <tr>
      <td>
        {% blocktrans with responses_p=learner_responses_count|pluralize %}
        <p>Hi {{ facilitator_name }},</p>

        <p>The survey we sent to your learning circle participants has {{ learner_responses_count }} response{{ responses_p }} so far. Here’s a preview of what your learning circle report currently looks like: <a href="{{ report_url }}">{{ report_url }}</a></p>

        <p>Can you remind your learning circle participants to reply to the survey? Feel free to copy the text below and modify it:</p>
        {% endblocktrans %}
        <div class="indented">
          <p>{% trans "Hi there" %},</p>
          <p>{% trans "Can you take a few minutes to let me know how your learning circle is going? Your feedback - the good and the bad - will improve the learning circle program for learners and facilitators around the world." %}</p>
          <p>{% trans "Share your feedback here:" %} <a href="{{ learner_survey_url }}">{{ learner_survey_url }}</a></p>
          <p>{% trans "Thank you!" %}</p>
        </div>

          {% if learners_without_survey_responses is not None %}
          <p>{% trans "These are the participants who haven't responded yet, according to our records:" %}
          <ul>
            {% for learner in learners_without_survey_responses %}
              <li>{{ learner.name }} - {{ learner.email }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        {% if facilitator_survey_url is not None %}
          <p>{% trans "As a reminder, this is the link for you to leave your own feedback:" %} <a href="{{ facilitator_survey_url }}">{{ facilitator_survey_url }}</a></p>
        {% endif %}

        <p>{% trans "Cheers" %},</p>
        <p>{% trans "The P2PU Team" %}</p>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
