{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}
<p>{% trans "Hi there" %}</p>

{% url 'password_reset_confirm' uidb64=uid token=token as password_reset_confirm_url %}

<p>{% blocktrans %}Welcome to the P2PU Learning Circle community! To use your account, follow <a href="{{ protocol}}://{{ domain }}{{ password_reset_confirm_url }}">this link</a> to reset your password and log in. Your username is {{ email }}.{% endblocktrans %}</p>

<p>{% trans "Here are a few important links to get you started." %}</p>
<ul>
    <li>{% blocktrans %}<a href="https://www.p2pu.org/en/facilitate/">www.p2pu.org/en/facilitate/</a> - This is the facilitator guide - if this is your first time facilitating, you’ll want to check this out to familiarize yourself with the experience and download the necessary materials.{% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="https://learningcircles.p2pu.org">learningcircles.p2pu.org</a> - This is the homepage of Learning Circles - it’s where you login to your dashboard and where learners come to sign up.{% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="https://community.p2pu.org/">Facilitator community group</a> - This is the online facilitator community - head over there  to share feedback, photos, suggestions, and questions with facilitators from around the world.{% endblocktrans %}</li>
</ul>

<p>{% trans "Cheers" %}</p>
<p>P2PU</p>
{% endblock %}
