{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}

<p>{% blocktrans %}Dear {{facilitator_name}},{% endblocktrans %}</p>
<p>
{% trans "Learning circles are happening around the world, and your experience is valuable to others who are just beginning their journey." %}
</p>

<p>
{% if next_study_group %}
{% blocktrans %}
In {{ weeks }} weeks, a learning circle will start in {{ city }} studying "{{ course_title }}". As a group, can you write them a short note welcoming them to the P2PU Community?
{% endblocktrans %}
{% else %}
{% trans "Can you write a short note welcoming the next learning circle to the P2PU community?" %}
{% endif %}
{% trans "Just reply to this email, and we’ll make sure they get it. Feel free to attach a photo of your learning circle :)" %}
</p>

<p>{% trans "Here are a few prompts:" %}</p>
<ul>
  <li>{% trans "What was the highlight of your learning circle?" %}</li>
  <li>{% trans "What course did you study? How was it?" %}</li>
  <li>{% trans "What do you wish you knew before your learning circle started that you know now?" %}</li>
  <li>{% trans "What’s the weather like where you are?" %}</li>
</ul>

<p>{% trans "Cheers" %},</p>
<p>{% trans "The P2PU Team" %}</p>

{% endblock %}
