{% extends 'email_base.html' %}
{% load i18n %}
{% load extras %}
{% block body %}

{% url 'studygroups_view_study_group' study_group.pk as manage_url %}
{% url 'studygroups_generate_course_discourse_topic' study_group.course.pk as course_discourse_url %}
{% url 'studygroups_signup' location=study_group.venue_name|unicode_slugify study_group_id=study_group.pk as study_group_url%}

<p>{% blocktrans with name=study_group.facilitator.first_name %}Hi {{name}}{% endblocktrans %},</p>

<p>{% blocktrans with studygroup_name=study_group.name city=study_group.city %}Congratulations! Your “{{studygroup_name}}” learning circle in {{city}} has been created.{% endblocktrans %}</p>

<p>
  {% if study_group.draft %}
    {% blocktrans %}You can view your draft signup page at <a href="{{PROTOCOL}}://{{DOMAIN}}{{study_group_url}}">{{PROTOCOL}}://{{DOMAIN}}{{study_group_url}}</a>{% endblocktrans %}
  {% else %}
    {% blocktrans %}Your signup page is live at: <a href="{{PROTOCOL}}://{{DOMAIN}}{{study_group_url}}">{{PROTOCOL}}://{{DOMAIN}}{{study_group_url}}</a></p>{% endblocktrans %}
  {% endif %}
</p>

<p>{% blocktrans %}<a href="{{manage_url}}">Log in to your P2PU account</a> to manage your learning circle. You can use the dashboard to monitor sign ups, send emails and SMS to your learners, and edit automated reminder messages.{% endblocktrans %}</p>

<p>{% trans "A handful of P2PU community members are copied on this email. So that they can better assist you, we are including your responses to the following questions:" %}</p>

<div style="padding: 0.2em 1em; border-left: solid 10px rgb(255,155,0); background: rgba(255,155,0,15%);">
  <p><strong>What do you hope to achieve by facilitating this learning circle?</strong><br/>
  {% if study_group.facilitator_goal %}{{ study_group.facilitator_goal }}{% else %}{% trans "Not specified" %}{% endif %}</p>
  <p><strong>Is there anything that we can help you with as you get started?</strong><br/>
  {% if study_group.facilitator_concerns %}{{ study_group.facilitator_concerns }}{% else %}{% trans "Not specified" %}{% endif %}</p>
</div>

<p>{% trans "Looking for facilitation tips and strategies to run a great learning circle?" %}</p>
  <ul>
    <li>{% blocktrans %}Read through our <a href="http://docs.p2pu.org/">Knowledge Base</a> for tips on facilitation and promotion{% endblocktrans %}</li>
    <li>{% blocktrans %}Join an <a href="https://www.p2pu.org/en/events/">upcoming facilitator call</a> (first Wednesday of every month){% endblocktrans %}</li>
    <li>{% blocktrans %}Create a <a href="https://docs.p2pu.org/courses/facilitator-guides">facilitator guide</a> to help you structure your learning circle{% endblocktrans %}</li>
    <li>{% blocktrans with course_title=study_group.course.title %}Post questions specific to “{{course_title}}” <a href="{{course_discourse_url}}">on our community forum</a>{% endblocktrans %}</li>
  </ul>
</p>

<p>{% trans "Cheers" %},</p>
<p>P2PU</p>
{% endblock %}
