{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}
{% load staticfiles %}


<p>{% blocktrans %}Dear {{facilitator_name}},{% endblocktrans %}</p>

<p>
{% trans "You can now view your learning circle report online, or through your facilitator dashboard." %}
</p>

<p>
{% trans "Here's a preview:" %}
</p>

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="report-table">
    <tr>
        <td align="center" valign="top">
            <image src="{{ learner_goals_chart }}">
        </td>
        <td align="center" valign="top">
            <image src="{{ goals_met_chart }}">
        </td>
    </tr>
</table>

<div>
    <a href="{{ report_link }}">{% trans "Click here to see the full report." %}</a>
</div>

<p>{% trans "Cheers" %},</p>
<p>{% trans "The P2PU Team" %}</p>

{% endblock %}
