{% extends 'email_base.html' %}
{% load i18n %}
{% load extras %}
{% block body %}
 
<p>{% blocktrans with name=study_group.facilitator.first_name %}Hi {{name}}{% endblocktrans %},</p>

{% url 'studygroups_signup' location=study_group.venue_name|unicode_slugify study_group_id=study_group.pk as study_group_url%}
<h2>{% trans "Your learning circle has been created!" %}</h2>

<p>
  {% blocktrans with course_title=study_group.course.title city=study_group.city %}
    Congratulations! You created a learning circle on “{{course_title}}” in {{city}}.
  {% endblocktrans %}
  {% if study_group.draft %}
    {% blocktrans %}You can view a draft signup page at  <a href="{{PROTOCOL}}://{{DOMAIN}}{{study_group_url}}">{{PROTOCOL}}://{{DOMAIN}}{{study_group_url}}</a>
    {% endblocktrans %}
  {% else %}
    {% blocktrans %}
      Your signup page is live at: <a href="{{PROTOCOL}}://{{DOMAIN}}{{study_group_url}}">{{PROTOCOL}}://{{DOMAIN}}{{study_group_url}}</a></p>
    {% endblocktrans %}
  {% endif %}
</p>

<p>{% trans "A handful of P2PU community members are copied on this email. So that they can better assist you, we are including your goals, questions and concerns below." %}</p>

<div style="padding: 0.2em 1em; border-left: solid 10px rgb(255,155,0); background: rgba(255,155,0,15%);">
  <p>
    {% if study_group.facilitator_goal %}
      {% blocktrans with goal=study_group.facilitator_goal %}<strong>Goals</strong>: {{goal}}{% endblocktrans %}
    {% else %}
      {% blocktrans %}<strong>Goals</strong>: Not specified{% endblocktrans %}
    {% endif %}
  </p>
  <p>
    {% if study_group.facilitator_concerns %}
      {% blocktrans with concerns=study_group.facilitator_concerns %}<strong>Questions or concerns</strong>: {{concerns}}{% endblocktrans %}
    {% else %}
      {% blocktrans %}<strong>Questions or concerns</strong>: Not specified{% endblocktrans %}
    {% endif %}
  </p>
</div>

{% url 'studygroups_facilitator_studygroup_create' as dashboard_url %}
<h2>{% trans "What next?" %}</h2>
<ul>
    <li>{% blocktrans %}<a href="https://community.p2pu.org/c/learning-circles/promotion-and-outreach"><b>Review promotion and outreach.</b></a>You'll find templates and discussions on the community that will help you promote your learning circle.{% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="https://community.p2pu.org/c/learning-circles/creating-a-learning-circle"><b>Gather your supplies</b></a>. Make sure you have everything you need before your learning circle gets started.{% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="{{dashboard_url}}"><b>Review learner applications</b></a>. You’ll receive an email whenever somebody applies to your learning circle. You can view their applications and send them messages directly through your dashboard.{% endblocktrans %}</li>
</ul>


<p>{% trans "Cheers" %},<br/>
P2PU</p>
{% endblock %}
