{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}
{% load l10n %}

{% with study_group=application.study_group first_meeting=application.study_group.next_meeting %}
<p>{% blocktrans with name=application.name %}Hi {{name}},{% endblocktrans%}</p>

<p>
{% localize on %}
{% blocktrans with studygroup_name=study_group.name meeting_date=first_meeting.meeting_date|date meeting_time=first_meeting.meeting_time|time meeting_timezone=first_meeting.meeting_datetime|date:"e" %}You signed up for {{studygroup_name}}! The first meeting will be on {{meeting_date}} at {{meeting_time}} {{meeting_timezone}}.
{% endblocktrans %}
{% endlocalize %}
</p>

<p>
{% blocktrans with venue_name=study_group.venue_name venue_details=study_group.venue_details venue_address=study_group.venue_address %}
The address for the meeting is:<br/>
{{venue_details}}<br/>
{{venue_name}}<br/>
{{venue_address}}<br/>
 {% endblocktrans %}
</p>

{% if study_group.facilitator_set.all.count > 1 %}
<h2>{% trans "Meet your facilitators" %}</h2>
{% else %}
<h2>{% trans "Meet your facilitator" %}</h2>
{% endif %}

{% with answers=application.get_signup_questions %}
{% if answers.goals %}
{% if study_group.facilitator_set.all.count == 1 %}
<p>{% blocktrans with facilitator_first_name=study_group.facilitator_set.first.user.first_name facilitator_last_name=study_group.facilitator_set.first.user.last_name %}Your facilitator <strong>{{facilitator_first_name}} {{facilitator_last_name}}</strong> is copied on this email. If you have any questions for them you can reply to this message. To help your facilitator better assist you, we’re including your answers to the signup questions below.{% endblocktrans %}</p>
{% else %}
<p>{% blocktrans %}Your facilitators <strong>{{facilitator_first_last_names}}</strong> are copied on this email. If you have any questions for them you can reply to this message. To help your facilitator better assist you, we’re including your answers to the signup questions below.{% endblocktrans %}</p>
{% endif %}

<ul style="list-style: none; padding: 1em; background: rgba(5, 199, 180, 15%); border-left: 10px solid rgba(5, 199, 180, 100%);">
    <li><strong>{% trans "Q: What is your goal for taking this learning circle?" %}</strong></li>
    {% trans answers.goals as goal_answer %}
    <li>{% blocktrans %}A: {{goal_answer}}{% endblocktrans %}</li>
    <li>&nbsp;</li>
    <li><strong>{% trans "Q: How will you help your peers achieve their goals?" %}</strong></li>
    <li>{% blocktrans with answer=answers.support %}A: {{answer}}{% endblocktrans %}</li>
    {% if study_group.signup_question %}
    <li>&nbsp;</li>
    <li><strong>{% blocktrans with question=study_group.signup_question %}Q: {{question}}{% endblocktrans %}</strong></li>
    <li>{% blocktrans with answer=answers.custom_question %}A: {{answer}}{% endblocktrans %}</li>
    {% endif %}
</ul>
{% else %}
{% if study_group.facilitator_set.all.count == 1 %}
<p>{% blocktrans with facilitator_first_name=study_group.facilitator_set.first.user.first_name facilitator_last_name=study_group.facilitator_set.first.user.last_name %}Your facilitator <strong>{{facilitator_first_name}} {{facilitator_last_name}}</strong> is copied on this email. If you have any questions for them you can reply to this message.{% endblocktrans %}</p>
{% else %}
<p>{% blocktrans %}Your facilitators <strong>{{facilitator_first_last_names}}</strong> are copied on this email. If you have any questions for them you can reply to this message.{% endblocktrans %}</p>
{% endif %}
{% endif %}
{% endwith %}


{% blocktrans %}
<p>During your learning circle, you'll see reminder emails from Peer 2 Peer University (P2PU). That's us! We make tools and resources to connect a global community of learners and facilitators around their shared interests. <a href="https://www.p2pu.org/en/about/" >Learn more about P2PU</a>.</p>
{% endblocktrans %}

{% url 'register' as register_url %}
{% blocktrans %}
<p><a href="{{PROTOCOL}}://{{DOMAIN}}{{ register_url }}">Create a P2PU account</a> to access your learning circle information online.</p>
{% endblocktrans %}

<p>{% trans "Cheers" %}</p>
<p>P2PU</p>

<p>{% blocktrans with unapply_link=application.unapply_link%}If you’d no longer like to participate in this learning circle, you can unenroll through <a href="{{unapply_link}}">this link</a>.{% endblocktrans %}</p>

{% endwith %}
{% endblock %}
