{% extends 'email_base.html' %}
{% load i18n %}
{% block body %}

<p>{% trans "Hi there" %},</p>

<p>{% trans "Your learning circle is coming to a close, but with Peer 2 Peer University, your learning never ends." %}</p>

<p>{% blocktrans %}Let us know how we can help plan your next steps by completing <a href="https://docs.google.com/forms/d/e/1FAIpQLScuRY5CFGR_LrEUvWjyw9H3KCBJANzfuNxkMvpFa3umyusOFQ/viewform?usp=pp_url&entry.1456652861={{learning_circle}}">this brief online survey</a>. As this a brand new education model, we'd love to hear about what worked for you and what still needs tweaking." {% endblocktrans %}</p>

<p>{% trans "Cheers" %},</p>
<p>P2PU</p>
{% endblock %}
