{% extends 'email_base.html' %}
{% load i18n %}
{% block body %}
<p>{% blocktrans %}Hi there {{studygroup.facilitator.first_name}}{% endblocktrans %},</p>

<p>{% blocktrans %}We saw that you created a learning circle last week. Amazing!{% endblocktrans %}</p>

<p>{% blocktrans %}The <a href="https://community.p2pu.org/c/learning-circles/">P2PU community</a> is a great place to help you get everything set up for your learning circle. You can also explore group activities and facilitation strategies that may help you during your learning circle.{% endblocktrans %}</p>

<p>{% trans "Cheers" %},<br/>
P2PU</p>
{% endblock %}
