{% extends 'email_base.html' %}
{% load i18n %}
{% block body %}
<p>{% blocktrans %}Hi there {{studygroup.facilitator.first_name}}{% endblocktrans %},</p>

<p>{% blocktrans %}We saw that you created a Learning Circle last week. Amazing!{% endblocktrans %}</p>

<p>{% blocktrans %}The <a href="https://www.p2pu.org/en/facilitate/starting/">Getting Started section</a> of the handbook has lots of tips on how to promote your Learning Circle in your community. Once this is complete, you can check out the <a href="https://www.p2pu.org/en/facilitate/running/">Running Learning Circles section</a> to read facilitation tips and tricks from past facilitators.{% endblocktrans %}</p>

<p>{% blocktrans %}If you have any other questions, or are looking for general support, post your questions in our <a href="https://groups.google.com/a/p2pu.org/forum/#!forum/community">facilitator community</a>.{% endblocktrans %}

<p>{% trans "Cheers" %},<br/>
P2PU</p>
{% endblock %}
