{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}
<p>{% blocktrans %}Hi there {{ facilitator.first_name }}{% endblocktrans %},</p>

<p>{% blocktrans %}A week ago you signed up for a P2PU account. If you haven&#39;t already, head over to <a href="https://www.p2pu.org/en/facilitate/">www.p2pu.org/facilitate"</a> to get your first learning circle up and running.{% endblocktrans %}</p>

<p>{% blocktrans %}If you have any questions, our team and community of facilitators are available at <a href="https://community.p2pu.org/">the community group</a> to answer questions and share feedback. We&#39;d love to see you there!{% endblocktrans %}</p>

<p>{% trans "Regards" %},<br/>
P2PU</p>
{% endblock %}
