{% extends 'email_base.html' %}
{% load i18n %}
{% block body %}

<p>
{% blocktrans %}
Hi {{first_name}},
{% endblocktrans %}
</p>

<p>{% trans "Your copy of the P2PU organizer guide is attached!" %}</p>
<p>
{% blocktrans %}
We are excited that you want to learn more about starting learning circles in {{location}}.
{% endblocktrans %}
</p>

<p>{% trans "Starting a team is a big commitment, and it also requires some work from P2PU to set up. The P2PU team is copied on this email to help you get started, so please reach out when you’re ready to take the next steps." %}</p>


<p>{% trans 'Cheers' %},</p>
<p>P2PU</p>

{% endblock %}
