{% extends 'email_base.html' %}
{% load i18n %}
{% block body %}
<p>{% blocktrans with first_name=study_group.facilitator.first_name %}Hi there {{first_name}}{% endblocktrans %}</p>

<p>{% blocktrans with meeting_date=next_meeting.meeting_datetime|date:"MEETING_DATETIME_FORMAT" %}We've generated a reminder for the learning circle meeting this {{meeting_date}}. The reminder will be sent automatically in 2 days from now.{% endblocktrans %}</p>

<p>{% trans "This is what the reminder will look like." %}</p>

<p><strong>{% trans "Email to learning circle participants" %}</strong></p>

<div style="padding: 0.2em 1em 0.2em; background-color: #E9E9E9;">
    {{ reminder.email_body | linebreaks }}
</div>

<p>{% trans "We'll insert RSVP links below for learners to indicate if they can attend the meeting" %}</p>

<p><strong>{% trans "Text message to learning circle participants" %}</strong></p>

<div style="padding: 0.2em 1em 0.2em; background-color: #E9E9E9;">
    <p>{{ reminder.sms_body }}</p>
</div>

{% url 'studygroups_message_edit' reminder.study_group.id reminder.id as message_edit_url %}
<p>{% blocktrans %}If you wish to edit the reminder, you can follow <a href="{{PROTOCOL}}://{{DOMAIN}}{{message_edit_url}}">this link</a>.{% endblocktrans %}</p>

<p>{% trans "Regards" %}</p>
<p>P2PU</p>
{% endblock %}
