{% extends 'email_base.html' %}
{% load humanize %}
{% load i18n %}

{% block body %}
  <h1>{% trans "Learning circles update" %}</h1>
  <p>{% blocktrans with start_date=start_time|date:"l, j F" end_date=end_time|date:"l, j F" %}for the time period starting {{start_date}} and ending {{end_date}}.{% endblocktrans %}</p>
  {% url 'studygroups_weekly_report_date' start_time.year start_time.month start_time.day as report_url %}
  {% if protocol and domain %}<p>{% blocktrans %}You can also view this report <a href="{{protocol}}://{{domain}}{{report_url}}">online</a>.{% endblocktrans %}</p>{% endif %}
  <p><strong>{% trans "This week" %}</strong></p>
  <ul>
    <li>
        {% blocktrans count meeting_count=meetings|length %}
          {{meeting_count}} learning circle met!
        {% plural %}
          {{meeting_count}} learning circles met!
        {% endblocktrans %}
    </li>
    <li>
        {% blocktrans count feedback_count=feedback|length %}
          {{feedback_count}} facilitator recorded feedback!
        {% plural %}
          {{feedback_count}} facilitators recorded feedback!
        {% endblocktrans %}
    </li>
    {% if not team %}
      <li>
        {% blocktrans count facilitator_count=facilitators|length %}
          {{facilitator_count}} facilitator signed up!
        {% plural %}
          {{facilitator_count}} facilitators signed up!
        {% endblocktrans %}
      </li>
    {% endif %}
    <li>
      {% blocktrans count login_count=logins|length%}
        {{login_count}} facilitator logged in.
      {% plural %}
        {{login_count}} facilitators logged in.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans count study_group_count=study_groups|length %}
        {{study_group_count}} learning circle was created.
      {% plural %}
        {{study_group_count}} learning circles were created.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans count signup_count=signups|length %}
        {{signup_count}} learner applied to join a learning circle.
      {% plural %}
        {{signup_count}} learners applied to join a learning circle.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans count course_count=courses|length %}
        {{course_count}} course was added.
      {% plural %}
        {{course_count}} courses were added.
      {% endblocktrans %}
    </li>
  </ul>
  
  {% if feedback %}<h2>{% trans "Feedback from this week" %}</h2>{% endif %}
  {% for feedback_response in feedback %}
    {% with study_group=feedback_response.study_group_meeting.study_group %}
    <h3>{% blocktrans with course=study_group.course.title venue=study_group.venue_name first_name=study_group.facilitator.first_name last_name=study_group.facilitator.last_name email=study_group.facilitator.email %}
      <strong><i>&quot;{{course}}&quot;</i></strong> at {{venue}} facilitated by <a href="mailto:{{email}}">{{first_name}} {{last_name}}</a>.{% endblocktrans %}</h3>
    {% endwith %}
    <p>{% trans "Summary" %}:</p>
    <p style="padding: 0.2em 1em 0.2em; background-color: #E9E9E9; font-style: italic;">&quot;{{ feedback_response.feedback }}&quot;</p>
    <p><strong>{% trans "Things worth sharing" %}:</strong></p>
    <p style="padding: 0.2em 1em 0.2em; background-color: #E9E9E9; font-style: italic;">&quot;{{ feedback_response.reflection }}&quot;</p>
    <p><strong>{% trans "How many people attended?" %}</strong> {{ feedback_response.attendance }}</p>
    <p><strong>{% trans "Overall rating" %}:</strong> {{ feedback_response.get_rating_display }}</p>
    <hr/>
  {% endfor %}

  {% if courses %}<h2>{% trans "Courses added this week" %}</h2>{% endif %}
  {% for course in courses %}
    <ul style="list-style:none; padding: 1em; background-color: #E9E9E9;">
      <li><strong>{% trans "Title" %}</strong>: {{course.title}}</li>
      <li><strong>{% trans "Creator" %}</strong>: {{course.provider}}</li>
      <li><strong>{% trans "Website" %}</strong>: <a href="{{course.link}}">{{course.link}}</a></li>
      <li><strong>{% trans "Description" %}</strong>: {{course.caption}}</li>
      <li><strong>{% trans "Availability" %}</strong>: {% if course.on_demand %}{% trans "On demand" %}{% else %}{% trans "Check website" %}{% endif %}</li>
      <li><strong>{% trans "Topics" %}</strong>: {{course.topics}}</li>
    </ul>
  {% endfor %}

  {% if finished_study_groups %}<h2>{% trans "Learning circles that finished this week" %}</h2>
  <ol>
  {% for study_group in finished_study_groups %}
      <li>
      {% blocktrans with course=study_group.course.title venue=study_group.venue_name first_name=study_group.facilitator.first_name last_name=study_group.facilitator.last_name email=study_group.facilitator.email%}
        <strong><i>&quot;{{course}}&quot;</i></strong> at {{venue}} facilitated by <a href="mailto:{{email}}">{{first_name}} {{last_name}}</a>.
      {% endblocktrans %}
      </li>

  {% endfor %}
  </ol>
  {% endif %}

  {% if meetings %}
  <h2>{% trans "Meetings this week" %}</h2>
  <ol>
  {% for meeting in meetings|dictsort:"meeting_datetime" %}
    {% with study_group=meeting.study_group %}
    <li>
      {% blocktrans with meeting_date=meeting.meeting_datetime|date:"fA, l, j F" meeting_number=meeting.meeting_number course=study_group.course.title venue=study_group.venue_name first_name=study_group.facilitator.first_name last_name=study_group.facilitator.last_name email=study_group.facilitator.email meeting_count=study_group.meeting_set.active.count %}
      <strong><i>&quot;{{course}}&quot;</i></strong> at {{venue}} facilitated by <a href="mailto:{{email}}">{{first_name}} {{last_name}}</a> met {{meeting_date}} for meeting {{meeting_number}} of {{meeting_count}}.
      {% endblocktrans %}
    </li>
    {% endwith %}
  {% endfor %}
  </ol>
  {% endif %}
{% endblock %}
