{% extends 'email_base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load extras %}
{% block body %}

<style type="text/css">
  .email-content {
    color: #515665;
  }

  .email-content h1, .email-content h2, .email-content h3, .email-content h4, .email-content h5 {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    line-height: normal;
  }

  .email-content h1 {
    font-size: 2em;
  }

  .email-content h2 {
    font-size: 1.5em;
  }

  table.inner-table {
    line-height: 1.4;
    border-collapse: collapse;
    width: 100%;
  }

  table.inner-table thead tr {
    font-weight: bold;
  }

  table.inner-table thead td {
    border-bottom: 1px solid #515665;
    padding: 5px;
  }

  table.inner-table tbody td {
    border-bottom: 1px solid #F3F4F8;
    padding: 5px;
  }

  table.chart-table {
    width: 100%;
  }

  .section-header {
    background-color: #515665;
    color: #FFFFFF;
    padding: 5px;
  }

  .report-section {
    margin-bottom: 40px;
  }

  .title-section {
    overflow: auto;
  }

  .title-section h1 {
    float: left;
    margin-top: 0;
  }

  .title-section p {
    float: right;
    margin-top: 8px;
    vertical-align: middle;
    border-left: 6px solid #515665;
    padding-left: 10px;
    line-height: 1.4;
  }

  .email-content ul {
    padding-left: 0;
    padding-bottom: 10px;
    list-style: none;
    margin-top: 1em;
  }

  .email-content ul li {
    margin: 10px 0;
    border-left: 6px solid #515665;
    padding-left: 10px;
    line-height: 1.4;
  }

  .emoji {
    font-size: 26px;
    vertical-align: middle;
  }

  .col-12 {
    padding: 0;
  }

  .feedback-box {
    padding: 20px;
    background: #049487;
    color: white;
    font-weight: 700;
  }

  .feedback-box p {
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 1.5;
  }

  .feedback-box > div {
    display: inline-block;
  }

  .email-layout button.p2pu-btn.light {
    border-radius: 2em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 5px 15px;
    border: none;
    box-shadow: 0 0 1px transparent;
    position: relative;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: #FFFFFF;
    color: #515665;
    margin-right: 5px;
  }
</style>

  {% if team %}
    <h1>{% blocktrans with team_name=team.name %}Weekly P2PU update for {{ team_name }}{% endblocktrans %}</h1>
  {% else %}
    <h1>{% trans "Weekly learning circles update" %}</h1>
  {% endif %}

  <p>{{start_time|date:"l, F j, Y" }}</p>


  {% if team and team.membership %}
    <!-- TODO -->
    <p>The next member learning circle, [title], begins on [weekday, month, date]. Sign up here or on your dashboard.</p>
  {% endif %}

  <div class="report-section">
    <h2>
      <span class="section-header">
        {% blocktrans count upcoming_studygroups_count=upcoming_studygroups_count %}
          {{ upcoming_studygroups_count }} learning circle are scheduled to start
        {% plural %}
          {{ upcoming_studygroups_count }} learning circles are scheduled to start
        {% endblocktrans %}
      </span>
    </h2>

    {% if upcoming_studygroups_count > 0 %}
    <table class="inner-table">
      <thead>
        <tr>
          <td>{% trans "Learning circle" %}</td>
          <td>{% trans "Venue" %}</td>
          <td>{% trans "Facilitator" %}</td>
          <td>{% trans "Signups" %}</td>
          <td>{% trans "First meeting" %}</td>
          <td>{% trans "# LC for Facilitator" %}</td>
        </tr>
      </thead>
      <tbody>
        {% for studygroup in upcoming_studygroups %}
          <tr>
            <td><a href="{{ studygroup.signup_url }}">{{ studygroup.name }}</a></td>
            <td>{{ studygroup.venue_name|title  }}</td>
            <td>
              {% blocktrans with first_name=studygroup.facilitator.first_name|title last_name=studygroup.facilitator.last_name|title email=studygroup.facilitator.email %}
                <a href="mailto:{{email}}">{{first_name}} {{last_name}}</a>
              {% endblocktrans %}
            </td>
            <td>{{ studygroup.application_set.active.count }}</td>
            <td>{{ studygroup.first_meeting.meeting_datetime }}</td>
            <td>{{ studygroup.lc_number }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

  <div class="report-section">
    <h2>
      <span class="section-header">
        {% blocktrans count studygroups_met_count=studygroups_met_count %}
          {{ studygroups_met_count }} learning circle will meet this week,
        {% plural %}
          {{ studygroups_met_count }} learning circles will meet this week,
        {% endblocktrans %}
        {% blocktrans count learners_reached_count=learners_reached_count %}
          reaching {{ learners_reached_count }} learner
        {% plural %}
          reaching {{ learners_reached_count }} learners
        {% endblocktrans %}
      </span>
    </h2>

    {% if meetings %}
      <h3>{% trans "Meetings this week" %}</h3>
      <table class="inner-table">
        <thead>
          <tr>
            <td>{% trans "Learning circle" %}</td>
            <td>{% trans "Venue" %}</td>
            <td>{% trans "Facilitator" %}</td>
            <td>{% trans "Signups" %}</td>
            <td>{% trans "Next meeting" %}</td>
            <td>{% trans "Meeting number" %}</td>
          </tr>
        </thead>
        <tbody>
          {% for meeting in meetings %}
            {% with study_group=meeting.study_group %}
            <tr>
              <td><a href="{{ study_group.signup_url }}">{{ study_group.name }}</a></td>
              <td>{{ study_group.venue_name }}</td>
              <td><a href="mailto:{{ study_group.facilitator.email }}">{{ study_group.facilitator.first_name }} {{ study_group.facilitator.last_name }}</a></td>
              <td>{{ study_group.application_set.active.count}}</td>
              <td>{{ meeting.meeting_datetime|date:"fA, l, M j" }}</td>
              <td>{{ meeting.meeting_number }} of {{ study_group.meeting_set.active.count }}</td>
            </tr>
            {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>

  <div class="report-section">
    <h2>
      <span class="section-header">
        {% blocktrans count finished_studygroups_count=finished_studygroups_count %}
          {{ finished_studygroups_count }} learning circle wrapped up last week
        {% plural %}
          {{ finished_studygroups_count }} learning circles wrapped up last week
        {% endblocktrans %}
      </span>
    </h2>

    {% if finished_studygroups_count > 0 %}
    <table class="inner-table">
      <thead>
        <tr>
          <td>{% trans "Learning circle" %}</td>
          <td>{% trans "Venue" %}</td>
          <td>{% trans "Facilitator" %}</td>
          <td>{% trans "Sign ups" %}</td>
          <td>{% trans "Final meeting" %}</td>
          <td>{% trans "More details" %}</td>
        </tr>
      </thead>
      <tbody>
        {% for study_group in finished_studygroups %}
          <tr>
            <tr>
              <td><a href="{{ study_group.signup_url }}">{{ study_group.name }}</a></td>
              <td>{{ study_group.venue_name }}</td>
              <td><a href="mailto:{{ study_group.facilitator.email }}">{{ study_group.facilitator.first_name }} {{ study_group.facilitator.last_name }}</a></td>
              <td>{{ study_group.application_set.active.count}}</td>
              <td>{{ study_group.last_meeting.meeting_datetime|date:"fA, l, M j" }}</td>
              <td>
                <a href="{% url 'studygroups_view_study_group' study_group.pk %}">{% trans "Mgmt page" %}</a>
              </td>
            </tr>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

  <div class="report-section">
    <h2>
      <span class="section-header">
        {% blocktrans count feedback_count=feedback.count %}
        {{ feedback_count }} facilitator left feedback last week
        {% plural %}
        {{ feedback_count }} facilitators left feedback last week
        {% endblocktrans %}
      </span>
    </h2>
    {% if feedback.count %}
    <ul>
    {% for feedback_response in feedback %}
      {% with study_group=feedback_response.study_group_meeting.study_group %}
        <li>
          <h3>{% blocktrans with studygroup_name=study_group.name %}{{studygroup_name}}{% endblocktrans %}</h3>
          <p>
            {% blocktrans with venue=study_group.venue_name first_name=study_group.facilitator.first_name last_name=study_group.facilitator.last_name %}
              Facilitated by {{first_name}} {{last_name}} at {{venue}}
            {% endblocktrans %}
          </p>
          {% if feedback_response.rating %}
          <p><strong>{% trans "Overall rating" %}:</strong> {{ feedback_response.get_rating_display }}</p>
          {% endif %}
          {% if feedback_response.attendance %}
            <p><strong>{% trans "Attendance" %}:</strong> {{ feedback_response.attendance }}</p>
          {% endif %}
          {% if feedback_response.reflection %}
            <p><strong>{{feedback_response.reflection_json.prompt}}:</strong> &quot;{{ feedback_response.reflection_json.answer }}&quot;</p>
          {% endif %}
          {% if feedback_response.feedback %}
            <p><strong>{% trans "Summary" %}:</strong> &quot;{{ feedback_response.feedback }}&quot;</p>
          {% endif %}
        </li>
      {% endwith %}
    {% endfor %}
    </ul>
    {% endif %}
  </div>


  <div class="report-section">
    <h2>
      <span class="section-header">
        {% blocktrans count number=new_applications.count %}
          {{ number }} learner signed up for a learning circle last week
        {% plural %}
          {{ number }} learners signed up for a learning circle last week
        {% endblocktrans %}
      </span>
    </h2>
    {% if new_applications|length > 0 %}
      {% trans 'Learner Goals' %}
      <table class="inner-table">
        <thead>
          <tr>
            <td>{% trans "Learning circle" %}</td>
            <td>{% trans "Goal for signing up?" %}</td>
          </tr>
        </thead>
        <tbody>
          {% for signup in new_applications %}
            <tr>
              <td><a href="{{signup.study_group.signup_url}}">{{ signup.study_group.name | title }}</a></td>
              {% with answers=signup.get_signup_questions %}
                <td>{{ answers.goals }}</td>
              {% endwith %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>

  <div class="report-section">
    <h2>
      <span class="section-header">
        {% blocktrans count new_users_count=new_users_count %}
          {{ new_users_count }} new team member joined last week
        {% plural %}
          {{ new_users_count }} new team members joined last week
        {% endblocktrans %}
      </span>
    </h2>
    {% if new_users_count %}
    <table class="inner-table">
      <thead>
        <tr>
          <td>{% trans "Name" %}</td>
          <td>{% trans "Email" %}</td>
        </tr>
      </thead>
      <tbody>
        {% for user in new_users %}
          <tr>
            <td>{{ user.first_name | title }} {{ user.last_name | title }}</td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

  <div class="report-section">
    <h2>
      <span class="section-header">
      {% blocktrans count new_courses_count=new_courses_count %}
        {{ new_courses_count }} learning resource was added by your team
      {% plural %}
        {{ new_courses_count }} learning resources were added by your team
      {% endblocktrans %}
      </span>
    </h2>

    <ul>
    {% for course in new_courses %}
        <li>{{ course.created_by.first_name }} {% trans "added" %} <a href="{% url 'studygroups_course_page' course.pk %}">{{ course.title }}</a></li>
      {% endfor %}
    </ul>
    <p>{% blocktrans %}View all the resources added by our global community on the <a href="https://www.p2pu.org/en/courses/" target="_blank">learning resources page</a>.{% endblocktrans %}</p>
  </div>


  <!-- section about new facilitator guides -->
  <div class="report-section">
    <h2>
      <span class="section-header">
      {% blocktrans count new_guides_count=new_facilitator_guides.count %}
        Our global community added {{new_guides_count}} new facilitator guide
      {% plural %}
        Our global community added {{new_guides_count}} new facilitator guides
      {% endblocktrans %}
      </span>
    </h2>
    <ul>
      <!-- TODO add guides -->
      {% for guide in new_facilitator_guides %}
      <li><a href="{{guide.link}}">{{guide.title}}</a>: {{guide.caption}}</li> 
      {% endfor %}
    </ul>
    <p>{% blocktrans %}View all the facilitator guides on the <a href="https://www.p2pu.org/en/courses/" target="_blank">learning resources page</a>.{% endblocktrans %}</p>
  </div>


  <p>{% blocktrans %}Questions about your weekly update? Drop us a line at thepeople@p2pu.org.{% endblocktrans %}</p>

  {% if email %}
    {% url 'studygroups_weekly_report_date' start_time.year start_time.month start_time.day as report_url %}
    <p>{% blocktrans %}You can also view this weekly update <a href="{{PROTOCOL}}://{{DOMAIN}}{{report_url}}">online</a>.{% endblocktrans %}</p>
  {% endif %}

  {% url 'studygroups_facilitator' as dashboard_url %}
  <p>{% blocktrans %}No longer want to receive this? Manage communication preferences from your <a href="{{PROTOCOL}}://{{DOMAIN}}{{dashboard_url}}">dashboard</a>.{% endblocktrans %}</p>

{% block scripts %}
    <script src="{% static 'js/vendor/pygal-tooltips.min.js' %}"></script>
{% endblock %}

{% endblock %}
