bleach
boto
boto3
CairoSVG
celery
crispy-bootstrap5
dj-database-url
Django==2.2.28
django-bleach
django-cors-headers
django-crispy-forms
django-filter
django-phonenumber-field
django-tinymce
django-webpack-loader==0.5.0
djangorestframework
freezegun
geonamescache
gunicorn
icalendar
Markdown
phonenumberslite
Pillow
premailer
psycopg2-binary==2.8.6
pygal
requests
s3-backup-rotate==0.3.3
s3transfer
selenium
twilio
unicodecsv
