bleach
boto
boto3
CairoSVG
celery
crispy-bootstrap5
dj-database-url
Django==4.2.11
django-bleach
django-cors-headers
django-crispy-forms
django-filter
django-phonenumber-field
django-tinymce
django-webpack-loader
djangorestframework
freezegun
geonamescache
gunicorn
icalendar
Markdown
phonenumberslite
Pillow
premailer
psycopg2-binary
pygal
requests
s3-backup-rotate==0.3.3
s3transfer
selenium
twilio
unicodecsv
