amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
arrow==0.4.2
Babel==2.3.4
beautifulsoup4==4.6.3
billiard==3.3.0.23
bleach==2.1.3
boto==2.38.0
boto3==1.7.3
botocore==1.10.3
cairocffi==0.9.0
CairoSVG==2.1.3
celery==3.1.25
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
cssselect==1.0.3
cssselect2==0.2.1
cssutils==1.0.2
defusedxml==0.5.0
dj-database-url==0.4.2
Django==2.2.10
django-appconf==1.0.1
django-cors-headers==3.0.0
django-crispy-forms==1.7.2
django-filter==2.2.0
django-inlinecss==0.1.2
django-phonenumber-field==1.1.0
django-webpack-loader==0.5.0
djangorestframework==3.10.1
docutils==0.14
filechunkio==1.6
freezegun==0.3.8
futures==2.2.0
geonamescache==0.21
gunicorn==19.7.1
html5lib==1.0.1
httplib2==0.9.1
icalendar==4.0.3
idna==2.8
jmespath==0.9.3
kombu==3.0.37
lxml==4.2.5
Markdown==3.1.1
mock==1.0.1
olefile==0.44
packaging==16.8
phonenumberslite==7.7.0
Pillow==6.2.0
premailer==3.2.0
psycopg2==2.7.3.1
pycparser==2.19
pygal==2.4.0
PyJWT==1.5.3
pynliner3==0.6
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.6.1
pytz==2017.2
requests==2.22.0
s3-backup-rotate==0.3.3
s3transfer==0.1.13
selenium==3.141.0
six==1.11.0
tinycss2==0.6.1
transifex-client==0.12.4
twilio==6.8.0
unicodecsv==0.14.1
urllib3==1.25.2
vine==1.1.3
webencodings==0.5.1
