Django==1.8.1
Pillow==2.8.1
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-appconf==1.0.1
django-crispy-forms==1.5.1
django-localflavor==1.1
django-s3direct==0.3.10
django-toolbelt==0.0.1
gunicorn==19.3.0
httplib2==0.9.1
mock==1.0.1
psycopg2==2.6
python-dateutil==2.4.2
pytz==2015.2
six==1.9.0
static3==0.5.1
twilio==4.0.0
wsgiref==0.1.2
