cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
charset-normalizer==3.3.2
google-api-core==2.19.1
google-api-python-client==2.142.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.3.0
googleapis-common-protos==1.63.2
httplib2==0.22.0
idna==2.8
oauthlib==3.0.1
proto-plus==1.24.0
protobuf==5.27.3
pyasn1==0.4.5
pyasn1-modules==0.2.4
pyparsing==3.1.4
PyYAML==5.1
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
uritemplate==4.1.1
urllib3==1.24.1

