{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
      <h1>Log in</h1>
      <p>Or <a href="{% url 'studygroups_facilitator_signup' %}">create account</a></p>
      <p>Your username is the email address you signed up with.</p>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </div>
{% endblock %}
