{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{% url 'register' as signup_url %}
<div id="account-login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 flex-column d-flex">
        <header class="page-header">

          <h1 class="my-0">{% trans "Log in" %}</h1>
          <p class="text-lg"><a href="{{ signup_url }}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}">{% trans 'Create an account ' %}</a>{% trans "if you don't have one already" %}</p>
        </header>

        <p class="text-lg">{% trans "Forgot your username? It's the email address you signed up with." %}</p>

        <p class="text-lg">{% trans 'Forgot your password? ' %}<a href="{% url 'password_reset' %}">{% trans "Reset it here." %}</a></p>
      </div>

      <div class="col-12 col-lg-5 mt-lg-4 create">
        <div class="container bg-light-blue">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
              <button type="submit" class="btn p2pu-btn blue">{% trans "Login" %}</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
