.organizer {

  h1 {
    color: blue;
  }
    
  table {
    width: 100%;
    table-layout: fixed;
  }

  tbody > tr:nth-child(odd) {
    background-color: #EEE;
  }

  td, th {
    padding: 0.1em 0.5em;
  }

}
