.report-measurement.shadow {
  box-shadow: -2px 2px 6px rgba(0,0,0,0.2);
}

.report-measurement.gray-border {
  border: 1px solid #D3D8E6;
}

.report-measurement {
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 1em;
  height: 100%;
  


  .bold {
    font-weight: bold;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .small {
    font-size: 0.8em;
  }
}

.report-charts {
  display: flex;
  flex-wrap: wrap;

  & > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}



.card-container {
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 60px;
}

.extrabold {
  font-weight: 800;
}

.lc-card-teal {
  color: #04b0aa;
}

.lc-card {
  @media (min-width: map-get($grid-breakpoints, "sm")){
    height: 380px;
  }
  max-width: 340px;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  position: relative;
  margin: 0 auto 1em;
  overflow: hidden;
  &:hover {
    overflow: visible;
  }

  img {
    display: block;
    width: 100%;
  }

  div.title-container {
    position: absolute;
    left: 0;
    top: 0;
    display:table;
    height:143px;
    width: 100%;
    background-image: url("../images/lc-overlay.png"); /* Gradient overlay under the course name to make the text more readable over any kind of image*/
    background-position: bottom center;
  }

  div.title-container h1 {
    display: table-cell;
    vertical-align: bottom;
    color: #ffffff;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 800;
    padding: 12px 16px
  }

  div.body-container {
    padding: 1em;
    background-color: #ffffff;
  }

  p {
    position: relative;
    color: #515665;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 300;
    //padding-left: 48px;
    text-align: center;
  }

  p.facilitator:before{
    font-family: FontAwesome;
    content: "\f007";
    font-size:24px;
    color: #7e7e7e;
    position:absolute;
    left:18px;
  }

  p.lc-venue {
    text-transform: uppercase;
    color: #04b0aa;
    font-weight: 800;
  }

  p.lc-venue:before {
    font-family: FontAwesome;
    content: "\f041";
    font-size:24px;
    color: #7e7e7e;
    position:absolute;
    left:16px;
  }

  p.lc-days:before {
    font-family: FontAwesome;
    content: "\f073";
    font-size:24px;
    color: #7e7e7e;
    position:absolute;
    left:16px;
  }

  a.link-overlay{
    position:absolute;
    width:100%;
    height:100%;
    left: 0;
    z-index: 1;
  }
}

.thumbnail {
  background-color: $gray-snow;
  position: relative;
  @include transition(background-color 0.3s linear);
  padding: 0;

  &:hover {
    text-decoration: none;
    background-color: $gray-light;
  }

  img {
    width: 100%;
  }

  .thumbnail-side {
    position: relative;
    text-align: center;
    background: $primary;
    color: $white;
    margin-bottom: 0.5em;
    font-family: $headings-font-family;
    font-size: 1em;
  }

  .cotent-wrap {
    text-align: center;
    color: grey;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: 1em;
  }
}

.csstransforms .thumbnail {
  border: 0;
}

.about-teal{
  color: #04b0aa;
}

h1.lc-about-header {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
}

.lc-about-section p.about-body{
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: #515665;
  margin-bottom: 15px;
}


.lc-about-section a.lc-about-link:link, a.lc-about-link:visited{
  text-decoration: underline;
  color: #04b0aa;
  font-weight: 800;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}


img.lc-about-image{
  max-width: 100%;
}



.bottom-link {
  margin: 2em 0;
}

.social-footer {
  a {
    padding: 3px 10px;
    border-radius: 2px;
    margin-top: -18px;
    font-size: 0.8em;

    &.tw {
      background-color: #00BBF5;
      border-color: #00BBF5;
      &:hover {
        background-color: darken(#00BBF5, 5%);
      }
    }

    &.fb {
      background-color: #415E9B;
      border-color: #415E9B;
      &:hover {
        background-color: darken(#415E9B, 5%);
      }
    }
  }
}

.connect-icons-wrapper {
  margin: 50px 0;

  $icon-size-background: 8em;
  .icon-circle {
    display: block;
    margin: 0 auto;
    background-color: $gray;
    color: $white;
    border-radius: 50%;
    height: $icon-size-background;
    width: $icon-size-background;
    text-align: center;
    line-height: $icon-size-background + 1.5;
    @include transition(all 0.3s linear);
  }

  .item-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 1em 0;
    line-height: 2;
    color: $p2pu-blue;
    @include transition(all 0.3s linear);
  }

  &:hover{
    .icon-circle {
      background-color: $gray-snow;
      color: $primary;
    }

    .item-title {
      color: $p2pu-orange;
    }
  }
}

.learning-circle-signup, .learning-circle-login {
  background: url("../images/learning-circle.png") bottom center no-repeat;
  background-size: 80% auto;

  .background {
    padding-bottom: 20%;
    background: rgba(255,255,255,0.7);
  }

  img {
    width: 100%;
  }

  .page-content {
    padding-bottom: $padding-md;
    padding-top: $padding-md;

    header {
      margin-bottom: 1em;

      small {
        color: $gray;
      }
    }

    .form {
      background: $gray-dark;
      padding: 2em;
      color: $white;

      .algolia-places {
        color: $gray-dark;
      }

      #div_id_team_membership-weekly_update_opt_in, #div_id_profile-communication_opt_in, #div_id_communication_opt_in {
        label {
          display: flex;
          align-items: center;

          input {
            margin-right: 10px;
          }
        }
      }


      .help-block {
        color: $gray-light;
        font-size: 0.8em;
      }

      .form-check-input {
        margin-top: initial;
      }

      .form-group label {
        font-weight: bold;
      }

      #div_id_avatar {
        label[for='avatar-clear_id'] {
          font-weight: normal;
        }

        input[type='checkbox'] {
          margin-left: 10px;
        }
      }
    }
  }
}

.copy-url {
  background-color: $gray-light;
  color: $gray-dark;
  padding: 8px;
  border-radius: 8px;
}

.signup-success {
  max-width: 100%;
}

.close{
  color: #FF0000;
  opacity: 1;
  font-size: 30px;
}

.digital-literacy {
  button { border-radius: 0px; border: 1px; }
  .level-0 { color: #FF3031; }
  .level-1 { color: #E87A43; }
  .level-2 { color: #FFCE56; }
  .level-3 { color: #92B539; }
  .level-4 { color: #20702B; }
}

.http-error-page, .logged-out-page {
  text-align: center;
  padding: 25vh 15px;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  z-index: 2; //TODO use variable
}

.page-content {
  line-height: 2;
}

.recipe-card-links .btn.btn-primary {
  margin-top: 5px;
}

.confirmation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding-md;

  &.saved {
    i.material-icons {
      font-size: 200px;
      color: $p2pu-blue;
    }
  }

  &.published {
    i.material-icons {
      font-size: 200px;
      color: $p2pu-yellow;
    }
  }
}

.alert-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  padding: 20px 40px;
  top: 0;

  .alert {
    position: relative;
    z-index: 1050;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    display: flex;

    .alert-content {
      margin-right: 20px;
    }

    button.close {
      color: white;
      opacity: 0.7;
    }

    &.alert-info button.close {
      color: $gray-dark;
      opacity: 1;
    }

  }
}


/* CSS loader */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $p2pu-blue;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/** legacy link **/
.legacy-link {
  display: block;
  text-align: center;
}

.feedback-done {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  .option {
    p {
      display: flex;
      align-items: center;
    }

    i {
      margin-right: 20px;
      color: $p2pu-orange;
    }
  }

  .actions {
    a {
      margin-bottom: 1rem;
      white-space: nowrap;
    }
  }
}

.course-page {
  section {
    padding-bottom: 2rem;
  }

  .subtitle {
    font-family: $font-family-sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .grid-wrapper {
    line-height: 1.5;

    .label {
      font-weight: bold;
      text-align: left;
      font-size: 1rem;

      .overall-rating {
        font-size: 5rem;
        font-weight: normal;
      }
    }

    &.community-feedback {
      .row {
        align-items: center;
      }

      .graphic {
        grid-column: span 2;
      }
    }

    &.ratings-section {
      align-items: stretch;

      > div:nth-child(odd) {
        align-items: flex-end;
        display: flex;
        padding-bottom: 10px;
      }
    }
  }


  .progress {
    background-color: $white;
    border-radius: 1rem;
    border: 1px solid $gray-dark;

    .progress-bar {
      border-radius: 1rem;
    }
  }

  .discourse-preview {
    .post {
      .post-text p {
        border-left: 6px solid $p2pu-light-blue;
        padding-left: 1rem;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
  .feedback-done {
    .actions {
      display: flex;
      flex-direction: column;

      a {
        margin-bottom: 1rem;
      }
    }
  }

  .ratings-section {
    > div:nth-of-type(1) {
      order: 1
    }

    > div:nth-of-type(2) {
      order: 0
    }

    > div:nth-of-type(3) {
      order: 2
    }
  }
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}


/* Learning circle report */

#learning-circle-report {
  .report-measurement {
    box-shadow: -2px 2px 6px rgba(0,0,0,0.2);
  }

  .quote-list {
    li {
      border-left: 6px solid $primary;
      line-height: 1.5;

      &:nth-of-type(4n+1) {
        border-color: $info;
      }

      &:nth-of-type(4n+2) {
        border-color: $success;
      }

      &:nth-of-type(4n+3) {
        border-color: $warning;
      }

      &:nth-of-type(4n+4) {
        border-color: $danger;
      }
    }
  }

  .course-rating {
    font-size: calc(18px + 1.5vw);
  }
}

table.inner-table {
  width: 100%;
  line-height: 1.4;
  border-collapse: collapse;
}

table.inner-table thead tr {
  font-weight: bold;
}

table.inner-table thead td {
  border-bottom: 1px solid #515665;
  padding: 5px;
}

table.inner-table tbody td {
  border-bottom: 1px solid #F3F4F8;
  padding: 5px;
}

.table-container {
  max-height: 75vh;
  overflow-y: auto;
}

.card {
  .table-container {
    max-height: 360px;

    table {
      td {
        white-space: nowrap;
      }
    }
  }

  .meeting-card {
    border-bottom: 1px solid $gray-light;

    .material-icons {
      font-size: 18px;
    }
  }

  .resources {
    display: flex;
    flex-wrap: wrap;

    .resource-card {
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;

      .image {
        background-color: $p2pu-light-blue;
        min-height: 150px;
        width: 100%;
        position: relative;

        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }

        .overlay {
          position: absolute;
          top: 0;
          right: 0;
          padding: 10px;
          display: flex;

          button {
            margin-left: 6px;
            background: $gray-dark;
            color: $white;
            border: none;
            height: 24px;
            width: 24px;
            line-height: 1;
          }

          .topic-type {
            background: $gray-dark;
            color: $white;
            height: 24px;
            padding-left: 4px;
            padding-right: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .title {
        margin-top: 10px;
        font-weight: $font-weight-bold;
        font-family: $font-family-sans-serif;

        a {
          color: $gray-dark;
        }
      }
    }
  }
}


@media print {
  nav.nav-collapsed, footer.home-footer {
    display: none;
  }

  main {
    padding-top: 0;
  }

  .avoid-page-break {
    display: block;
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }
}


.p2pu-btn {
  margin: 4px;
  padding: 0.2em 1em;
}


// from frontend/components/stylesheets/dashboard.scss
@mixin drop-shadow {
  box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.10);
}

.card {
  padding: $padding-sm;
  border-radius: 0;
  border: none;
  margin-bottom: $padding-sm;
  @include drop-shadow;
  font-size: $font-size-sm;
  transition: all ease-in-out 0.3s;

  &:hover {
    box-shadow: -3px 3px 6px 2px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: $font-size-base;
    font-weight: 700;
  }

  // TODO
  //.text-xs {
  //  font-size: $font-size-xs;
  //}
  //

  .p2pu-btn.btn-sm {
    padding: 0.5em 1em;
  }

  .meeting-card {
    border-bottom: 1px solid $gray-light;

    &:last-of-type {
      border-bottom: none;
    }

    .image-thumbnail {
      img {
        height: 80px;
        width: 100%;
        object-fit: cover;
      }
    }

    .content {
      .minicaps {
        white-space: nowrap;
      }
    }
  }
}

table.table {
  thead {
    tr {
      td {
        border-bottom: 2px solid $gray-dark;
        border-top: none;
        font-weight: 700;
      }
    }
  }

  td {
    padding: 0.5em;
  }
}



