.thumbnail {
	background-color: $gray-snow;
	position: relative;
	@include transition(background-color 0.3s linear);
    padding: 0;

    &:hover {
		text-decoration: none;
		background-color: $gray-lighter;
	}

    img {
        width: 100%;
    }

	.thumbnail-side {
		position: relative;
		text-align: center;
		background: $brand-primary;
		color: $white;
		margin-bottom: 0.5em;
		font-family: $headings-font-family;
		font-size: 1em;
	}

	.cotent-wrap {
		text-align: center;
		color: grey;
		font-style: italic;
		font-size: 0.9em;
		line-height: 1.5;
		margin-top: 1em;
	}
}

.csstransforms .thumbnail {
	border: 0;
}

.about-teal{
		color: #04b0aa;
}

h1.lc-about-header {
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    	font-size: 48px;
    	font-weight: 800;
    	margin-bottom: 24px;
}

.lc-about-section p.about-body{
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    	font-size: 15px;
    	color: #515665;
    	margin-bottom: 15px;
}


.lc-about-section a.lc-about-link:link, a.lc-about-link:visited{
    text-decoration: underline;
    color: #04b0aa;
    font-weight: 800;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}


.lc-about-section img.lc-about-image{
    max-width: 100%;
}



.bottom-link {
	margin: 2em 0;
}

.social-footer {
	a {
		padding: 3px 10px;
		border-radius: 2px;
		margin-top: -18px;
		font-size: 0.8em;

		&.tw {
			background-color: #00BBF5;
			border-color: #00BBF5;
			&:hover {
				background-color: darken(#00BBF5, 5%);
			}
		}

		&.fb {
			background-color: #415E9B;
			border-color: #415E9B;
			&:hover {
				background-color: darken(#415E9B, 5%);
			}
		}
	}
}

.connect-icons-wrapper {
	margin: 50px 0;

	$icon-size-background: 8em;
	.icon-circle {
		display: block;
		margin: 0 auto;
		background-color: $gray;
		color: $white;
		border-radius: 50%;
		height: $icon-size-background;
		width: $icon-size-background;
		text-align: center;
		line-height: $icon-size-background + 1.5;
		@include transition(all 0.3s linear);
	}

	.item-title {
		text-align: center;
		text-transform: uppercase;
		font-size: 0.8em;
		margin: 1em 0;
		line-height: 2;
		color: $p2pu-blue;
		@include transition(all 0.3s linear);
	}

	&:hover{
		.icon-circle {
			background-color: $gray-snow;
			color: $brand-primary;
		}

		.item-title {
			color: $p2pu-orange;
		}
	}
}

.learning-circle-signup {
    img {
        width: 100%;
    }
}

.close{
	color: #FF0000;
	opacity: 1;
	font-size: 30px;
}
