
.splash {
	background: transparent;
	width: 100%;
	overflow: hidden;
	position: relative;

	.background {
		background-color: rgba(81, 86, 101, 0.85);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-image: url(../images/overlay.png), url(../images/index/poster.png);
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		background-position: top left, top left;

		@media (min-width: $screen-xs-min) {
			background-size: auto, auto;
			background-position: top left, -22.5em 0;
		}

		@media (min-width: $screen-sm-min) {
			background-size: auto, cover;
			background-position: top left, 0 -8em;
		}
	}

	.banner {
		position: relative;
		z-index: 1;
		padding-bottom: 20px;
		height: 684px;

		header {
			color: $white;
			float: none;
			line-height: 1.2;
			text-align: center;
			font-family: $headings-font-family;

			@media (min-width: $screen-xs-min) {
				font-size: 2.4em;
				line-height: 1.3;
				padding-top: 1em;
				padding-bottom: 0.8em;
			}

			@media (min-width: $screen-sm-min) {
				font-size: 4em;
				padding-top: 0;
				padding-bottom: 1em;
			}
		}

		.subheader {
			color: $white;
			font-family: $font-family-base;
			text-transform: uppercase;
			text-align: center;
			bottom: 11%;
			left: 0;
			line-height: 2;
			margin-bottom: 2em;

			@media (min-width: $screen-xs-min) {
				font-size: 0.7em;
				line-height: 1;
			}

			@media (min-width: $screen-sm-min) {
				font-size: 1.5em;
			}
		}

		.btn-cta {
			background-color: darken($brand-warning, 10%);
			color: $white;
			font-family: $headings-font-family;

			&:hover {

			}
		}

		.featured-headline {
			background-color: $brand-primary;
			color: $white;
			padding: 1em 0;
			position: absolute;
			bottom: 0;
			width: 100%;

			header {
				font-family: $headings-font-family;
				padding: 1em 0;

				@media (min-width: $screen-xs-min) {
					font-size: 1.5em;
					line-height: 1.2;
				}

				@media (min-width: $screen-sm-min) {
					font-size: 2.5em;
				}
			}

			.body {
				@media (min-width: $screen-xs-min) {
					font-size: 1em;
					line-height: 1.5;
				}

				@media (min-width: $screen-sm-min) {
					font-size: 1.5em;
				}
			}

		}
	}
}

nav {

	& > .container {
		padding-top: 20px;
	}

	.nav > li {
		position: relative !important;
		border: 1px solid transparent;
		@include transition(opacity 0.5s ease-in-out);

		&:hover {
			border-color: $gray;
		}

		& > a {
			position: relative;
			color: $white;
			text-transform: uppercase;
			font-family: $base-font-family;
			font-size: 17px;

			&:hover, &:focus {
				background-color: transparent;
				color: $gray;
			}

		}

	}
	.navbar-nav .dropdown-toggle {
		color: $white;
	}
}

@media (min-width: $grid-float-breakpoint-max) {
	nav .nav > li {
		@include transition(all 0.5s ease-in-out);
		&:hover .dropdown-menu {
			@include transition(all 0.5s ease-in-out);
			opacity: 1 !important;
			visibility: visible !important;
			display: block !important;
		}

		&.has-subnav {
			& > a:after {
				content: $fa-var-chevron-down;
				font-family: FontAwesome;
				font-size: 0.5em;
				padding: 0 0 0 1.5em;
				line-height: 4;
				vertical-align: middle;
			}
		}
	}

	.navbar-nav {
		.dropdown {
			position: relative !important;
			@include transition(all 0.5s ease-in-out);
		}
		.dropdown-menu {
			@include transition(all 0.5s ease-in-out);
			width: initial;
			left: -1px;
			z-index: 5;
			border: 1 opx solid transparent;
			background-color: transparent;
			margin-top: 1px !important;
			> li {
				display: block;
				margin: 5px 0;
				background-color: rgb(81, 86, 101);
				border: 1px solid $gray-snow;
				&:hover {
					border-color: transparent;
					background-color: darken($p2pu-blue, 10%);
				}
				> a {
					text-align: left;
					border: 0;
					padding: 1em 1em 1em 0;
					font-size: 0.9em;
					line-height: 2;
					color: $white;

					&:hover{
						color: $white;


					}
				}
			}
		}
	}
}

.page-content {

	section {
		padding: 3em 1.5em;
	}

	p {
		font-size: 1.1em;
	}

	h1 {
		margin-bottom: 40px;
		position: relative;

		&:before {
			content: "";
			border-bottom: 2px dotted grey;
			position: absolute;
			bottom: -20px;
			width: 40%;
		}

	}

	.text-center {

		h1 {
			&:before {
				left: 50%;
				margin-left: -20%;
			}
		}

	}

	.know-believe {
		.title {
			margin-bottom: 2.5em;
		}
		.right {
			@media (min-width: $screen-xs-min) {
				margin-top: 5em;
			}

			@media (min-width: $screen-sm-min) {
				margin-top: 0;
			}

		}
	}

	.who {
		background: url(../images/index/community.png) top right no-repeat;
		background-color: #F3F4F8;
		@media (min-width: $screen-xs-min) {
			background-size: cover;
			color: $white;
			text-align: center;
		}

		@media (min-width: $screen-sm-min) {
			background-size: initial;
			color: inherit;
			text-align: left;
		}

		.people-link {
			font-weight: bold;
			padding-right: 1.5em;
			position: relative;
			&:before {
				font-family: FontAwesome;
				position: absolute;
				right: 0;
				top: 10%;
			}
			@media (min-width: $screen-xs-min) {
				//@extend .btn;
			}
		}
	}

	.courses {
		padding-bottom: 0;

		.featured-courses {
			padding: 2em 0;
		}

		.course-thumb {
			height: 200px;
			overflow: hidden;
			position: relative;
			display: block;
			margin: 2em 0;

			img {
				width: 100%;
			}

			&:hover {
				img {
					@include grayscale_element(100%);
				}
			}

			.course-title {
				position: absolute;
				bottom: 0;
				width: 90%;
				background: $gray-lighter;
				padding: 20px 10px;
				text-align: center;
				color: $brand-primary;
				@include transition(background-color 0.3s linear);
			}

			&:hover {
				.course-title {
					color: $white;
					background-color: $brand-primary;
				}
			}

			@media (min-width: $screen-xs-min) {
				background-color: $gray-lighter;
				padding-top: 10px;
			}
			@media (min-width: 480px) {
				.course-title {
					width: 95%;
				}
			}
			@media (min-width: $screen-sm-min) {
				background-color: $white;
				text-align: center;
				img {
					width: 50%;
				}
				.course-title {
					width: 50%;
					left: 25%;
				}
			}
			@media (min-width: $screen-md) {
				img {
					width: 100%;
				}
				.course-title {
					width: 89.5%;
					left: initial;
				}
			}
		}

		.courses-inner {
			padding: 3em;
			@include box-shadow(0px 0px 10px 0px rgba(81, 86, 101, 0.2));
		}

	}

}

.divider-center {
	margin-top: 35%;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -23em;
		left: 50%;
		height: 21em;
		border-left: solid 1px #eee;
	}
}

.partners {
	background-color: #F3F4F8;
	padding: 50px 0;
	.partners-inner {
		text-align: center;
		img {
			margin: 20px 15px;
			vertical-align: middle;
		}
	}
}

.p2pu-footer {
	margin-top: 0;
}





