.action-bar {
  padding: 1em 0;
  background: $p2pu-yellow;
}

.topbit {
  min-height: 400px;
}

.meeting-feedback {
  padding: 1em;
  background: $gray-lighter;
}

.meeting-rsvp {
  padding: 1em;
  background: $gray-lighter;
}

.survey-summary {
  padding: 1em;
  background: $gray-lighter;
}

.card-collapse-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $primary;

  &:hover {
    text-decoration: none;
  }

  transform: rotate(180deg);

  &.collapsed {
    transform: rotate(0deg);
  }
}

.meeting-item {
  padding-left: 1.5em;
  position: relative;
}

.meeting-item.done::before {
  position: absolute;
  content: '✓';
  left: 0;
}

.meeting-item.todo::before {
  position: absolute;
  content: '';
  left: 0;
  background: url("../images/icons/clock.svg") left center / 1em 1em no-repeat;
  width: 1.5em;
  height: 2em;
}

.meeting-item.pending::before {
  position: absolute;
  content: '';
  left: 0;
  background: url("../images/icons/clock.svg") left center / 1em 1em no-repeat;
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(1205%) hue-rotate(241deg) brightness(110%) contrast(73%);
  width: 1.5em;
  height: 2em;
}


.lc-timeline::before {
  content: '';
  width: 0;
  border: 1px solid $primary;
  position: absolute;
  height: 100%;
}

.lc-timeline .item {
  padding-left: 1.5em;
  position: relative;
}

.lc-timeline .item.done::before{
  content: '✓';
  position: absolute;
  left: -0.7em;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  line-height: 1.5em;
  color: white;
  background: $primary;
  border: 1px solid $primary;
  border-radius: 0.75em;
  text-align: center;
}

.lc-timeline .item.todo::before{
  content: '';
  background: url("../images/icons/clock-white.svg") center center / 0.8em 0.8em no-repeat, $primary;
  position: absolute;
  left: -0.7em;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  line-height: 1.5em;
  border: 1px solid $primary;
  border-radius: 0.75em;
  text-align: center;
}

.lc-timeline .item.whoohoo::before{
  content: '';
  background: url("../images/icons/firework.svg") center center / 1em 1em no-repeat, white;
  position: absolute;
  left: -0.7em;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  line-height: 1.5em;
  border: 1px solid $primary;
  border-radius: 0.75em;
  text-align: center;
}

