.action-bar {
  padding: 1em 0;
  background: $p2pu-yellow;
}

.topbit {
  min-height: 400px;
}

.meeting-feedback {
  padding: 1em;
  background: $gray-lighter;
}

@mixin rsvp-li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
  vertical-align: middle;
}

.meeting-rsvp {
  padding: 1em;
  background: $gray-lighter;

  ul {
    margin: 0;
  }

  li.rsvp-yes::before {
    @include rsvp-li;
    content: '';
    background: url("../images/icons/rsvp-yes.svg") left center / 1em 1em no-repeat;
  }

  li.rsvp-no::before {
    @include rsvp-li;
    content: '';
    background: url("../images/icons/rsvp-no.svg") left center / 1em 1em no-repeat;
  }

  li.rsvp-unknown::before {
    @include rsvp-li;
    content: '';
    background: url("../images/icons/rsvp-unknown.svg") left center / 1em 1em no-repeat;
  }
}

.survey-summary {
  padding: 1em;
  background: $gray-lighter;

  li.todo::before {
    @include rsvp-li;
    content: '';
    background: url("../images/icons/rsvp-unknown.svg") left center / 1em 1em no-repeat;
  }

  li.done::before {
    @include rsvp-li;
    content: '';
    background: url("../images/icons/rsvp-yes.svg") left center / 1em 1em no-repeat;
  }


}

.card-collapse-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $primary;

  &:hover {
    text-decoration: none;
  }

  transform: rotate(180deg);
  &.collapsed {
    transform: rotate(0deg);
  }
}

.meeting-item {
  padding-left: 1.5em;
  position: relative;
}

.meeting-item.done::before {
  position: absolute;
  content: '✓';
  left: 0;
}

.meeting-item.todo::before {
  position: absolute;
  content: '';
  left: 0;
  background: url("../images/icons/clock.svg") left center / 1em 1em no-repeat;
  width: 1.5em;
  height: 2em;
}

.meeting-item.pending::before {
  position: absolute;
  content: '';
  left: 0;
  background: url("../images/icons/clock.svg") left center / 1em 1em no-repeat;
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(1205%) hue-rotate(241deg) brightness(110%) contrast(73%);
  width: 1.5em;
  height: 2em;
}


.lc-timeline::before {
  content: '';
  width: 0;
  border: 1px solid $primary;
  position: absolute;
  height: 100%;
}

.lc-timeline .item {
  padding-left: 1.5em;
  position: relative;
}

@mixin timeline-item {
  position: absolute;
  left: -0.7em;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  line-height: 1.5em;
  color: white;
  border-radius: 0.75em;
  text-align: center;

}

.lc-timeline .item.done::before{
  @include timeline-item;
  content: '✓';
  background: $primary;
  border: 1px solid $primary;
}

.lc-timeline .item.todo::before{
  @include timeline-item;
  content: '';
  background: url("../images/icons/clock-white.svg") center center / 0.8em 0.8em no-repeat, $p2pu-yellow;
  border: 1px solid $p2pu-yellow;
}

.lc-timeline .item.pending::before{
  @include timeline-item;
  content: '';
  background: url("../images/icons/clock-white.svg") center center / 0.8em 0.8em no-repeat, $primary;
  border: 1px solid $primary;
}

.lc-timeline .item.whoohoo::before{
  @include timeline-item;
  content: '';
  background: url("../images/icons/firework.svg") center center / 1em 1em no-repeat, white;
  border: 1px solid $primary;
}


.retable-heading {
  font-weight: 600;
  border-bottom: 2px solid $gray-300;
}


.retable-row {
  padding: 0.5em 0;
  border-bottom: 1px solid $gray-300;
}

.learner-signup-info{
  background: $gray-lighter;
  padding: 1em !important;
}
