.lc-image {
  img {
    width: 400px;
    height: 400px;
    border-radius: 400px;
    background: $p2pu-yellow;
    border: 20px solid $p2pu-yellow;
    object-fit: cover;

    &.default-image {
      transform: rotate(90deg);
    }
  }
}

.lc-co-facilitator-input {
  margin-bottom: 200px;
}

.rm-facilitator-warning {
  margin-top: 20px;
}
