footer.home-footer {
  background: $gray-darker;
  color: $white;
  font-size: $font-size-small;

  a {
    color: $white;
  }

  .columns-container {
    .column-item {
      padding: $padding-md;
      .content {
        padding-top: $padding-sm;
      }
    }
  }

  .social {
    .content {
      > div {
        margin-bottom: 10px;
      }

      span {
        i {
          margin-right: $padding-sm;
          width: 14px;
        }
      }
    }
  }

  .newsletter {
    float: right;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        width: 100%;
        text-align: center;
      }

      input[type="email"] {
        border: none;
        background: none;
        border-bottom: 2px solid $white;
        width: 100%;
        margin-bottom: $padding-sm;

        &::placeholder {
          font-style: italic;
          color: $gray-lighter;
          text-align: center;
        }
      }
    }
  }

  .toc {
    text-align: center;
    padding: $padding-sm;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

}