section {
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;

  &:not(:last-of-type) {
    border-bottom: 4px solid $p2pu-yellow;
  }

  &#lc-info {
    background: rgb(255,255,255);
    background: linear-gradient(130deg, $white 0%, $white 50%, $p2pu-blue 50%, $p2pu-blue 100%);

    .p2pu-btn {
      display: inline-flex;
      align-items: center;
    }

    .tagline {
      text-transform: uppercase;
      font-weight: bold;
    }

    .lc-image {
      shape-outside: circle(50%);
      clip-path: circle(50%);
      width: 400px;
      height: 400px;
      border-radius: 400px;
      float: left;
      background: $p2pu-yellow;
      border: 20px solid $p2pu-yellow;
      object-fit: cover;
      margin: 20px;
    }

    .bullet {
      padding-bottom: $padding-sm;
      color: $white;
      line-height: 1.4;

      &:first-of-type {
        margin-top: $padding-md;
      }
    }

    .material-icons {
      margin-right: 1rem;
    }
  }
}

.drop-shadow {
  box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.1);
}