//All
body {
	padding: 68px 0 0 0;
    margin: 0;

	@media (min-width: $screen-sm) {
			//padding-top: 63px;
	}

	@media (min-width: $screen-md-max) {
		//padding-top: 93px;
	}
}
section{
	padding-top: 2em;
}
.section-title{
	text-align: center;
	margin: 1em;
	text-transform: capitalize;
}

.page-content {
	//padding-top: 60px;
}

//Navigation styles
.navbar {
    border-bottom: 0px;
}

.navbar-logo {

	img {
		height: 68px;
		padding: 15px 0 15px 1em;

		@media (min-width: $screen-xs-max) {
		    padding: 15px 1em 15px 0;
		}
	}
}

.logos {
	float: right;
	padding: 0;
	list-style-type: none;

	@media (min-width: $screen-xs-max) {
	}

	li {
		float: left;
		@media (min-width: $screen-xs-max) {
		}
	}

	a {
		display: block;
	}

	img {
		height: 66px;
		padding: 21px 0 21px 0;
	}

	.icon {
		color: white;
		line-height: 4;
		padding: 0 1em;
		display: block;
		font-size: 1.1em;
	}
}

$next-section-color: $gray-lighter;

.lc-jumbotron-conf {

    height:320px;
    width:100%;
    //margin-top: -80px;
   	background-image:url("/static/images/jumbotron.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    line-height: 1.42857;
}


.j-text-container{
	text-align: center;
	width: 100%;
	height: 320px;
	padding: 0 16px;
}

.lc-jumbo-subhead{
    display: inline-block;
    color: #04b0aa;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 20px;
}

.lc-jumbo-title{
    display: inline-block;
    color: #04b0aa;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 52px;
    font-weight: 800;
padding-bottom: 20px;
    line-height: 1;
}

.lc-jumbo-body{
    display: inline-block;
    color: #ffffff;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 300;
    max-width: 450px;
    padding: 20px 0;

}

.lc-jumbo-call{
    display: inline-block;
    color: #ffffff;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;

}


.lc-jumbo-rule{
    width: 100%;
    max-width: 288px;
    height:3px;
    background-color: #04b0aa;
    display: inline-block;
}

.j-text-container a.lc-jumbo-link:link, .j-text-container a.lc-jumbo-link:visited{
    color: #04b0aa;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-decoration: underline;
}



@media screen and (max-width: 500px) {
    .lc-jumbo-subhead{
        font-size: 24px;
        padding-top: 15px;
    }

    .lc-jumbo-title{
        font-size: 40px;
        padding-bottom: 00px;
    }

    .lc-jumbo-body{
        font-size: 18px;
        padding: 20px 0;
    }

    .lc-jumbo-call{
        font-size: 14px;
    }
      
    .j-text-container a.lc-jumbo-link:link, .j-text-container a.lc-jumbo-link:visited{
        font-size: 14px;
    }
}


@media screen and (max-width: 360px) {

    .lc-jumbo-body{
        padding: 14px 0;
    }
}


.c-jumbotron-conf {
    height:320px;
    width:100%;
    //margin-top: -80px;
   	background-image:url("/static/images/jumbotron.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

	.j-text-container{
		text-align: center;
		width: 100%;
		height: 320px;
		padding: 0 16px;
	}



.c-jumbo-title{
	display: inline-block;
	color: #04b0aa;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 52px;
    font-weight: 800;
	padding: 50px 0 20px;
    line-height: 1;
    max-width: 660px;
}

.c-jumbo-body{
	display: inline-block;
	color: #ffffff;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
    max-width: 800px;
	padding: 20px 0;

}



@media screen and (max-width: 680px) {
.c-jumbo-title{
    font-size: 40px;
	padding: 40px 0 20px;
}
}


@media screen and (max-width: 490px) {
.c-jumbo-title{
    font-size: 40px;
	padding: 35px 0 20px;
}

.c-jumbo-body{
    font-size: 16px;
	padding: 10px 0;
}
}


@media screen and (max-width: 370px) {
.c-jumbo-title{
    font-size: 33px;
	padding: 23px 0 20px;
}
}


#signup{
	padding: 2em 0;

	@media (min-width: $screen-sm) {
		padding: 2em 0;
	}

	@media (min-width: $screen-md-max) {
		padding: 2em;
	}

	h3 {
		margin-top: 0px;
		line-height: 1.3;
		font-size: 1.4em;
		font-family: $headings-font-family;
	}
	p {
		line-height: 1.3;
		font-size: 1.1em;
		font-family: $headings-font-family;
	}

	.collapse.in ~ #su-contact-success, .collapse.in ~ h3 {
		margin-top: -233px;
		position: relative;
		z-index: -1;
		margin-bottom: 100px;
	}

	#su-contact-form{
		.form-group{
			position: relative;
			width: 100%;
			padding: 0 1em;

			@media (min-width: $screen-sm) {
				width: 100%;
			}

			@media (min-width: $screen-md-max) {
				width: 35%;
			}

			&:before{
				font-family: FontAwesome;
				content: "";
				position: absolute;
				top: 0;
				font-size: 1.6em;
				left: 1em;
				color: $gray;
				@media (min-width: $screen-sm) {
					top: 13px;
				}

				@media (min-width: $screen-md-max) {
					top: 15px;
				}
			}

			&.name:before{
				content: "\f007";
			}

			&.email:before{
				content: "\f0e0";
			}

			&.phone:before{
				content: "\f10b";
			}
		}

		.form-control {
			margin: 1em 0;
			padding-left: 3em;
			width: 100%;
		}

		.btn{
			padding: 0.7em 1.5em;
			font-family: $base-font-family;
			text-transform: uppercase;
			font-size: 1em;
			border-width: 2px;
		}

		.signup{
			margin: 1.5em 0 0 0;


		}
	}
	#su-contact-success{
    border-color: $p2pu-green;
		background-color: transparent;
    color: $brand-primary;

		.btn{
			text-transform: uppercase;
		}
	}
}
#interest-extra {
	background-color: $gray-lighter;
	padding: 1em;
	border: 1px $brand-primary solid;

	@media (min-width: $screen-sm) {
		padding: 1em;
	}

	@media (min-width: $screen-md-max) {
		padding: 3em;
	}
}

#leads{
	background-color: $next-section-color;
	padding: 0 0 2em 0;
}


#courses{
	padding-top: 3em;

	.article-wrapper{
		padding: 1.5em 0;
		border-bottom: 1px solid $gray-light;
	}

	article{
		background-color: $gray-snow;
		padding: 1em;
	}

	.img-wrapper{
		position: absolute;
		z-index: 1000;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 16% 10%;
		opacity: 0.5;
		right: 0;
		border-radius: 0;
		height: 100%;
		padding: 0;

		@media (min-width: $screen-sm) {

		}

		@media (min-width: $screen-md-max) {

		}

		.image-overlay{
			background: url("/static/images/overlay.png") top left repeat;
			width: 100%;
			height: 100%;

			@media (min-width: $screen-sm) {

			}

			@media (min-width: $screen-md-max) {
				border-radius: 0;
			}
		}

	}
	.course-description {
		@media (min-width: $screen-md-max) {
			margin-top: 0;
		}
	}

	.course-apply {
		text-transform: uppercase;
	}

	.course{
		position: relative;
	}

	.study-group{
		border: 1px solid $gray-lighter;
		padding-top: 5px;
		padding-bottom: 5px;
		color: $brand-primary;
		text-align: center;
		text-underline: none;
		display: block;
		margin-bottom: 5px;
		transition: all 0.5s linear;

		&:hover{
			text-decoration: none;
			background-color: $white;

			img{
				opacity: 1;
			}
		}

		img{
			max-width: 100%;
			height: 210px;
			opacity: 0.5;
			transition: opacity 0.5s linear;
		}

		.location{
			color: $link-color;
			font-family: $headings-font-family;
			text-align: center;
			font-weight: bold;
			font-size: 0.8em;
		}
		.location-details{
			text-align: center;
			font-size: 0.8em;
		}
		.study-group-details{
			font-size: 0.8em;
		}
	}
}
.course-provider{
	margin: 1em 0;
	font-style: italic;
}

// Courses styles
.course-tile {
	position: relative;
	display: block;
	border: 1px $gray-light solid;
	margin: 1.5em 0;
	padding: 0.5em 1em;

	hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	img {
		float: left;
		padding: 1em 2em 1em 0;
		max-width: 20%;
	}

	.desc {
		overflow: auto;
		min-height: 23em;

		@media (min-width: $screen-md) {
			min-height: 31em;
		}

		@media (min-width: $screen-lg) {
			min-height: 26em;
		}

	}

	.footnote {
		margin-top: 1em;
		font-size: 0.8em;
		font-style: italic;

		&:before {
			content: "*"
		}
	}

	.links {
		position: absolute;
		bottom: -360px;

		@media (min-width: $screen-xs-max) {
			bottom: 0;
		}

		.list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			font-size: 0.8em;
			font-weight: bold;

			li {
				float: left;
				margin: 0 0.3em;

				&:first-child {
					margin: 0;
				}
			}

			button {
				padding: 0;
				font-size: 1em;
				font-weight: bold;
				border: 0;
				margin: -4px 0 0 0;
			}

			a, button {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}

		}
	}

	.info {
		padding: 1.5em 0.5em;
		text-align: left;
	}


	.duration-wrap {
		text-align: center;

		.duration {
			font-weight: bold;
		}
	}
	.label {
		font-size: 1em;
		font-weight: bold;
	}

}

.shaded {
	background-color: $gray-lighter;
	padding: 2em 0;
}

.signup-question {
	margin-top: 1em;
	margin-bottom: 1em;
	min-height: 330px;
	background-color: #515665;
	color: white;
	padding: 0.5em;
}

#faq {

	.faq-item {
		background-color: $white;
		padding: 1em;
		min-height: 260px;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.icon {
		display: block;		
		padding: 0.2em 0.3em;
		color: $white;
		border-radius: 100%;
		font-size: 2.75em;
		width: 2.1em;
		height: 2.1em;
		line-height: 1.7em;
		text-align: center;
		cursor: default;
		box-shadow: #dee0e3 -1px 1px 1px, #dee0e3 -2px 2px 0, #dee0e3 -3px 3px 0, #dee0e3 -4px 4px 5px;
		transition: all 0.2s ease-in-out;
		background-color: $p2pu-yellow;

	}
}

#about {
	margin-bottom: 2em;

	.description{
		line-height: 1.9;
	}
	img {
		width: 100%;
		margin-top: 12px;
	}
}

footer {
	.logos {
		float: none;
	}
	.footer-logo {
		line-height: 3 !important;
		border-bottom: 0;
		&:hover, &:focus {
			border-bottom: 0;
		}
	}
}

.alert {
	margin-bottom: 0;
}

#course-selection, #location-selection {


	@media (min-width: $screen-sm) {

	}

	@media (min-width: $screen-md-max) {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}

	input[type="checkbox"]{
		margin-top: 10px;
	}
}
