//All
body {
	padding-top: 69px;

	@media (min-width: $screen-sm) {
			padding-top: 63px;
	}

	@media (min-width: $screen-md-max) {
		padding-top: 93px;
	}
}
section{
	padding-top: 2em;
}
.section-title{
	text-align: center;
	margin: 1em;
	text-transform: capitalize;
}

.page-content {
	padding-top: 60px;
}

//Navigation styles
.navbar-logo {

	img {
		width: 140px;
		padding: 1em 1em 1em 0;

		@media (min-width: $screen-xs-max) {
			width: 123px;
		}
	}
}

.logos {
	float: right;
	padding: 0;
	list-style-type: none;

	@media (min-width: $screen-xs-max) {

	}

	li {

		float: left;

		@media (min-width: $screen-xs-max) {

		}
	}

	a {
		display: block;
	}

	img {
		width: 75px;
	}

	.cpl-logo img {
		width: 50px;
	}

	.icon {
		color: white;
		line-height: 4;
		padding: 0 1em;
		display: block;
		font-size: 1.1em;

	}

}
$next-section-color: $gray-lighter;
//Jumbotron
.jumbotron {
	position: relative;
	padding: 0;
	margin-top: -80px;
	margin-bottom: 0;
	background-color: $white;

	p{

	}

	.heading{
		margin-bottom: 2em;
	}

	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		background: url("/static/images/bck-img.png") no-repeat top left;
		background-size: cover;

		@media (min-width: $screen-sm) {
			background-position: 0 -210px;
		}
		@media (min-width: $screen-md-max) {
			background-position: 0 -630px;
		}
	}

	.primary {
		padding: 1em 0 0 0;

		@media (min-width: $screen-sm) {
			padding: 1em 0;
		}
		@media (min-width: $screen-md-max) {
			padding: 2em 0;
		}
	}

	.hero-title {
		font-size: 1.5em;
		font-weight: bold;
		font-family: $headings-font-family;
		line-height: 1.3;
		margin: 0;

		@media (min-width: $screen-sm) {
			font-size: 3em;
			margin: 0;
		}
		@media (min-width: $screen-md-max) {
			font-size: 3.5em;
			margin: 1em 0;
		}
	}

	.title-break{
		margin: 0.8em auto;
		line-height: 1;
		font-size: 2em;

		.side{
			border-bottom: 1px solid $brand-primary;
			padding-top: 0.5em;

			@media (min-width: $screen-sm) {
				padding-top: 1em;
			}
			@media (min-width: $screen-md-max) {
				padding-top: 0.4em;
			}
		}

		.text{
			font-family: 'Lobster', cursive;
			font-size: 0.5em;

			@media (min-width: $screen-sm) {
				font-size: 1em;
			}
			@media (min-width: $screen-md-max) {
				font-size: 0.8em;
			}
		}

		@media (min-width: $screen-sm) {
			font-size: 3em;
		}
		@media (min-width: $screen-md-max) {
			font-size: 3.5em;
		}
	}

	.description{
		line-height: 1.8;
		margin: 2em 0 4em 0;

		@media (min-width: $screen-sm) {
			font-size: 1.5em;
			margin: 2em 0 3em 0;
		}

		@media (min-width: $screen-md-max) {
			font-size: 1.3em;
			margin: 2em 0 2em 0;
		}
	}

	.bottom-tag{
		.side{
			height: 25px;
			background-color: $next-section-color;
			width: 20%;
			position: absolute;
			bottom: 0;

			@media (min-width: $screen-sm) {
				height: 35px;
			}

			@media (min-width: $screen-md-max) {
				width: 40%;
				height: 30px;
			}

			&::after{
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				bottom: -3px;
				border-top: 0;
				border: 3px solid $next-section-color;
				-moz-border-radius: 0 0 8px 0;
				-webkit-border-radius: 0 0 8px 0;
				border-radius: 0 0 8px 0;
				border-top: 0;
			}

			&.left{
				left: 0;
				border-top-right-radius: 5px;
				&::after{
					border-right: 0;
					-moz-border-radius: 0 0 0 8px;
					-webkit-border-radius: 0 0 0 8px;
					border-radius: 0 0 0 8px;
					right: -17px;
				}
			}
			&.right{
				right: 0;
				border-top-left-radius: 5px;
				&::after{
					border-left: 0;
					left: -17px;
				}
			}
		}

		.text{
			position: absolute;
			left: 20%;
			width: 60%;
			bottom: 0;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;

			a{
				color: $brand-primary;
			}

			@media (min-width: $screen-sm) {
				font-size: 1.1em;
				bottom: 0.9em;
			}

			@media (min-width: $screen-md-max) {
				left: 40%;
				width: 20%;
				font-size: 1em
			}
		}
	}



	.dark {
		position: relative;
		background-color: $brand-primary;
		color: $white;
		padding: 0.5em 0;
		text-align: left;
		p{
			font-size: 1.2em;
			line-height: 1.8;
		}

	}
}

#signup{
	padding: 2em 0;

	@media (min-width: $screen-sm) {
		padding: 2em 0;
	}

	@media (min-width: $screen-md-max) {
		padding: 2em;
	}

	h3 {
		margin-top: 0px;
		line-height: 1.3;
		font-size: 1.4em;
		font-family: $headings-font-family;
	}
	p {
		line-height: 1.3;
		font-size: 1.1em;
		font-family: $headings-font-family;
	}

	.collapse.in ~ #su-contact-success, .collapse.in ~ h3 {
		margin-top: -233px;
		position: relative;
		z-index: -1;
		margin-bottom: 100px;
	}

	#su-contact-form{
		.form-group{
			position: relative;
			width: 100%;
			padding: 0 1em;

			@media (min-width: $screen-sm) {
				width: 100%;
			}

			@media (min-width: $screen-md-max) {
				width: 35%;
			}

			&:before{
				font-family: FontAwesome;
				content: "";
				position: absolute;
				top: 0;
				font-size: 1.6em;
				left: 1em;
				color: $gray;
				@media (min-width: $screen-sm) {
					top: 13px;
				}

				@media (min-width: $screen-md-max) {
					top: 15px;
				}
			}

			&.name:before{
				content: "\f007";
			}

			&.email:before{
				content: "\f0e0";
			}

			&.phone:before{
				content: "\f10b";
			}
		}

		.form-control {
			margin: 1em 0;
			padding-left: 3em;
			width: 100%;
		}

		.btn{
			padding: 0.7em 1.5em;
			font-family: $base-font-family;
			text-transform: uppercase;
			font-size: 1em;
			border-width: 2px;
		}

		.signup{
			margin: 1.5em 0 0 0;


		}
	}
	#su-contact-success{
    border-color: $p2pu-green;
		background-color: transparent;
    color: $brand-primary;

		.btn{
			text-transform: uppercase;
		}
	}
}
#interest-extra {
	background-color: $gray-lighter;
	padding: 1em;
	border: 1px $brand-primary solid;

	@media (min-width: $screen-sm) {
		padding: 1em;
	}

	@media (min-width: $screen-md-max) {
		padding: 3em;
	}
}

#leads{
	background-color: $next-section-color;
	padding: 0 0 2em 0;
}


#courses{
	padding-top: 3em;

	.article-wrapper{
		padding: 1.5em 0;
		border-bottom: 1px solid $gray-light;
	}

	article{
		background-color: $gray-snow;
		padding: 1em;
	}

	.img-wrapper{
		position: absolute;
		z-index: 1000;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 16% 10%;
		opacity: 0.5;
		right: 0;
		border-radius: 0;
		height: 100%;
		padding: 0;

		@media (min-width: $screen-sm) {

		}

		@media (min-width: $screen-md-max) {

		}

		.image-overlay{
			background: url("/static/images/overlay.png") top left repeat;
			width: 100%;
			height: 100%;

			@media (min-width: $screen-sm) {

			}

			@media (min-width: $screen-md-max) {
				border-radius: 0;
			}
		}

	}
	.course-description {
		@media (min-width: $screen-md-max) {
			margin-top: 0;
		}
	}

	.course-apply {
		text-transform: uppercase;
	}

	.course{
		position: relative;
	}

	.study-group{
		border: 1px solid $gray-lighter;
		padding-top: 5px;
		padding-bottom: 5px;
		color: $brand-primary;
		text-align: center;
		text-underline: none;
		display: block;
		margin-bottom: 5px;
		transition: all 0.5s linear;

		&:hover{
			text-decoration: none;
			background-color: $white;

			img{
				opacity: 1;
			}
		}

		img{
			max-width: 100%;
			opacity: 0.5;
			transition: opacity 0.5s linear;
		}

		.location{
			color: $link-color;
			font-family: $headings-font-family;
			text-align: center;
			font-weight: bold;
			font-size: 0.8em;
		}
		.location-details{
			text-align: center;
			font-size: 0.8em;
		}
		.study-group-details{
			font-size: 0.8em;
		}
	}
}
.course-provider{
	margin: 1em 0;
	font-style: italic;
}
.video{
	margin-top: 25px;
}
// Courses styles
.course-tile {
	position: relative;
	display: block;
	border: 1px $gray-light solid;
	margin: 1.5em 0;
	padding: 0.5em 1em;

	hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	img {
		float: left;
		padding: 1em 2em 1em 0;
		max-width: 20%;
	}

	.desc {
		overflow: auto;
		min-height: 23em;

		@media (min-width: $screen-md) {
			min-height: 31em;
		}

		@media (min-width: $screen-lg) {
			min-height: 26em;
		}

	}

	.footnote {
		margin-top: 1em;
		font-size: 0.8em;
		font-style: italic;

		&:before {
			content: "*"
		}
	}

	.links {
		position: absolute;
		bottom: -360px;

		@media (min-width: $screen-xs-max) {
			bottom: 0;
		}

		.list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			font-size: 0.8em;
			font-weight: bold;

			li {
				float: left;
				margin: 0 0.3em;

				&:first-child {
					margin: 0;
				}
			}

			button {
				padding: 0;
				font-size: 1em;
				font-weight: bold;
				border: 0;
				margin: -4px 0 0 0;
			}

			a, button {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}

		}
	}

	.info {
		padding: 1.5em 0.5em;
		text-align: left;
	}


	.duration-wrap {
		text-align: center;

		.duration {
			font-weight: bold;
		}
	}
	.label {
		font-size: 1em;
		font-weight: bold;
	}

}

.shaded {
	background-color: $gray-lighter;
	padding: 2em 0;
}

.signup-question {
	margin-top: 1em;
	margin-bottom: 1em;
	min-height: 330px;
	background-color: #515665;
	color: white;
	padding: 0.5em;
}

#faq {

	.faq-item {
		background-color: $white;
		padding: 1em;
		min-height: 260px;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.icon {
		display: block;		
		padding: 0.2em 0.3em;
		color: $white;
		border-radius: 100%;
		font-size: 2.75em;
		width: 2.1em;
		height: 2.1em;
		line-height: 1.7em;
		text-align: center;
		cursor: default;
		box-shadow: #dee0e3 -1px 1px 1px, #dee0e3 -2px 2px 0, #dee0e3 -3px 3px 0, #dee0e3 -4px 4px 5px;
		transition: all 0.2s ease-in-out;
		background-color: $p2pu-yellow;

	}
}

#about {
	margin-bottom: 2em;

	.description{
		line-height: 1.9;
	}
	img {
		width: 100%;
		margin-top: 12px;
	}
}

footer {
	.logos {
		float: none;
	}
	.footer-logo {
		line-height: 3 !important;
		border-bottom: 0;
		&:hover, &:focus {
			border-bottom: 0;
		}
	}
}

.alert {
	margin-bottom: 0;
}

#course-selection, #location-selection {


	@media (min-width: $screen-sm) {

	}

	@media (min-width: $screen-md-max) {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}

	input[type="checkbox"]{
		margin-top: 10px;
	}
}
