{% extends 'email_base.html' %}
{% block body %}
{% load i18n %}
<p>{% trans "Hi there" %}</p>

{% url 'email_confirm' uidb64=uid token=token as email_confirm_url %}

<p>{% blocktrans with email=user.email %}Welcome to the P2PU learning circle community! To use your account, please confirm your email by following <a href="{{ protocol}}://{{ domain }}{{ email_confirm_url }}">this link</a>. Your username is {{ email }}.{% endblocktrans %}</p>

<p>{% trans "Cheers" %}</p>
<p>P2PU</p>
{% endblock %}
