{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
{% url 'studygroups_login_redirect' as login_url %}

<div id="account-settings">
  <div class="container">
    <div class="row justify-content-between page-content pt-5">
      <div class="col-12 col-md-5" data-aos="fade-right">
        <header>
          <h1>{% trans "Account Settings" %}</h1>
        </header>
        <p>{% blocktrans %}Create a public profile to distinguish yourself across P2PU and add some personality to your learning circle.{% endblocktrans %}</p>
        <p>{% blocktrans %}Manage your communication preferences to receive updates from the P2PU community. There are some messages you cannot opt out of. When you create a learning circle, you will receive occasional messages from P2PU and learners related to that learning circle. Additionally, you cannot opt out of account-related messages (such as password resets).{% endblocktrans %}</p>
      </div>
      <div class="col-12 col-md-7" data-aos="fade-left">

        <div class="form bg-light-blue p-4">
          <h4>{% trans "Profile" %}</h4>
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <input type="submit" class="btn p2pu-btn gray" value="Save profile settings" />
          </form>
        </div>

        {% if team_membership %}
          <div class="form  bg-light-blue p-4 profile-form mt-4">
            <h4>{% trans "Team" %}</h4>
            <p>{% trans "Your team:" %} {{ team_membership.team.name }}</p>
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ team_membership_form|crispy }}
              <input type="submit" class="btn p2pu-btn gray" name="team_membership" value="Save team settings" />
            </form>
            <p class="mt-2"><a href="{% url "studygroups_facilitator_leave_team" team_membership.id %}" class="btn p2pu-btn orange">{% trans "Leave team" %}</a></p>
          </div>
        {% endif %}

        <div class="form bg-light-blue p-4 mt-4 mb-4">
          <h4>{% trans "Delete Account" %}</h4>
          <p>{% trans "This will permanently delete your P2PU account and also delete any future or active learning circles." %}</p>
          <p><a href="{% url "account_delete" %}" class="btn secondary p2pu-btn btn-danger">{% trans "Delete account" %}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
<script>
    $(document).ready(function(){
        var placesAutocomplete = places({
            container: document.querySelector('#id_profile-city'),
            type: 'city'
        });
        // update lat, lon based on city
        placesAutocomplete.on('change', function(e){
          $('#id_latitude').val(e.suggestion.latlng.lat);
          $('#id_longitude').val(e.suggestion.latlng.lng);
          try {
            $('#id_place_id').val(e.suggestion.rawAnswer.hits[0].objectID);
          } catch (error) {
            console.log("Couldn't get objectID for place");
          }
          try {
            $('#id_country').val(e.suggestion.country);
          } catch (error) {
            console.log("Couldn't get country for place");
          }
          try {
            $('#id_region').val(e.suggestion.administrative);
          } catch (error){
            console.log("Couldn't get region for place");
          }
        });
    });
</script>
{% endblock %}

