{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
{% url 'studygroups_login_redirect' as login_url %}

<div class="learning-circle-signup">
  <div class="background">
    <div class="container">
      <div class="row justify-content-between page-content">
        <div class="col-12 col-md-5" data-aos="fade-right">
          <header>
            <h1>{% trans "Account Settings" %}</h1>
          </header>
          <p>{% trans "If you create a learning circle, you will receive occasional messages from P2PU and learners related to that learning circle. You will also receive basic account-related emails, like when you reset your password." %} </p>
          <p>{% trans "Additionally you can choose to receive announcements like community digests and newsletters. Update your preferences on this page." %}</p>
        </div>
        <div class="col-12 col-md-5" data-aos="fade-left">
          <div class="form">
            <h4>Communication preferences</h4>
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn p2pu-btn light">{% trans "Save" %}</button>
            </form>
            <h4>Delete account</h4>
            <p>{% trans "This will permanently delete your P2PU account and also delete any future or active learning circles." %}</p>
            <p><a href="{% url "account_delete" %}" class="btn p2pu-btn light">{% trans "Delete account" %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
