{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block content %}
{% url 'studygroups_login_redirect' as login_url %}

<div id="account-creation">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 flex-column d-flex">

        <header class="col-12 page-header mb-4">
          <h1 class="my-0">Create an Account</h1>		
          <p class="text-lg">or <a href="{{ login_url }}">log in</a> if you already have one!</p>
        </header>

        <p class="text-lg">Peer 2 Peer University is a grassroots network of people who believe that knowledge should be freely shared and learning is best done with others. Want to get involved? All you need is a free account to:</p>

        <p class="d-flex mt-2 mb-4">
        <span class="icon">
          <img src="{% static 'images/icons/create-account-tools.svg' %}" />
        </span>
        <span>Run learning circles with free tools for planning meetings, messaging participants, and sharing your experience.</span>
        </p>

        <p class="d-flex mt-2 mb-4">
        <span class="icon">
          <img src="{% static 'images/icons/create-account-community.svg' %}" />
        </span>
        <span>Join the P2PU forums and community events to connect with and get ideas from learning circle facilitators around the world.</span>
        </p>

        <p class="d-flex mt-2 mb-4">
        <span class="icon">
          <img src="{% static 'images/icons/create-account-learning-resources.svg' %}" />
        </span>

        <span>Explore and add to a curated library of free courses vetted for learning circles, complete with community reviews and guides for facilitators.</span>
        </p>

        <section class="bg-blue my-5 pt-0">
          <div class="row py-4 px-4">
            <h3 class="col-12 text-white">Start a Team</h3>
            <div class="col-12">
              <p class="text-white mb-md-0 fw-semibold">P2PU offers customized support for organizations Interested in starting a networked learning circle program. <a class="text-decoration-underline text-white" href="{{STATIC_SITE_URL}}/en/teams/">Learn more about P2PU Teams</a>.
              </p>
            </div>
          </div>
        </section>
        
        {% comment %}
        <div class="mt-auto">
          <img src="{{ site.baseurl }}/assets/images/dev/anchor-to-footer.jpg" />
        </div>
        {% endcomment %}

      </div>

      <section class="col-12 col-lg-5 mt-lg-4 create">
        <div class="container bg-light-blue">

          <form id="registration-form" class="g-3 pt-3" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="col-12">
              <p class="text-lg">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
            </div>

            <div class="col-12 text-center mt-4">
              <button type="submit" class="btn p2pu-btn blue g-recaptcha" data-sitekey="{{RECAPTCHA_SITE_KEY}}" data-callback='onSubmit' data-action='submit'>{% trans "Create My Account" %}</button>
            </div>
          </form>
        </div>
      </section>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function onSubmit(token) {
    document.getElementById("registration-form").submit();
  }
</script>

{% endblock %}
