{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
{% url 'studygroups_login_redirect' as login_url %}

<div class="learning-circle-signup">
  <div class="background">
    <div class="container">
      <div class="row">
        <div class="page-content">
          <div class="col-md-5 col-sm-6 col-xs-12" data-aos="fade-right">
            <header>
              <h1>{% trans "Create an Account" %}</h1>
              <small>{% blocktrans %}<a href="{{ login_url }}">Log in</a>{% endblocktrans %} if you already have an account.</small>
            </header>
            <p>We invite you to join our global network as we build equitable, empowering, and liberating alternatives to mainstream education.</p>

            <p>Create a P2PU account in order to:</p>
            <ul>
              <li>Create and publicize <a href="https://www.p2pu.org/en/learning-circles/">learning circles</a> on our website</li>
              <li>Participate in our <a href="http://community.p2pu.org">online community</a></li>
              <li>Add learning resources you like to our <a href="http://p2pu.org/en/courses">course database</a></li>
              <li>Receive announcements and updates about learning circles and related events</li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12" data-aos="fade-left">
            <div class="form">
          	  <form action="" method="POST" enctype="multipart/form-data">
          	    {% csrf_token %}
          	    {{ form|crispy }}
                <p>P2PU values your privacy and will never sell your data. By signing up, you accept our <a href="https://www.p2pu.org/en/terms/">terms of service</a>.</p>
                <button type="submit" class="btn p2pu-btn light">{% trans "Submit" %}</button>
          	  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
