<h4>Sharing (15 min)</h4>

<p>Try to strike a balance between learners sharing something personal that also directly relates to the course material. In the past, public speaking learners have shared speeches they love from YouTube, HTML/CSS learners have shared their favorite website, and Registered Nursing exam prep learners have shared embarrassing stories from nursing school.</p>
<ul>
  <li>First: Ask a learner to introduce a relevant resource/story and, if applicable, explain why the like it.</li>
  <li>Next: Go around the room and hear from each of the other learners.</li>
  <li>Finally: Have a brief discussion about what all the resources had in common,
where people’s opinions diverged, and how learning about these might impact the
work learners do in the Learning Circle going forward.</li>
</ul>
