<p>When you reach a good stopping point, convene in a circle to share your work and debrief about the experience.</p>

<ul>
  <li>First: Go around the room and share a victory they’ve achieved. This could be by showing an example of their work or sharing an anecdote.</li>
  <li>Next: Ask learners if there is anything they’d like to keep learning now that the Learning Circle is over. It could be to continue with coursework they didn’t finish, sign up for a new course in a different subject, or a personal goal like explore new job opportunities in the field.</li>
  <li>Finally: Brainstorm ways to help learners find ways to reach their goals, by continuing to meet with each other, finding new resources, etc.</li>
</ul>
