

<p> Sharing some of the mistakes and struggles with the coursework from the past weeks should help learners feel less pressure about always “knowing” the right answer and allow them to feel more comfortable asking peers for help.</p>

<ul>
  <li>First: Prompt learners for a discussion about failure by reading the following:
· · This week we are going to talk about some failures we’ve had so far. In Learning
Circles, failure is not bad; in fact, it is a guaranteed and inevitable part of learn-
ing. Just like toddlers fall when learning to walk, we will all experience failure as
we grow as learners throughout our lives. If we really try to understand what we
get wrong and overcome our failure, we can learn even more from our mistakes
than from our successes.
  </li>
  <li>Next: Ask learners to take a couple of minutes to think about an example of a struggle or failure that they’ve come up against in the Learning Circle, what lesson they learned from that experience, and how they can imagine using that lesson going forward.</li>
  <li>Finally: Go around the room, sharing challenges and lessons learned. Try to focus less on the failure itself, and more on what was learned in overcoming it.</li>
</ul>
