<h4>Goal setting (10 min)</h4>

<p>Goal setting and sharing is a powerful tool to help learners craft group identity, increase motivation, and build confidence. By setting goals early, learners will be able to refer to these on a weekly basis to track their progress over time.

<ul>
  <li>First: Ask the learners to spend 5 minutes writing down one or two major learning goals for themselves for the Learning Circle. Encourage them to look through the course syllabus online to help identify course goals that resonate with them, or identify other personal goals they might have. Prompt learners with this question:

· · “What do you want to know or be able to do by the end of this course? Some exam-
ples are “I want to do all of the readings, or I want to complete the final project, or I
want to help everybody in the Learning Circle at least once.” These are all good goals
because they are specific, difficult yet achievable in 6 weeks, and have clear check-
points that you can make progress towards each week.”</li>
  <li>Next: Have learners break into small groups of 3-4 or come together as a larger group (if there are less than 6 people) to share their goals. As each learner presents, the group should help them improve their goals by making them more specific, at a reasonable level of difficulty, and with clear checkpoints. Examples of questions they might ask
include:
· · What specific actions can you take to reach your goals? How can we help?
· · Can you break down your goals to checkpoints so that you can see progress each
week?
· · Do you think this goal is reasonable in 6 weeks?
  </li>
  <li>Finally: Have each individual write down their individual goals and checkpoints somewhere, and keep a master list yourself that you can refer back to over time. Let everybody know that starting next week, learners will share their goal at the beginning of each Learning Circle.</li>
</ul>
