<h4>Get to know one another (10 min)</h4>
<p> As the facilitator, it is important for you to prompt personal introductions in a way that will encourage conversation amongst the whole group. Frame this activity as a way for all of the participants to get to know one another, as a starting point for the work they’ll be doing together over the next 6 weeks – this activity is for them, not for you.</p>

<ul>
  <li>First: Ask learners to share why they came to the Learning Circle and an example of a good learning experience they have had in their life.</li>
  <li>Next: Model an introduction by re-introducing yourself to start.</li>
  <li>Finally: Afterwards, summarize the learning experiences and share how you think this Learning Circle can develop into an inclusive learning community.</li>
</ul>
