<h4>Critique and feedback (30 min)</h4>

<p>Modeling good feedback and constructive criticism can help make learners more comfortable sharing with one another. If this is something that the learners like, you can incorporate it into future sessions as well. Use a projector if that will help everyone look on together.</p>

<ul>
  <li>First: Introduce the sessions with the following prompt:
· · We all learn from other people, which means that giving and receiving construc-
tive criticism is essential for us to reach our potential. Critical feedback may be
awkward sometimes, so there are a few good rules of thumb to follow. First, when
you are giving feedback, try to include something positive about your colleague’s
work, and make your recommendations specific and actionable, so that they know
how to address the feedback that you raise. When you are receiving feedback, try
to listen with open ears, and remember that we all have each other’s best interests
at heart. If you feel yourself feeling defensive, try asking a clarifying question rath-
er than assuming the person is attacking your work.</li>
  <li>Next: One by one, have learners share their work (either by presenting it verbally or showing it on the projector or a laptop). If learners are looking for feedback on a specific component, they can mention that beforehand.</li>
  <li>Finally: If any learners feel particularly distraught about their feedback, help them make a plan for getting back on track during the next Learning Circle.</li>
</ul>
