{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'studygroups_view_study_group' study_group.pk %}">{% trans "Back" %}</a>
      {% if object %}
        <h2>{% blocktrans with name=object.name %}Update details for {{name}} {% endblocktrans %}</h2>
      {% else %}
        <h2>{% blocktrans with studygroup_name=study_group.name %}Add a new member to {{studygroup_name}} {% endblocktrans %}</h2>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12">
        <form action="" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <p><button type="submit" class="btn btn-primary">{% if object %}{% trans "Save"%}{% else %}{% trans "Add" %}{% endif %}</button></p>
        </form>
    </div>
  </div>
</div>
{% endblock %}
