{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if study_group %}
        <a href="{% url 'studygroups_view_study_group' study_group.pk %}">{% trans "Back" %}</a>
      {% elif object.study_group %}
        <a href="{% url 'studygroups_view_study_group' object.study_group.pk %}">{% trans "Back" %}</a>
      {% endif %}

      {% if object %}
        <h2>{% blocktrans with name=object.name %}Update details for {{name}} {% endblocktrans %}</h2>
      {% else %}
        <h2>{% blocktrans with studygroup_name=study_group.name %}Add a new member to {{studygroup_name}} {% endblocktrans %}</h2>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.management_form }}
      {% for application_form in form %}
      <div class="row pb-5 pb-md-0">
        <div class="col-md-4">
          {{ application_form.name|as_crispy_field }}
        </div>
        <div class="col-md-4">
          {{ application_form.email|as_crispy_field }}
        </div>
        <div class="col-md-4">
          {{ application_form.mobile|as_crispy_field }}
        </div>
      </div>
      {% endfor %}
      <p><button type="submit" class="btn btn-primary">{% if object %}{% trans "Save"%}{% else %}{% trans "Add" %}{% endif %}</button></p>
    </form>
  </div>
</div>
{% endblock %}
