{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if study_group %}
        <a href="{% url 'studygroups_view_study_group' study_group.pk %}">{% trans "Back" %}</a>
      {% elif object.study_group %}
        <a href="{% url 'studygroups_view_study_group' object.study_group.pk %}">{% trans "Back" %}</a>
      {% endif %}

      {% if object %}
        <h2>{% blocktrans with name=object.name %}Update details for {{name}} {% endblocktrans %}</h2>
      {% else %}
        <h2>{% blocktrans with studygroup_name=study_group.name %}Add a new learner to {{studygroup_name}} {% endblocktrans %}</h2>
      {% endif %}
      {% if study_group.at_capacity %}
      <p class="alert alert-warning">{% trans "Adding another learner will exceed the signup limit." %}</p>
      {% endif %}
      {% url 'studygroups_add_learners' study_group.id as add_multiple_url %}
      <p>{% blocktrans %}<a href="{{add_multiple_url}}">Click here</a> to add multiple learners at once{% endblocktrans%}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12">
        <form action="" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <p><button type="submit" class="p2pu-btn btn btn-primary">{% if object %}{% trans "Save"%}{% else %}{% trans "Add" %}{% endif %}</button></p>
        </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12">
    </div>
  </div>

</div>
{% endblock %}
