{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container">
  <a href="{% url 'studygroups_view_study_group' study_group.pk %}">{% trans "Back" %}</a>
  <h2>{% blocktrans with studygroup_name=study_group.name venue_name=study_group.venue_name %}Send message to &quot;{{studygroup_name}}&quot; at {{venue_name}}{% endblocktrans %}</h2>
  <p>{% trans "This email will go to all learning circle participants, with your email address set as the 'reply to' address." %}
  <p>{% trans "If any participants joined with a mobile number, an additional SMS field will appear below. SMS replies will be forwarded to you by email." %}</p>
  <form action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <p><button type="submit" class="btn btn-primary">{% trans "Send" %}</button></p>
  </form>
</div>
{% endblock %}

{% block scripts %}
{% render_bundle 'common' %}
{% render_bundle 'message-form' %}
{% endblock %}
