{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>{% trans "Confirm deletion" %}</h2>
      <form action="" method="post">{% csrf_token %}
          <p>{% blocktrans %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}</p>
          <p><input class="btn btn-primary" type="submit" value="{% trans "Confirm" %}" /></p>
      </form>
      {% if user.facilitator %} {% comment %} TODO - this doesn't work anymore! {% endcomment %}
      <p><a href="{% url 'studygroups_facilitator' %}">{% trans "Back to dashboard" %}</a></p>
      {% else %}
      <p><a href="{% url 'studygroups_organize' %}">{% trans "Back to dashboard" %}</a></p>
      {% endif %}
    </div>
  </div>
</div>
  
{% endblock %}
