{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {{ course.title }}
{% endblock %}

<!-- SEO -->

{% block page_meta %}
  <meta property="og:title" content="{{ course.title }}" />
  <meta name="description" content="{{ course.caption }}" />
  <meta property="og:description" content="{{ course.caption }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}" />
  <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}">
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/p2pu-ogimg-default.jpg' %}" />
  <meta property="og:image:height" content="628" />
  <meta property="og:image:width" content="1200" />
{% endblock %}


{% block content %}

<div class="header-wrap">
  <header class="container page-header">
    <div class="row">
      <div class="col-12 mt-4 mt-lg-5">
        <a href="{{STATIC_SITE_URL}}/en/learning-resources/" class="btn back p2pu-btn btn-sm btn-md-base secondary gray mt-md-4">
          <span>Back to Learning Resources</span>
        </a>
        <span class="eyebrow">topic:</span>
        <h1>{{ course.title }}</h1>
      </div>
      <div class="col-12 col-lg-7 col-xl-8 my-3">
        <p class="subtitle">{{course.caption}}</p>
      </div>
      <div class="col-12 offset-lg-1 col-lg-4 col-xl-3 my-3 ps-lg-0">
        <div class="row g-lg-0">
          <div class="py-3 pt-md-1 col-12 col-sm-6 col-lg-12">
            <a href="{{ course.link }}" rel="nofollow" target="_blank" class="col-12 btn p2pu-btn secondary orange btn-sm-sm btn-md-base">View Resource</a>
          </div>
          <div class="py-3 pt-md-1 col-12 col-sm-6 col-lg-12">
            <a href="{% url 'studygroups_facilitator_studygroup_create' %}?course_id={{course.id}}" class="col-12 btn p2pu-btn orange btn-sm-sm btn-md-base">{% trans "Use resource" %}</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<section>
  <div class="container">
    <h3 class="pb-4">{% trans "About this resource" %}</h3>
    <div class="row">

      <div class="col-12 col-md-6">
        <div class="table-responsive">
          <table class="table mb-0 mb-md-3">
            <tbody>
              {% if course.topic_guides.all.count %}
              <tr>
                <th scope="row">{% trans "Topics" %}</th>
                <td class="topics-list">
                  {% for topic in course.topic_guides.all %}<a href="{{topic.url}}">{{topic.title}}</a>{% if not forloop.last %}, {% endif %}{% empty %}{% trans "None" %}{% endfor %}
                </td>
              </tr>
              {% endif %}
              <tr>
                <th scope="row">{% trans "Keywords" %}</th>
                <td class="keywords-list">
                  {% for keyword in course.keyword_list %}{{keyword}}{% if not forloop.last %}, {% endif %}{% endfor %}
                </td>
              </tr>
              <tr>
                <th scope="row">{% trans "Added by" %}</th>
                <td class="">
                  {% if course.created_by.first_name %}
                    {{ course.created_by.first_name }} {% trans "on" %} {{ course.created_at|date:"j M, Y" }}
                  {% else %}
                    {% trans "Anonymous on" %} {{ course.created_at|date:"j M, Y" }}
                  {% endif%}
                </td>
              </tr>
              <tr>
                <th scope="row">{% trans "Popularity" %}</th>
                <td>
                  {% blocktrans count usage=usage %}
                    Used in {{ usage }} learning circle
                  {% plural %}
                    Used in {{ usage }} learning circles
                  {% endblocktrans %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">{% trans "Format" %}</th>
                <td>{{course.get_format_display}}</td>
              </tr>
              <tr class="provider">
                <th scope="row">{% trans "Creator" %}</th>
                <td>{{ course.provider }}</td>
              </tr>
              <tr class="website">
                <th scope="row">{% trans "Website" %}</th>
                <td>
                  <a href="{{ course.link }}" rel="nofollow" target="_blank">{{ course.link }}</a>
                </td>
              </tr>
              <tr>
                <th scope="row">{% trans "Language" %}</th>
                <td>{{course.get_language_display}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% if course.facilitatorguide_set.count %}
<section id="facilitator-guides" class="pt-0">
	<div class="container">
		<h3 class="pb-4">Facilitator Guides</h3>
		<div class="row grid">
      {% for guide in course.facilitatorguide_set.active %}
				<div class="grid-item col-md-6 col-lg-4">
					<div class="card p-0 generic cover-link">
            <a href="{{guide.link}}" target="_blank"></a>
						<div class="card-image">
              {% if guide.image %}
                <img src="{{guide.image}}" alt="Facilitator guide cover image" class="card-img-top">
              {% else %}
                
              <img src="{% static 'images/icons/facilitator-guide' %}-{{forloop.counter}}.svg" alt="Facilitator guide cover image" class="card-img-top">
              {% endif %}
						</div>
						<div class="card-header">
              <h4 class="card-title">{{guide.title}}</h4>
              <span>{{guide.caption}}</span>
						</div>
					</div>
				</div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<section class="bg-cream-dark">
  <div class="container">
    <h2>{% trans "Community Feedback" %}</h2>
    <div class="row feedback mb-5">
      <div class="col-12 col-md-5 col-lg-6 text-center">
        <div class="col-12 display-3">
          <span style="font-size: 2em;">
            {% if course.overall_rating %}{{ course.overall_rating }}{% else %}--{% endif %}
          </span>
        </div>
        {% if course.overall_rating %}
        <div class="stars text-yellow mb-2 pe-md-0 d-flex col-12 justify-content-center">
          <i class="fs-1 material-icons">{% if course.overall_rating >= 1 %}star{% elif course.overall_rating > 0 %}star_half{% else %}star_outline{% endif %}</i>
          <i class="fs-1 material-icons">{% if course.overall_rating >= 2 %}star{% elif course.overall_rating > 1 %}star_half{% else %}star_outline{% endif %}</i>
          <i class="fs-1 material-icons">{% if course.overall_rating >= 3 %}star{% elif course.overall_rating > 2 %}star_half{% else %}star_outline{% endif %}</i>
          <i class="fs-1 material-icons">{% if course.overall_rating >= 4 %}star{% elif course.overall_rating > 3 %}star_half{% else %}star_outline{% endif %}</i>
          <i class="fs-1 material-icons">{% if course.overall_rating >= 5 %}star{% elif course.overall_rating > 4 %}star_half{% else %}star_outline{% endif %}</i>
        </div>
        <div class="col-12 text-uppercase">
          {% blocktrans count total_ratings=course.get_num_of_facilitator_reviews %}{{ total_ratings }} facilitator rating{% plural %}{{ total_ratings }} facilitator ratings{% endblocktrans %} | 
          {% blocktrans count total_ratings=course.get_num_of_learner_reviews %}{{ total_ratings }} learner rating{% plural %}{{ total_ratings }} learner ratings{% endblocktrans %}
        </div>
        {% endif %}
      </div>

      {% if course.total_ratings > 0 %}
        <div class="col-12 col-md-7 col-lg-6 ratings mt-5">
          <div class="d-flex align-items-center lh-lg">
            <div class="stars d-flex align-items-center">
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <span>5</span>
            </div>
            <div class="d-flex bar flex-fill border-start border-primary py-2">
              <div style="width: {% widthratio course.rating_step_counts_json.5 course.star_max 100 %}%" class="bg-gray py-3"></div>
              <span>({{course.rating_step_counts_json.5}})</span>
            </div>
          </div>
       
          <div class="d-flex align-items-center lh-lg">
            <div class="stars d-flex align-items-center">
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <span>4</span>
            </div>
            <div class="d-flex bar flex-fill border-start border-primary py-2">
              <div style="width: {% widthratio course.rating_step_counts_json.4 course.star_max 100 %}%" class="bg-gray py-3"></div>
              <span>({{course.rating_step_counts_json.4}})</span>
            </div>
          </div>
          <div class="d-flex align-items-center lh-lg">
            <div class="stars d-flex align-items-center">
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <span>3</span>
            </div>
            <div class="d-flex bar flex-fill border-start border-primary py-2">
              <div style="width: {% widthratio course.rating_step_counts_json.3 course.star_max 100 %}%" class="bg-gray py-3"></div>
              <span>({{course.rating_step_counts_json.3}})</span>
            </div>
          </div>
          <div class="d-flex d-flex align-items-center lh-lg">
            <div class="stars d-flex align-items-center">
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <span>2</span>
            </div>
            <div class="d-flex bar flex-fill border-start border-primary py-2">
              <div style="width: {% widthratio course.rating_step_counts_json.2 course.star_max 100 %}%" class="bg-gray py-3"></div>
              <span>({{course.rating_step_counts_json.2}})</span>
            </div>
          </div>
          <div class="d-flex align-items-center lh-lg">
            <div class="stars d-flex align-items-center">
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <span>1</span>
            </div>
            <div class="d-flex bar flex-fill border-start border-primary py-2">
              <div style="width: {% widthratio course.rating_step_counts_json.1 course.star_max 100 %}%" class="bg-gray py-3"></div>
              <span>({{course.rating_step_counts_json.1}})</span>
            </div>
          </div>
        </div>
      {% endif %}

    </div>

    {% if course_rating_reason.get_course_reviews %}
    <h3>{% trans "Reviews" %}</h3>
    <div class="reviews">
      {% for rating in course.get_course_reviews|slice:3 %}
      {% if rating.course_rating_reason %}
        <div class="review">
          <div class="lowbrow row py-3">
            <div class="stars stars-{{rating.course_rating}} mb-2 mb-md-0 align-items-center pe-md-0 d-flex col-12 col-md-auto">
              <span></span><span></span><span></span><span></span><span></span><span class="date"> {{rating.response_date | date:'M Y'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>{{rating.course_rating_reason}}</p>
            </div>
          </div>
        </div>
      {% endif %}
      {% endfor %}
      {% if course_rating_reason.get_course_reviews|length > 3 %}
      <div class="text-center">
        <a href="reviews" class="text-center btn text-orange">More reviews</a>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</section>


<section>
  <div class="container">
    <h2 class="py-4">
      {% blocktrans count usage=usage %}
        {{ usage }} learning circle used this resource
      {% plural %}
        {{ usage }} learning circles used this resource
      {% endblocktrans %}
    </h2>
    <div id="course-learning-circles" data-default-image-url="{% static 'images/learning-circle-default.jpg' %}"></div>
  </div>
</section>
{% endblock %}
{% block scripts %}

{{ learning_circles|json_script:"course-learning-circles-data" }}
<script src="{% static 'js/vendor/pygal-tooltips.min.js' %}"></script>
{% render_bundle 'common' %}
{% render_bundle 'course-page' %}
{% endblock %}
