{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {{ course.title }} reviews
{% endblock %}

{% block content %}

<div class="header-wrap">
  <header class="container page-header">
    <div class="row">
      <div class="col-12 mt-4 mt-lg-5">
        <a href="{% url "studygroups_course_page" course.id %}" class="btn back p2pu-btn btn-sm btn-md-base secondary gray mt-md-4">
          <span>Back to Learning Resource</span>
        </a>
      </div>
    </div>
  </header>
</div>

<section class="bg-cream-dark">
  <div class="container">
    <h2>{% trans "Reviews" %}</h2>
    <div class="row grid reviews">
    {% for rating in page_obj %}
      {% if rating.course_rating_reason %}
        <div class="grid-item col-12 py-2">
          <div class="row py-3">
            <div class="col-12 col-lg-11 col-xl-10">
              <div class="lowbrow row py-3">
                <div class="stars stars-{{rating.course_rating}} mb-2 mb-md-0 align-items-center pe-md-0 d-flex col-12 col-md-auto">
                  <span></span><span></span><span></span><span></span><span></span><span class="date"> {{rating.response_date | date:'M Y'}}</span>
                </div>
              </div>
              <p>{{rating.course_rating_reason}}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    </div>
    <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
    <div class="pagination justify-content-center">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
{% render_bundle 'common' %}
{% endblock %}
