{% load static %}

<div class="article-wrapper">
	<article>
		<div class="clearfix">
			<div class="course clearfix">
				<div class="col-md-12">
					<div class="course-description">
						<h4>{{ course.title }}</h4>
						<hr>
						<p>{{ course.caption }}</p>

						<div class="course-provider">
							Course Provider: <a href="{{ course.link }}" target="_blank">{{ course.provider }}</a>
						</div>
					</div>
				</div>
			</div>
				<hr />
        {% if course.studygroups %}
				<h5>Offered at:</h5>
					{% for sg in course.studygroups %}
						<div class="study-group col-md-4 col-sm-4">
                {% if sg.location.image %}
                <img class="img-thumbnail" src="{{ sg.location.image.url }}" alt="{{ sg.location.name }}" />
                {% endif %}
								<div class="location">
									{{ sg.location }}
								</div>
								<div class="location-details">
									{{ sg.location_details }}
								</div>
								<div class="study-group-details">
									<p><strong><i class="fa fa-calendar"></i>&nbsp; &nbsp;{{ sg.day }}s {{ sg.start_date|date:"f A" }} - {{ sg.end_time|time:"fA" }}</strong></p>
									<p><strong>{{ sg.course.duration|capfirst }}</strong> beginning <strong>{{ sg.start_date|date:"j N Y" }}</strong></p>
								</div>
              {% if sg.signup_open %}
							<a href="{% url 'studygroups_signup' location=sg.location.name|slugify study_group_id=sg.pk %}"
							   class="course-apply btn btn-info"> Sign up </a>
              {% endif %}
						</div>
					{% endfor %}
        {% else %}
          <p>There are currently no Learning Circles for this course.</p>
        {% endif %}
			</div>
	</article>
</div>

