{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="c-jumbotron-conf">
    <div class="j-text-container">
        <span class="c-jumbo-title">{% trans "Looking for a course for your Learning Circle?" %}</span> </br>
        <span class="c-jumbo-body">{% trans "These are courses that we've worked with in the past and think work pretty well as Learning Circles. When you create a Learning Circle, you'll have the option to select from these courses or to add your own." %}</span> 
    </div>	
</div>

<div class="container" >
    {% for course in object_list %}
        {% include 'studygroups/course_card.html' %}
    {% endfor %}
</div>
{% endblock %}
