{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h1>{{course.title}}</h1>
      <p>{{course.caption}}</p>
      <p>{% blocktrans with course.start_date as start_date %}Course starts on {{start_date}}{% endblocktrans %}</p>
      <p><a class="btn btn-primary"><i class="glyphicon glyphicon-calendar"></i> Download calendar</a></p>
    </div>
    <div class="col-md-8">
      <h2>Study Groups</h2>
      <ul class="list-group">
        {% for study_group in study_groups %}
        <li class="list-group-item">
        {{ study_group.time }} at <a href="{{study_group.location_link}}" target="_blank">{{ study_group.location}}</a>
          {% with size=study_group.studygroupsignup_set.count %}
          {% widthratio size study_group.max_size 100 as width %}
          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{width}}%;">
                  {{size}}/{{study_group.max_size}}
              </div>
          </div>
          {% if size < study_group.max_size %}
            <a href="{% url 'studygroups_signup' study_group_id=study_group.id %}" class="btn btn-primary">Join study group</a>
          {% endif %}
          {% endwith %}
        </li>
        {% endfor %}
      </ul>  
    </div>
  </div>
</div> <!-- /container -->
{% endblock %}
