{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="confirmation-page published">
  <div class="jumbo-icon">
    <i class="material-icons">sentiment_very_satisfied</i>
  </div>
  <div class="text col-xs-12 col-sm-10 col-md-8">
    <h1>Congratulations!</h1>
    <p>Your learning circle is now live at:</p>
    <p class="bold"><a href="{{request.GET.url}}">{{ request.GET.url }}</a></p>
    <p>You can edit the learning circle details at any time in your facilitator dashboard.</p>
    <p>Now that your learning circle is live, it’s time to start promoting!</p>
  </div>
  <div class="cta">
    <a href="/en/facilitator">
      <button class='p2pu-btn yellow'>Go to dashboard</button>
    </a>
  </div>
</div>

{% endblock %}

