{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

{% block content %}
<div
  id='facilitator-dashboard'
  data-user="{{ request.user }}"
  data-team-name="{{ team_name }}"
  data-team-organizer-name="{{ team_organizer_name }}"
  data-team-invitation-confirmation-url="{{ team_invitation_confirmation_url }}"
  data-email-confirmation-url="{{ email_confirmation_url }}"
  data-user-is-organizer="{{ user_is_organizer }}"
  data-team-invitation-url="{{ team_invitation_url }}"
  data-create-team-invitation-url="{{ create_team_invitation_url }}"
  data-delete-team-invitation-url="{{ delete_team_invitation_url }}"
  data-team-member-invitation-url="{{ team_member_invitation_url }}"
>
  <div class="loader"></div>
</div>

{% endblock %}

{% block scripts %}
{% render_bundle 'common' %}
{% render_bundle 'facilitator-dashboard' %}
<script src="{% static 'js/vendor/embeds.js' %}"></script>
{% endblock %}
