{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block page_title %}
  {% trans "Facilitator Survey" %}
{% endblock %}


{% block content %}
<div class="typeform-container" style="height: 90vh">
  <div id='studygroup-facilitator-feedback' style="height: 100%"
    data-survey-id="{{survey_id}}"
    data-studygroup-uuid="{{study_group.uuid}}"
    data-studygroup-name="{{study_group.name}}"
    data-course="{{course}}"
    data-goal="{{goal}}"
    data-goal-rating="{{goal_rating}}"
    data-attendance_1="{{attendance_1}}"
    data-attendance_2="{{attendance_2}}"
    data-attendance_n="{{attendance_n}}"
    data-post-rating-url="{% url 'studygroups_facilitator_rating' study_group.pk %}"
  >
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% render_bundle 'common' %}
{% render_bundle 'facilitator-survey' %}
{% endblock %}
