{% extends 'base.html' %}

{% block content %}

<div class="container">
  <!-- Example row of columns -->

 <div class="row">
    <div class="col-md-12">
      <h1>Resources</h1>
      <ul class="nav nav-tabs nav-stacked">
          <li><a href="#">What are learning circles?</a></li>
          <li><a href="#">How do I create a learning circle?</a></li>
          <li><a href="#">What should I do during a learning circle?</a></li>
      </ul>
  </div>
  </div>


  {% for lc in study_groups %}
    {% include 'studygroups/study_group_facilitate.html' %}
  {% endfor %}

</div> <!-- /container -->

{% endblock %}
