{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="container feedback-done">
    <section class="inner-container centered col-xs-12 col-md-8">
      <div class="centered">
        <img src="{% static "images/thankyou.gif" %}" alt="Thank you!" width="100%" />
      </div>
      <h2>{% trans "Thanks for participating! We hope to see you facilitate again soon." %}</h2>
      <p>If you’re talking about your learning circle on social media, please mention <a href="https://twitter.com/p2pu">@p2pu</a> and <a href="https://twitter.com/hashtag/learningcircles">#learningcircles</a> so we can follow your journey.</p><br>
      <p><a href="/en/facilitator/" class="p2pu-btn blue">Return to my dashboard</a></p>
    </section>
  </div>
{% endblock %}
