{% extends 'base.html' %}

{% block content %}

<div class="container">

  <h1>{{user.first_name}}&#39;s Facilitator Dashboard</h1>

  <h2>Useful links:</h2>
  <ul class="list-unstyled">
      <li><a href="https://www.p2pu.org/en/facilitate/">Facilitator Guide</a></li>
      <li><a href="https://community.p2pu.org">Facilitator Community</a></li>
  </ul>

  <h2>Active Learning Circles</h2>
  {% for lc in current_study_groups %}
    {% include 'studygroups/study_group_facilitate.html' %}
  {% empty %}
    <p>No active Learning Circles found.</p>
  {% endfor %}
  <p>
    <a class="btn btn-primary" href="{% url 'studygroups_facilitator_studygroup_create' %}">Create a new Learning Circle</a>
  </p>
  <p>
    <a class="btn btn-primary" href="{% url 'studygroups_course_create' %}">Add a new Course</a>
  </p>

  {% if past_study_groups %}<h2>Past Learning Circles</h2>{% endif %}
  {% for lc in past_study_groups %}
    {% include 'studygroups/study_group_facilitate.html' %}
  {% endfor %}


</div> <!-- /container -->

{% endblock %}
