{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="confirmation-page saved">
  <div class="jumbo-icon">
    <i class="material-icons">cloud_done</i>
  </div>
  <div class="text">
    <h1>Saved it!</h1>
    <p>You have successfully saved a learning circle draft. This is not currently searchable on our website. You can finish this up and publish it at anytime from within your facilitator dashboard.</p>
    <p>This draft will remain active for 3 months. After that, you’ll need to create a new learning circle.</p>
  </div>
  <div class="cta">
    <a href="/en/facilitator">
      <button class='p2pu-btn blue'>Go to dashboard</button>
    </a>
  </div>
</div>

{% endblock %}
