{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container learning-circle-signup">
<div class="row">
    
  <div class="col-md-12 col-sm-12">
      <h2>Create a Learning Circle</h2>
      <p>This information will be used to generate your public webpage for your Learning Circle. If you get stuck, the <a href="https://www.p2pu.org/en/facilitate/" target="_blank">Facilitator Guide</a> and the <a href="community.p2pu.org">Facilitator Community</a> can provide tips and suggestions. You can edit this form at any point in the future through your Dashboard.</p>
  </div>
  <div class="col-md-6 col-offset-md-3 col-sm-12">
      <p>* indicates a required field.</p>
    {% crispy form %}
  </div>
</div>
</div>
{% endblock %}

{% block css %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/datepicker.css' %}" charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}" charset="utf-8">
{% endblock %}


{% block scripts %}
<script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/vendor/jquery.timepicker.js' %}"></script>
<script src="{% static 'js/vendor/jstz.min.js' %}"></script>
<script>
    $(document).ready(function(){
            $('.dateinput').datepicker({'format':'yyyy-mm-dd'});
            $('.timeinput').timepicker({ 'step': 15, 'timeFormat': 'h:i A' });
            var tz = jstz.determine();
            if (typeof (tz) !== 'undefined' && $('#id_timezone').val() === "") {
                $('#id_timezone').val(tz.name());
            }
    });
</script>
{% endblock %}
