{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

{% block content %}
<div id='create-learning-circle-form' data-user="{{ request.user }}">
  <div class="loader"></div>
  <div class="legacy-link">
    <a href="{% url 'studygroups_studygroup_create_old' %}">{% trans "Use old form" %}</a>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% render_bundle 'common' %}
{% render_bundle 'learning-circle-create' %}
{% endblock %}
