{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Facilitator Dashboard" %}
{% endblock %}

{% block page_meta %}

  <!-- SEO -->

  <meta property="og:title" content="{% trans "Facilitator Dashboard" %}" />
  <meta name="description" content="{% trans "Manage your learning circles activity and connect to the P2PU community" %}" />
  <meta property="og:description" content="{% trans "Manage your learning circles activity and connect to the P2PU community" %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}" />
  <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}">
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/p2pu-ogimg-default.jpg' %}" />
  <meta property="og:image:height" content="628" />
  <meta property="og:image:width" content="1200" />

  <meta property="og:site_name" content="{% trans "P2PU Learning Circles" %}" />

{% endblock %}


{% block content %}
<div
  id='facilitator-dashboard'
  data-user="{{ request.user }}"
  data-first-name="{{ first_name }}"
  data-last-name="{{ last_name }}"
  data-city="{{ city }}"
  data-bio="{{ bio }}"
  {% if avatar_url %}data-avatar-url="{{ avatar_url }}"{% endif %}
  data-team-id="{{ team_id }}"
  data-team-role="{{ team_role }}"
  data-team-name="{{ team_name }}"
  data-team-organizer-name="{{ team_organizer_name }}"
  data-team-invitation-confirmation-url="{{ team_invitation_confirmation_url }}"
  data-email-confirmation-url="{{ email_confirmation_url }}"
  data-user-is-organizer="{{ user_is_organizer }}"
  data-team-invitation-link="{{ team_invitation_link }}"
  data-create-team-invitation-link="{{ create_team_invitation_link }}"
  data-delete-team-invitation-link="{{ delete_team_invitation_link }}"
  data-team-member-invitation-url="{{ team_member_invitation_url }}"
  data-delete-team-membership-api-url="/api/drf/team_membership/"
  data-delete-team-invitation-api-url="/api/drf/team_invitation/"
  data-edit-team-url="{{ edit_team_url }}"
  {% if is_member_team %}
    data-is-member-team="true"
    data-member-support-url="{{ member_support_url }}"
  {% endif %}
  {% if request.user.is_staff %}
    data-is-staff="true"
  {% endif %}
>
  <div class="loader"></div>
</div>

{% endblock %}

{% block scripts %}
{% render_bundle 'common' %}
{% render_bundle 'facilitator-dashboard' %}
<script src="{% static 'js/vendor/embeds.js' %}"></script>
{% endblock %}
