{% extends 'base.html' %}

{% block content %}

<div class="container">

 <!--div class="row">
    <div class="col-md-12">
      <h1>Resources</h1>
      <ul class="nav nav-tabs nav-stacked">
          <li><a href="#">What are learning circles?</a></li>
          <li><a href="#">How do I create a learning circle?</a></li>
          <li><a href="#">What should I do during a learning circle?</a></li>
      </ul>
  </div>
  </div-->


  <h2>Active learning circles</h2>
  {% for lc in current_study_groups %}
    {% include 'studygroups/study_group_facilitate.html' %}
  {% empty %}
    <p>No active learning circles found.</p>
  {% endfor %}
  <p>
    <a class="btn btn-primary" href="{% url 'studygroups_facilitator_studygroup_create' %}">Create a new Learning Circle</a>
  </p>
  <p>
    <a class="btn btn-primary" href="{% url 'studygroups_course_create' %}">Add a new Course</a>
  </p>

  <h2>Past learning circles</h2>
  {% for lc in past_study_groups %}
    {% include 'studygroups/study_group_facilitate.html' %}
  {% endfor %}


</div> <!-- /container -->

{% endblock %}
