{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

{% block content %}
<div
  id='facilitator-dashboard'
  data-user="{{ request.user }}"
  data-team-name="{{ team_name }}"
  data-team-organizer-name="{{ team_organizer_name }}"
  data-explicit-team-invitation-url="{{ explicit_team_invitation_url }}"
  data-implicit-team-invitation-url="{{ implicit_team_invitation_url }}"
  data-email-confirmation-url="{{ email_confirmation_url }}"
>
  <div class="loader"></div>
</div>

{% endblock %}

{% block scripts %}
{% render_bundle 'common' %}
{% render_bundle 'facilitator-dashboard' %}
<script src="{% static 'js/vendor/embeds.js' %}"></script>
{% endblock %}
