{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="section-title col-md-12">
          <h2>You successfully signed up!</h2>
      </div>
      <div class="col-md-12">
          <p>You will shortly receive an email with instruction on setting your password and logging on. If you haven't already seen <a href="https://p2pu.org/en/facilitate">the faciltator hub</a> be sure to have a look now.</p>
      </div>
    </div>
  </div>
{% endblock %}
