{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container learning-circle-signup">
<div class="row">
    
  <div class="col-md-12 col-sm-12">
      <h2>Create an account</h2>
      Or <a href="{% url 'studygroups_login_redirect' %}">log in</a>
      <p>Fill in your email address and name below, and you’ll soon get an email prompting you 
      to reset your password and log in to create your first Learning Circle.</p>
  </div>
  <div class="col-md-12 col-sm-12">
	  <form action="" method="POST" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ form|crispy }}
        <p><button type="submit" class="btn btn-default">Submit</button></p>
	  </form>
  </div>
</div>
</div>
{% endblock %}
