{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_title %}
  {{ study_group.name }}
{% endblock %}

{% block content %}
<div class="bg-light">
  <div class="container" id="learning-circle-report">
    <div class="row justify-content-between border-bottom pt-4" style="align-items: baseline">
      <div class="col">
        <span class="bold large text-uppercase">{% trans 'Learning Circle Insights' %}</span>
      </div>
      <div class="col">
        <img class="d-none d-md-block float-right" src="{% static 'images/logo.png' %}" alt="P2PU Logo">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h1 class="mt-4">{{ study_group.name }}</h1>
        <h4>{% blocktrans with facilitator_name=study_group.facilitator.first_name %}with {{ facilitator_name }}{% endblocktrans %}</h4>
        <p class="my-0">{{ study_group.start_date }} {% trans "to" %} {{ study_group.end_date }} {% trans "at" %} {{ study_group.venue_name }}</p>
        <p class="my-0">{{ study_group.city }}</p>
      </div>
    </div>
    {% if learner_survey_responses == 0 and registrations == 0 %}
      <div class="row">
        <div class="col">{% trans "Not enough data available." %}</div>
      </div>

    {% else %}
      <div class="row mt-4 report-charts">
        <div class="col-12 mb-4">
            <h2>{% trans "Summary" %}</h2>
            <p class="my-0">{{ registrations }} {% trans "learners signed up" %}; {{ learner_survey_responses }} {% trans "responded to the survey" %}</p>
        </div>

          {% include "studygroups/measurement_card.html" with title='Learner Goals' description='Why did people sign up?' chart=goals_chart %}
          {% include "studygroups/measurement_card.html" with title='Goals Met' description='Did participants reach their learning goals?' chart=goals_met_chart %}
          {% include "studygroups/measurement_card.html" with title='Confidence in course materials' description='Do participants feel more confident about what they learned?' chart=topic_confidence_chart %}
          {% include "studygroups/measurement_card.html" with title='Next Steps' description='How do participants intend to apply what they learned?' chart=next_steps_chart %}
          {% include "studygroups/measurement_card.html" with title='Net Promoter Score' description='Would participants recommend learning circles to a friend?' chart=recommendation_chart %}
          {% include "studygroups/measurement_card.html" with title='Why or Why Not?' description='' chart=recommendation_reasons_chart %}
          {% include "studygroups/measurement_card.html" with title='Attendance' chart=attendance_chart %}
      </div>
      {% endif %}
  </div>
</div>
<script src="{% static 'js/vendor/pygal-tooltips.min.js' %}"></script>
{% endblock %}
