{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}
  {% trans "Get the Organizer Guide" %}
{% endblock %}

{% block content %}
<div class="container">
<div class="row my-5">

  <div class="col-12">
    <h1 class="mb-4">{% trans "Get the Organizer Guide" %}</h1>
    <p><small class="text-muted">
      <a href="{% url 'login' %}?next=/en/get-organizer-guide/">{% trans "Log in" %}</a>
      {% trans "if you have an account." %}
    </small></p>
    <p>{% trans "Please provide the following information so that we can email you the Organizer Guide and follow up with you on getting a team started." %}</p>
  </div>
  <div class="col-12">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
        <p><button type="submit" class="btn p2pu-btn blue">{% trans "Get the Guide!" %}</button></p>
    </form>
  </div>

</div>
</div>
{% endblock %}
