{% extends 'base.html' %}

{% block content %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="primary container">
			<div class="col-md-8">
				<h1>Master new skills, together, in the library, for free.</h1>
			</div>
			<div class="col-md-4">
				Attend an info session to learn more and sign up

				Edgewater: 6:30PM Tuesday, April 21 in the Community Meeting Room (2nd Floor)

				Harold Washington: 6:30PM Wednesday, April 22 and Thursday, April 23 in the over the rainbow
			</div>


		</div>
		<div class="dark">
			<div class="container">
				<p>
					Chicago Public Library is hosting study groups for learners who want to complete online courses
					together, in-person at the libraries. <br /> These are free, peer-supported courses which are
					designed to be taken by anybody.
				</p>
			</div>
		</div>
	</div>

	<section id="faq">

		<div class="container">
			here be stuffs
		</div>
	</section>

	<section id="courses">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>These are the courses to choose from</h1>
				</div>
			</div>
		</div>
		{% include 'courses.html' %}
	</section>

{% endblock %}
