{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="top">
        <div class="primary container">
            <div class="col-md-12 text-center heading">
                <h2>Master new skills. Together. In the library. For free.</h2>
            </div>
			<div class="alert col-md-8">
				<div class="collapse" id="interest-extra" aria-expanded="false">
					{% include 'lead-extra.html' %}
				</div>
			</div>
            <div class="col-md-4 session" id="signup">
                <h3>Learning Circles are launching in September across Chicago.</h3>
	            {% include 'lead.html' %}
            </div>
        </div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 video">
                <iframe width="100%" height="360" src="https://www.youtube.com/embed/9asVuChS04Q" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6">
				<p>
					<h3>What is a Learning Circle?</h3>
The Learning Circles model brings together learners in open community spaces to take online courses together. As a support group for learning, Learning Circles offer individuals a comfortable and consistent environment to motivate and to be motivated.
				</p>
				<p>
					If you are not in Chicago or want to learn more, check out <a
						href="https://p2pu.org">our homepage</a>.
				</p>
			</div>
		</div>
	</div>

    <section id="learning-circles" class="shaded"> 
        {% include 'studygroups/learning-circles.html' %}
    </section>

    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>FAQ</h1>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="faq-item">
                        <span class="icon"><i class="fa fa-calendar"></i></span>
                        <h4>When does it start?</h4>

                        <p>
                            Learning Circles will begin in early September and last for about six weeks.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="faq-item">
                        <span class="icon"><i class="fa fa-graduation-cap"></i></span>
                        <h4>Where do we meet</h4>
                        <p>
                            Each Learning Circle meets at a branch of Chicago Public Library and is facilitated by a trained facilitator (often a cybernavigator).
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="faq-item">
                        <span class="icon"><i class="fa fa-smile-o"></i></span>
                        <h4>What is my commitment?</h4>

                        <p>
                            Learning Circles meet once a week for between 90 minutes and 2 hours to work through learning materials. It is up to the learners to determine if they want to commit to completing additional work outside of the Circle.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="faq-item">
                        <span class="icon"><i class="fa fa-clock-o"></i></span>
                        <h4>What will I learn?</h4>

                        <p>
                            Learning Circles work through free online learning material that comes from a number of providers, including Khan Academy, edX, Coursera, FutureLearn, and MIT OpenCourseware. In the spring, we offered courses in Academic Writing, GED Prep Math, Python, and Public Speaking. We plan on expanding this offering to include courses in new topics such as finance, HTML/CSS, and applying for jobs.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="shaded">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>About</h1>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <img src="{% static 'images/cpl-harold.jpg' %}" alt="CPL Harold Building Dome" />
                </div>
                <div class="col-md-8 description">

                    <p>With support from the Knight Foundation, Peer 2 Peer University and Chicago Public Library are hosting Learning Circles for individuals who want to complete online courses together, in-person at the libraries. We believe that people learn better when they’re learning together, and we’ve designed these study groups to provide maximum support for learners as they work their way through some of the best free online educational content on the Web.</p>

                    <p>The courses on offer have been carefully selected to be interesting and relevant to library users, and will lead to developing useful skills that can be applied in the online and offline worlds. Learners can choose to join any of the study groups.</p>

                    <p>For more information you can read all about Learning Circles at the <a href="https://p2pu.org/en/learning-circles/">Learning Circles Hub</a> or contact <script>(function(m,d){var e=m+'@'+d;document.write('<a href="mailto:'+e+'">');document.write(e+'</a>');})('grif','p2pu');</script> .</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/interest.js' %}"></script>
{% endblock %}
