{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load tz %}
{% load extras %}
{% block content %}
{% localtime off %}

<div class="container-xl">
  <div class="row my-3">
    <a href="/"><i class="fas fa-arrow-left mr-2"></i>Back to my dashboard</a>
  </div>
</div>

<div class="topbit">
  <div class="container-xl">
    <div class="heading row">
      <div class="offset-sm-3 col-sm-9 lc-details">
        <h1>{{study_group.name}}</h1>
      </div>
      <div class="col-sm-3">
        <div class="lc-manage-image participant">
          
          <div class="wrapper">
            {% if study_group.image %}
              <img class="img img-responsive full-width" src="{{study_group.image.url}}">
            {% else %}
              <img class="default-image img img-responsive full-width" src="{% static 'images/learning-circle-default.jpg' %}">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% url 'studygroups_signup' location=study_group.venue_name|unicode_slugify study_group_id=study_group.pk as signup_url %}
  <div class="action-bar participant">
    <div class="container-xl">
      <div class="row">
        <div class="col-sm-9 offset-sm-3">
          <a class="p2pu-btn btn btn-primary" href="mailto:{% for f in study_group.facilitator_set.all %}{% if not forloop.first%},{%endif%}{{f.user.email}}{% endfor %}">{% trans "Email facilitator(s)" %}</a>
          <a class="p2pu-btn btn btn-primary" href="{{ signup_url }}">{% trans "View signup page" %}</a>
          {% if content_link %}<a class="p2pu-btn btn btn-primary" href="{{ content_link }}">{% trans "View content" %}</a>{% endif %}
          <a class="p2pu-btn btn btn-primary" href="{{ application.unapply_link }}">{% trans "Leave" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-xl mt-5">
  <div id="learning-circle-timeline" class="manage"></div>
</div>
{% endlocaltime %}
{% endblock %}

{% block scripts %}
{{ react_data|json_script:"react-data" }}
{% render_bundle 'learning-circle-participant' %}

<script>
$(document).ready(function () {
  $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}
