{% load static %}
{% load extras %}
{% load i18n %}

  <div class="row">
{% for lc in learning_circles %}
  <!-- Card Html START --> 
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="lc-card">
      <a class="link-overlay" href="{% url 'studygroups_signup' location=lc.venue_name|slugify study_group_id=lc.pk %}"></a>
      {% if lc.image %}<img src="/media/{{ lc.image }}" height="143" width="286" alt="{% trans "Image of the Learning Circle location" %}>{% else %}<img src="{% static 'images/learning-circle-default.jpg' %}" height="143" width="286" alt="{% trans "Image of the Learning Circle location" %}">{% endif %}
      <div class="title-container"><h1>{{lc.course.title}}</h1></div>
      <div class="body-container">
          <p class="facilitatorX">{% blocktrans with first_name=lc.facilitator.first_name last_name=lc.facilitator.last_name %}Facilitator: <span class="extrabold">{{first_name}} {{last_name}}</span>{% endblocktrans %}</p>
        <p class="lc-venueX"><span class="extrabold lc-card-teal"><i class="fa fa-map-marker"></i> {{lc.venue_name}}</span><br/>
        {{lc.venue_address}}, {{lc.city}}</p>
        <p class="lc-daysX">{% blocktrans with day=lc.day meeting_time=lc.meeting_time|time:"f A" end_time=lc.end_time|time:"f A" timezone=lc.timezone %}<span class="extrabold">{{day}}s</span>, {{meeting_time}} - {{end_time}}, {{timezone}}{% endblocktrans %}</p>
        <p class="lc-startX">{% blocktrans with start_date=lc.start_date|date:"j N Y" count weeks=lc.studygroupmeeting_set.active.count %}<span class="extrabold">One week</span> beginning <span class="extrabold">{{start_date}}</span>{% plural %}<span class="extrabold">{{weeks}} weeks</span> beginning <span class="extrabold">{{start_date}}</span>{% endblocktrans %}</p>
      </div>
    </div>
  </div>
  <!-- Card Html END -->
{% endfor %}
  </div>

