{% extends 'email_base.html' %}
{% block body %}
 
<p>Hi {{study_group.facilitator.first_name}},</p>

<p>Congratulations! Your Learning Circle is now live.</p>

<p>Share <a href="{{protocol}}://{{domain}}{% url 'studygroups_signup' location=study_group.venue_name|slugify study_group_id=study_group.pk %}">this link</a> freely with anyone who you think might want to sign up. For ideas on where to share, and what to say, head over to the <a href="https://www.p2pu.org/en/facilitate/">facilitator guide</a> and read through the <a href="https://www.p2pu.org/en/facilitate/starting/">Getting Started</a> section.</p>

<p>And remember, you can log in to your facilitator dashboard at any time to view signups and send messages to your future learners!</p>

<p>You&#39;ll hear from us again a few days before your first Learning Circle. If you have any questions in the meantime, you can ask in our <a href="https://community.p2pu.org">facilitator community</a>.</p>

<p>Cheers,<br/>
P2PU</p>
{% endblock %}
