{% load i18n %}

{% if chart is not None %}
    {% if fullwidth %}
    <div class="col-12 pb-4 avoid-page-break">
    {% else %}
    <div class="col-12 col-md-6 pb-4 avoid-page-break">
    {% endif %}
        {% if not web %}
        <div class="report-measurement bg-white p-4 gray-border">
        {% else %}
        <div class="report-measurement bg-white p-4 shadow">
        {% endif %}
            <header>
                <p class="bold text-uppercase mb-0">{{ title }}</p>
                <p class="small mt-0">{{ description }}</p>
            </header>
            <div class="visualization">
                {{ chart|safe }}
            </div>
        </div>
    </div>
{% endif %}
