{% load i18n %}

{% if chart is not None %}
<div class="col-12 col-md-6 avoid-page-break">
    <div class="report-measurement bg-white p-4 mb-4" style="box-shadow: -2px 2px 6px rgba(0,0,0,0.2); background-color: #ffffff; padding: 1em; margin-bottom: 1em;">
        <header>
            <p class="bold text-uppercase mb-0" style="font-weight: bold; text-transform: uppercase; margin-bottom: 0">{{ title }}</p>
            <p class="small mt-0" style="font-size: 0.8em;">{{ description }}</p>
        </header>
        <div class="visualization">
            {{ chart|safe }}
        </div>
    </div>
</div>
{% endif %}