{% load i18n %}

{% if chart is not None %}
<style type="text/css">
    .report-measurement {
        background-color: #ffffff;
        padding: 1em;
        margin-bottom: 1em;
    }

    .shadow {
        box-shadow: -2px 2px 6px rgba(0,0,0,0.2);
    }

    .gray-border {
        border: 1px solid #D3D8E6;
    }

    .bold {
        font-weight: bold;
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .small {
        font-size: 0.8em;
    }

</style>
    {% if fullwidth %}
    <div class="col-12 avoid-page-break">
    {% else %}
    <div class="col-12 col-md-6 avoid-page-break">
    {% endif %}
        {% if not web %}
        <div class="report-measurement bg-white p-4 mb-4 gray-border">
        {% else %}
        <div class="report-measurement bg-white p-4 mb-4 shadow">
        {% endif %}
            <header>
                <p class="bold text-uppercase mb-0">{{ title }}</p>
                <p class="small mt-0">{{ description }}</p>
            </header>
            <div class="visualization">
                {{ chart|safe }}
            </div>
        </div>
    </div>
{% endif %}