{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href={% url 'studygroups_organize' %}>{% trans "back to organizer dashboard" %}</a>
      <h1>{% trans "Learning circles meetings" %}</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>{% trans "Learning circle" %}</th>
          <th>{% trans "Facilitator" %}</th>
          <th>{% trans "Meeting time" %}</th>
          <th>{% trans "RSVPs" %}</th>
          <th>{% trans "Feedback" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for meeting in object_list|dictsort:"meeting_datetime" %}
          {% include 'studygroups/_meeting_tr.html' %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
