{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <a href="{% url 'studygroups_view_study_group' form.study_group.value %}">{% trans "Back" %}</a>
      {% if object %}
        <h2>{% trans "Update meeting date and time" %}</h2>
      {% else %}
        <h2>{% trans "Add new meeting" %}</h2>
      {% endif %}
      <form action="" method="POST">
        {% csrf_token %}
          {{ form|crispy }}
          {% if meeting and meeting.reminder_set.count %}
            <div class="form-group">
            {% with reminder=meeting.reminder_set.all|first %}
              {% if reminder.sent_at %}
              <p class="alert alert-warning">{% trans "A reminder has already been sent for this meeting. If you update this meeting, a message will be sent to inform participants of the change and a new reminder will be sent two days before the updated meeting date if it is still in the future." %}</p>
              {% else %}
              <p class="alert alert-warning">{% trans "Updating this meeting will regenerate the associated reminder. You will loose any edits you may have made to the message." %}</p>
              {% endif %}
            {% endwith %}
            </div>
          {% endif %}
          <p><button type="submit" class="btn btn-primary">{% if object %}{% trans "Save" %}{% else %}{% trans "Add" %}{% endif %}</button></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block css %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/datepicker.css' %}" charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}" charset="utf-8">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/vendor/jquery.timepicker.js' %}"></script>
<script>
    $(document).ready(function(){
            $('.dateinput').datepicker({'format':'yyyy-mm-dd'});
            $('.timeinput').timepicker({ 'step': 15, 'timeFormat': 'h:i A' });
    });
</script>
{% endblock %}
