{% extends 'email_base.html' %}
{% block body %}
<p>Hi there {{ facilitator.first_name }},</p>

<p>A week ago you signed up to be a facilitate a Learning Circle. If you haven&quot;t already, head over to <a href="https://www.p2pu.org/en/facilitate/">www.p2pu.org/facilitate"</a> to get your first Learning Circle up and running.</p>

<p>If you have any questions, our team and growing community of facilitators are available at <a href="https://community.p2pu.org">community.p2pu.org</a> to answer questions and share feedback. We&quot;d love to see you there!</p>

<p>Regards,<br/>
The P2PU Team</p>
{% endblock %}
