{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block content %}

<div class="container">

  {% if team %}
    <div class="row">
      <div class="col-md-12">
          <h1>{{team.name}} team dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          {% include 'studygroups/organize_meetings.html' %}
          <a href="{% url 'studygroups_organizer_studygroup_meetings' %}">View all meetings</a>
      </div>
    </div>
 
    <div class="row">
      <div class="col-md-12">
        <h2>Active Learning Circles</h2>
        <table class="table table-bordered">
          <thead>
          <tr>
              <th>Details</th>
              <th>Signups</th>
              <th>Facilitator</th>
              <th>Next meeting</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          {% for group in active_study_groups|dictsort:"start_date" %}
              <tr>
                  <td>
                      {{ group.course }}<br>
                      {{group.start_date|date:"l" }}s, {{ group.meeting_time|date:"f A" }} at <a href="{{group.website}}" target="_blank">{{ group.venue_name }}</a>
                  </td>
                  <td>
                      {{ group.application_set.active.count }} 
                  </td>
                  <td>
                      {{ group.facilitator.first_name }} {{ group.facilitator.last_name }}
                  </td>
                  <td>
                      {% if group.next_meeting %}
                          {{group.next_meeting.meeting_date}} {{group.next_meeting.meeting_time}} {{group.timezone_display}}
                      {% endif %}
                  </td>
                  <td>
                      <a class="btn btn-primary" href="{% url 'studygroups_view_study_group' group.pk %}">View</a>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
        <!--p><a href="{% url 'studygroups_studygroup_create' %}" class="btn btn-primary">Add Learning Circle</a></p-->
        <p><a href="{% url 'studygroups_organizer_studygroup_list' %}">View all Learning Circles</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <h2>Facilitators</h2>
        <table class="table table-bordered">
          <thead>
          <tr>
              <th>Name</th>
          </tr>
          </thead>
          <tbody>
          {% for facilitator in facilitators %}
              <tr>
                  <td>
                      <a href="mailto:{{facilitator.user.email}}">{{ facilitator.user.first_name }} {{ facilitator.user.last_name }} &lt;{{ facilitator.user.email }}&gt;</a>
                  </td>
                  <!--td>
                      {% if team %}
                      <a class="btn btn-primary" href="{% url 'studygroups_teammembership_delete' team.id facilitator.user.id %}">Remove</a>
                      {% endif %}
                  </td-->
              </tr>
          {% endfor %}
          </tbody>
        </table>
        <!--p><a href="TODO" class="btn btn-primary">Invite facilitator</a></p-->
      </div>
    </div>

    {% if courses %}
    <div class="row">
      <div class="col-md-12">
        <h2>Courses</h2>
        <table class="table table-bordered">
          <thead>
          <tr>
              <th>Title</th>
              <th>Caption</th>
              <th>Start date</th>
              <th>Duration</th>
          </tr>
          </thead>
          <tbody>
          {% for course in courses %}
              <tr>
                  <td>
                      <a id="{{course.id}}"></a>
                      <a href="{{course.link }}" target="_blank">{{ course.title }}</a>
                  </td>
                  <td>
                      {{ course.caption }}
                  </td>
                  <td>
                      {{ course.start_date }}
                  </td>
                  <td>
                      {{ course.duration }} week{{course.duration|pluralize}}
                  </td>
                  <td>
                      <a href="{% url 'studygroups_course_edit' course.id %}" class="btn btn-primary">Edit</a>
                      <a href="{% url 'studygroups_course_delete' course.id %}" class="btn btn-primary">Delete</a>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
        <p><a href="{% url 'studygroups_course_create' %}" class="btn btn-primary">Add course</a></p>
      </div>
    </div>
    {% endif %}
  {% else %}
    <div class="row">
      <div class="col-md-12">
          <div id="organizer-dash"></div>
      </div>
    </div>
  {% endif %}

</div> <!-- /container -->

{% if not team %}
<script>
    window.organizerDash = window.organizerDash || {};
 
    var activeLearningCircles = [
        {% for group in active_study_groups %}{{ group.to_json|safe }},
        {% endfor %}
    ];
    window.organizerDash.activeLearningCircle = activeLearningCircles;

    var meetings = [
        {% for meeting in meetings %}
        { 
            meeting_time: "{{meeting.meeting_time|time:"H:i"}}",
            meeting_date: "{{meeting.meeting_date|date:"Y-m-d"}}",
            {% if meeting.rsvp_set.all.count %}rsvp: {yes: "{{ meeting.rsvps.yes|length }}", no: "{{ meeting.rsvps.no|length }}"},{% endif %}
            {% if meeting.feedback_set.all.first %}
                feedback: {
                  {% with feedback=meeting.feedback_set.all.first %}
                  feedback: "{{feedback.feedback|escapejs }}",
                  url: "{% url 'studygroups_feedback_detail' meeting.study_group.id meeting.id feedback.id %}"
                  {% endwith %}
                },
            {% endif %}
            meeting_number: {{meeting.meeting_number}},
            study_group: {{meeting.study_group.to_json|safe}}
        },
        {% endfor %}
    ];
    window.organizerDash.meetings = meetings;

    var facilitators = [
        {% for facilitator in facilitators %}{ name: "{{facilitator.user.first_name}} {{ facilitator.user.last_name }}", email: "{{facilitator.user.email}}"},
        {% endfor %}
    ];
    window.organizerDash.facilitators = facilitators;

</script>
{% render_bundle 'organizer' %}

{% endif %}


{% endblock %}
