{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
        {% include 'studygroups/organize_meetings.html' %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Learning Circles</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Details</th>
            <th>Signups</th>
            <th>Facilitator</th>
            <th>Next meeting</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for group in study_groups|dictsort:"start_date" %}
            <tr>
                <td>
                    <a href="#{{ group.course.id }}" target="_blank">{{ group.course }}</a><br>
                    {{group.start_date|date:"l" }}s, {{ group.start_date|date:"f A" }} at <a href="{{group.location.link}}" target="_blank">{{ group.location }}</a>
                </td>
                <td>
                    {{ group.application_set.count }} 
                </td>
                <td>
                    {{ group.facilitator.first_name }} {{ group.facilitator.last_name }}
                </td>
                <td>
                    {% if group.next_meeting %}
                        {{group.next_meeting.meeting_time}}
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{% url 'studygroups_view_study_group' group.pk %}">View</a>
                    <a class="btn btn-primary" href="{% url 'studygroups_studygroup_delete' group.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><a href="{% url 'studygroups_studygroup_create' %}" class="btn btn-primary">Add learning circle</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Facilitators</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for facilitator in facilitators %}
            <tr>
                <td>
                    
                    <a href="mailto:{{facilitator.user.email}}">{{ facilitator.user.first_name }} {{ facilitator.user.last_name }} &lt;{{ facilitator.user.email }}&gt;</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="{% url 'studygroups_facilitator_edit' facilitator.user.id %}">Edit</a>
                    <a class="btn btn-primary" href="{% url 'studygroups_facilitator_delete' facilitator.user.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><a href="{% url 'studygroups_facilitator_create' %}" class="btn btn-primary">Add facilitator</a></p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h1>Courses</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Caption</th>
            <th>Start date</th>
            <th>Duration</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>
                    <a id="{{course.id}}"></a>
                    <a href="{{course.link }}" target="_blank">{{ course.title }}</a>
                </td>
                <td>
                    {{ course.caption }}
                </td>
                <td>
                    {{ course.start_date }}
                </td>
                <td>
                    {{ course.duration }} week{{course.duration|pluralize}}
                </td>
                <td>
                    <a href="{% url 'studygroups_course_edit' course.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'studygroups_course_delete' course.id %}" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><a href="{% url 'studygroups_course_create' %}" class="btn btn-primary">Add course</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Locations</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>
                    <a href="{{location.link }}" target="_blank">{{ location.name }}</a>
                </td>
                <td>
                    {{ location.address }}
                </td>
                <td>
                    <a href="mailto:{{location.contact}}">{{ location.contact_name }} &lt;{{ location.contact }}&gt;</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="{% url 'studygroups_location_edit' location.id %}">Edit</a>
                    <a class="btn btn-primary" href="{% url 'studygroups_location_delete' location.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><a href="{% url 'studygroups_location_create' %}" class="btn btn-primary">Add location</a></p>

    </div>
  </div>
</div> <!-- /container -->

{% endblock %}
