{% extends 'base.html' %}

{% block content %}

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h1>Messages</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Email subject</th>
            <th>Email body</th>
            <th>SMS body</th>
            <th>Sent at</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for message in study_group.reminder_set.all %}
            <tr>
                <td>{{ message.email_subject }}</td>
                <td>{{ message.email_body }}</td>
                <td>{{ message.sms_body }}</td>
                <td>{{ message.sent_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <!--p><a href="{% url 'admin:studygroups_studygroup_add' %}" class="btn btn-primary">Add study group</a></p-->
    </div>
  </div>

</div> <!-- /container -->

{% endblock %}
