{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-12">
          <div id="organizer-dash"></div>
      </div>
    </div>
</div> <!-- /container -->

<script>
    window.organizerDash = window.organizerDash || {};
 
    var activeLearningCircles = [
        {% for group in active_study_groups %}{{ group.to_json|safe }},
        {% endfor %}
    ];
    window.organizerDash.activeLearningCircle = activeLearningCircles;

    var meetings = [
        {% for meeting in meetings %}
        { 
            meeting_time: "{{meeting.meeting_time|time:"H:i"}}",
            meeting_date: "{{meeting.meeting_date|date:"Y-m-d"}}",
            {% if meeting.rsvp_set.all.count %}rsvp: {yes: "{{ meeting.rsvps.yes|length }}", no: "{{ meeting.rsvps.no|length }}"},{% endif %}
            {% if meeting.feedback_set.all.first %}
                feedback: {
                  {% with feedback=meeting.feedback_set.all.first %}
                  feedback: "{{feedback.feedback|escapejs }}",
                  url: "{% url 'studygroups_feedback_detail' meeting.study_group.id meeting.id feedback.id %}"
                  {% endwith %}
                },
            {% endif %}
            meeting_number: {{meeting.meeting_number}},
            study_group: {{meeting.study_group.to_json|safe}}
        },
        {% endfor %}
    ];
    window.organizerDash.meetings = meetings;

    var facilitators = [
        {% for facilitator in facilitators %}{ name: "{{facilitator.first_name}} {{ facilitator.last_name }}", email: "{{facilitator.email}}"},
        {% endfor %}
    ];
    window.organizerDash.facilitators = facilitators;

    var invitations = [
        {% for invitation in invitations %}{ email: "{{invitation.email}}", created_at: "{{invitation.created_at|date:"c"}}" },
        {% endfor %}
    ];
    window.organizerDash.invitations = invitations;

    window.organizerDash.teamInviteUrl = null;
    {% if team %}
        window.organizerDash.teamInviteUrl = "{% url 'studygroups_team_member_invite' team.id %}";
    {% endif %}

</script>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% render_bundle 'common' %}
{% render_bundle 'organizer' %}

{% endblock %}
