{% load extras %}
{% load i18n %}

{% block page_title %}
  {% trans "Upcoming meetings" %}
{% endblock %}

<h2>{% trans "Upcoming meetings" %}</h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  {% regroup meetings|dictsort:"meeting_datetime" by meeting_datetime|first_weekday_date as weekly_meetings %}
  {% for week in weekly_meetings %}
    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="heading{{forloop.counter}}">
          <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                  {% blocktrans with week_date=week.grouper %}Week of {{week_date}}{% endblocktrans %}
              </a>
          </h4>
      </div>

      <div id="collapse{{forloop.counter}}" class="panel-collapse collapse{%if week.grouper == today|first_weekday_date %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{forloop.counter}}">
        <div class="panel-body">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>{% trans "Learning circle" %}</th>
                      <th>{% trans "Facilitator" %}</th>
                      <th>{% trans "Meeting time" %}</th>
                      <th>{% trans "RSVPs" %}</th>
                      <th>{% trans "Feedback" %}</th>
                  </tr>
              </thead>
              <tbody>
                  {% for meeting in week.list|dictsort:"meeting_datetime" %}
                    {% include 'studygroups/_meeting_tr.html' %}
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

