{% extends 'base.html' %}

{% block content %}

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h1>Messages</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Email subject</th>
            <th>Email body</th>
            <th>SMS body</th>
            <th>Sent at</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for message in study_group.reminder_set.all %}
            <tr>
                <td>{{ message.email_subject }}</td>
                <td>{{ message.email_body }}</td>
                <td>{{ message.sms_body }}</td>
                <td>{{ message.sent_at }}</td>
                <td>
                    {% if not message.sent_at %}
                        <a href="{% url 'studygroups_message_edit' study_group.id message.id %}" class="btn btn-info">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div> <!-- /container -->

{% endblock %}
