{% extends 'base.html' %}

{% block content %}

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h1>Learning Circles</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Details</th>
            <th>Signups</th>
            <th>Facilitator</th>
            <th>Meetings</th>
        </tr>
        </thead>
        <tbody>
        {% for group in study_groups %}
            <tr>
                <td>
                    <a href="#{{ group.course.id }}" target="_blank">{{ group.course }}</a><br>
                    {{group.start_date|date:"l" }}s, {{ group.start_date|date:"f A" }} at <a href="{{group.location.link}}" target="_blank">{{ group.location }}</a>
                </td>
                <td>
                    {{ group.application_set.count }}<br>
                    Can bring a laptop:<br>
                    {{group.laptop_stats.yes | length}} yes,<br>
                    {{ group.laptop_stats.sometimes }} sometimes,<br>
                    {{ group.laptop_stats.no}} no
                </td>
                <td>
                    {{ group.facilitator.first_name }} {{ group.facilitator.last_name }}
                </td>
                <td>
                    {{ group.studygroupmeeting_set.count }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div> <!-- /container -->

{% endblock %}
