{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "RSVP Received" %}
{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
    <div class="section-title col-md-12">
        <h2>{% trans "Thank you for letting us know!" %}</h2>
    </div>
    <div class="col-md-12">
        <p>{% trans "If you want to change your RSVP status, just visit the appropriate link in your reminder email." %}</p>
    </div>
    {% if study_group.image %}
    <div class="col-md-4 col-md-offset-4">
        <p><img src="{{study_group.image.url}}"></p>
     </div>
    {% endif %}
 </div>
  </div>
{% endblock %}
