{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container signup-success">
      <div class="row">
    <div class="section-title col-md-12">
        <h2>You successfully signed up!</h2>
    </div>
    <div class="col-md-12">
        <p>Thank you for signing up for &quot;{{study_group.course.title}}&quot; at {{study_group.venue_name}}. The first meeting will be on <strong>{{study_group.start_date|date:"l j F"}}, {{study_group.meeting_time|time:"fA"}}</strong>. Your facilitator will be in contact before then.</p>
    </div>
    <div class="section-title col-md-12">
    {% if study_group.image %}
        <p><img src="{{study_group.image.url}}"></p>
    {% else %}
        <p><img src="{% static 'images/learning-circle-default.jpg' %}"></p>
    {% endif %}
     </div>
 </div>
  </div>
{% endblock %}
