{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
<section id="lc-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="https://www.p2pu.org/en/learning-circles" class="p2pu-btn btn small dark secondary mb-5 py-2"><span class="material-icons">keyboard_backspace</span> Back to search</a>
        <h1>{{study_group.course.title}}</h1>
        <p class="tagline mt-4">A <img src="{% static 'images/p2pu-logo.png' %}" alt="P2PU" /> learning circle</p>
      </div>

      <div class="col-lg-8">
        <div class="lc-image">
          {% if study_group.image %}
            <img class="drop-shadow" src="{% static 'images/learning-circle-default.jpg' %}">
            {# <img class="img-fluid" src="{{study_group.image.url}}"> #}
          {% else %}
            <img class="drop-shadow" src="{% static 'images/learning-circle-default.jpg' %}">
          {% endif %}
        </div>

        <div class="info">

          <div class="bullet facilitator">
            <div class="icon-container drop-shadow">
              <span class="material-icons">face</span>
            </div>
            <div class="text">
              {% blocktrans with first_name=study_group.facilitator.first_name last_name=study_group.facilitator.last_name %}Facilitated by {{first_name}} {{last_name}}{% endblocktrans %}
            </div>
          </div>

          <div class="bullet course">
            <div class="icon-container drop-shadow">
              <span class="material-icons">class</span>
            </div>
            <div class="text">
              {% blocktrans with link=study_group.course.link provider=study_group.course.provider %}Course materials provided by <a href="{{ link }}" target="_blank">{{ provider }}</a>{% endblocktrans %}
            </div>
          </div>

          <div class="bullet schedule">
            <div class="icon-container drop-shadow">
              <span class="material-icons">schedule</span>
            </div>
            <div class="text">
              {% blocktrans with day=study_group.day meeting_time=study_group.meeting_time|time:"fA" end_time=study_group.end_time|time:"fA" timezone=study_group.timezone_display start_date=study_group.start_date|date:"j N" count meeting_count=study_group.meeting_set.active.count %}
              This learning circle meets every {{day}} from {{meeting_time}} to {{end_time}} {{timezone}} starting {{start_date}} for {{meeting_count}} week.
              {% plural %}
              This learning circle meets every {{day}} from {{meeting_time}} to {{end_time}} {{timezone}} starting {{start_date}} for {{meeting_count}} weeks.
              {% endblocktrans %}
            </div>
          </div>

          <div class="bullet location">
            <div class="icon-container drop-shadow">
              <span class="material-icons">location_on</span>
            </div>
            <div class="text">
              {% trans "Taking place at" %} {% if study_group.venue_website %}<a href="{{study_group.venue_website}}">{{ study_group.venue_name }}</a>{% else %}{{study_group.venue_name}}{% endif %}, {{study_group.venue_details}}, {{study_group.city}}
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<section id="lc-description">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-center">





                <div class="pos-relative card-outer">
                  <div class="pos-relative card-upper">
                    <div class="circle-bg"></div>


                    {% if study_group.facilitator.avatar_url %}
                      <img class="img-fluid card-img drop-shadow" src="{{ study_group.facilitator.avatar_url }}" alt="Facilitator image" />
                    {% else %}
                      <img class="img-fluid card-img drop-shadow" src="{% static 'images/avatars/p2pu_avatar_blue.png' %}">
                    {% endif %}
                  </div>

                  <div class="card card-lower card-body drop-shadow">
                    <div class="profile-info text-center">
                      <p class="mt-4 mb-1 small">{% trans "Facilitated by" %}</p>
                      <h4 class="mb-3 mt-1">{{ study_group.facilitator.first_name }} {{ study_group.facilitator.last_name }}</h4>
                      {% if study_group.facilitator.bio %}
                      <p class="text-left">{{ study_group.facilitator.bio }}</p>
                      {% endif %}
                    </div>

                    <div class="grid-wrapper">
                      {% if study_group.facilitator.team_name %}
                        <div class="label">Team</div>
                        <div>{{ study_group.facilitator.team_name }}</div>
                      {% endif %}

                      {% if study_group.facilitator.city %}
                        <div class="label">City</div>
                        <div>{{ study_group.facilitator.city }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
      </div>


      <div class="col-lg-8">
        <h2 class="description-title">{% trans "Welcome!" %}</h2>
        <div class="description">
          {{study_group.description}}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="lc-registration">
  <div class="container">
    <div class="row">
      <div class="col-md-8 order-2 order-md-1">
        <div class="card border-0 rounded-0 drop-shadow">
          <div class="card-body">
            <h2>{% trans "Join this learning circle" %}</h2>
            <p>What is a learning circle? <a href="https://p2pu.org/en/learning-circles-faq/" target="_blank" rel="noopener noreferrer">Read the FAQs.</a></p>
            {% if study_group.signup_open %}
              {% if study_group.draft %}
                <p>{% trans "Signup for this learning circle is not open yet." %}</p>
              {% else %}
                {% crispy form %}
              {% endif %}
            {% else %}
            <p>{% trans "Unfortunately this learning circle is now closed for signup." %}</p>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-4 order-1 order-md-2 mb-3">
        <div class="card drop-shadow border-0 rounded-0">
          <div class="card-body small">
            <h3 class="minicaps text-left">Meetings</h3>
            <h3 class="minicaps text-left">Location</h3>
            <p>
              {% if study_group.venue_website %}<a href="{{study_group.venue_website}}">{{ study_group.venue_name }}</a>{% else %}{{study_group.venue_name}}{% endif %}, {{study_group.venue_details}}, {{study_group.city}}
            </p>

          </div>
          <div class="card-image">
            map goes here
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% render_bundle 'common' %}
{% render_bundle 'signup' %}
{% endblock %}