{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}
  {% trans "Nico's dash" %}
{% endblock %}

{% block content %}

<div class="container">
  <h2>{% trans "Nico's dash" %}</h2>

  <h3>{% trans "Export" %}<h3>
    <p><a class="btn btn-primary" href="{% url 'studygroups_export_facilitators' %}">{% trans "Users" %}</a></p>
    <p><a class="btn btn-primary" href="{% url 'studygroups_export_signups' %}">{% trans "Signups" %}</a></p>
    <p><a class="btn btn-primary" href="{% url 'studygroups_export_studygroups' %}">{% trans "Learning circles" %}</a></p>

  <p><a class="btn btn-primary" href="{% url 'studygroups_export_courses' %}">{% trans "Courses" %}</a></p>

  <p><a class="btn btn-primary" href="{% url 'survey_learner_responses_csv' %}">{% trans "Learning circle surveys" %}</a></p>
  <p><a class="btn btn-primary" href="{% url 'survey_facilitator_responses_csv' %}">{% trans "Facilitator surveys" %}</a></p>

  <h3>{% trans "Links" %}</h3>
  <ul>
    <li><a href="{% url 'admin:studygroups_course_changelist' %}">{% trans "Courses" %}</a></li>
    <li><a href="{% url 'admin:studygroups_studygroup_changelist' %}">{% trans "Learning circles" %}</a></li>
    <li><a href="{% url 'studygroups_staff_dash_stats' %}">{% trans "Stats dash" %}</a></li>
  </ul>

  <p><a class="btn btn-primary" href="{% url 'studygroups_digest_generate' %}">{% trans "Generate digest" %}</a></p>

  <h3>{% trans "Version" %}</h3>
  <ul>
    <li><p>Version: {{ version }}</p></li>
    <li><p>Git revision: <a href="https://github.com/p2pu/learning-circles/commit/{{git_revision}}">{{ git_revision }}</a></p></li>
  </ul>
</div>

{% endblock %}
