{% extends 'base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block page_title %}
  {% trans "Q's dash" %}
{% endblock %}

{% block content %}
<div class="container">
  <h2>{% trans "Q's dash" %}</h2>

  <h3>{% trans "Export" %}</h3>
  <div id="download-links"></div>

  <h3>{% trans "Links" %}</h3>
  <ul>
    <li><a href="{% url 'admin:studygroups_course_changelist' %}">{% trans "Courses" %}</a></li>
    <li><a href="{% url 'admin:studygroups_studygroup_changelist' %}">{% trans "Learning circles" %}</a></li>
    <li><a href="{% url 'studygroups_staff_dash_stats' %}">{% trans "Stats dash" %}</a></li>
    <li><a href="https://docs.google.com/spreadsheets/u/1/d/1ESBtei75b-0PjQve_SlOldgd0XMkeJ5IzwmCc3LhPek/edit?pli=1#gid=1050744558">Learning Circle Export</a></li>
    <li><a href="https://docs.google.com/spreadsheets/u/1/d/1KPKhNMVXYZw-uloHzLg9DfF_HiP2-tsIVJiEm_Oao0Y/edit?pli=1#gid=1268227564">community metrics</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1jnvrpQ9dTSQt0iVW_zWGgH8M6UkeopkbcMCPUVXfcw8/edit#gid=1196365954">Membership management</a></li>

  </ul>

  <p><a class="btn btn-primary" href="{% url 'studygroups_digest_generate' %}">{% trans "Generate digest" %}</a></p>

  <h3>{% trans "Version" %}</h3>
  <ul>
    <li><p>Version: {{ version }}</p></li>
    <li><p>Git revision: <a href="https://github.com/p2pu/learning-circles/tree/{{git_revision}}">{{ git_revision }}</a></p></li>
  </ul>
</div>
{% endblock %}

{% block scripts %}
  <script id="react-data" type="application/json">
    {
      "exportLinks": [
        {
          "url": "{% url 'studygroups_export_facilitators' %}",
          "text": "{% trans "Users" %}",
          "asynchronous": true
        },
        {
          "url": "{% url 'studygroups_export_signups' %}",
          "text": "{% trans "Signups" %}",
          "asynchronous": true
        },
        {
          "url": "{% url 'studygroups_export_studygroups' %}",
          "text": "{% trans "Learning circles" %}",
          "asynchronous": true
        },
        {
          "url": "{% url 'studygroups_export_courses' %}",
          "text": "{% trans "Courses" %}",
          "asynchronous": true
        },
        {
          "url": "{% url 'survey_learner_responses_csv' %}",
          "text": "{% trans "Learning circle surveys" %}"
        },
        {
          "url": "{% url 'survey_facilitator_responses_csv' %}",
          "text": "{% trans "Facilitator surveys" %}"
        }
      ]
    }
  </script>

  {% render_bundle 'staff-dashboard' %}
{% endblock %}
