{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
  <h2>{% trans "Nico's dash" %}</h2>

  <h3>{% trans "Export" %}<h3>
    <p><a class="btn btn-primary" href="{% url 'studygroups_export_facilitators' %}">{% trans "Facilitators" %}</a></p>
    <p><a class="btn btn-primary" href="{% url 'studygroups_export_signups' %}">{% trans "Signups" %}</a></p>
    <p><a class="btn btn-primary" href="{% url 'studygroups_export_studygroups' %}">{% trans "Learning circles" %}</a></p>

  <p><a class="btn btn-primary" href="{% url 'studygroups_export_courses' %}">{% trans "Courses" %}</a></p>

  <p><a class="btn btn-primary" href="{% url 'survey_learner_responses_csv' %}">{% trans "Learning circle surveys" %}</a></p>

  <h3>{% trans "Links" %}</h3>
  <ul>
    <li><a href="{% url 'admin:studygroups_course_changelist' %}">{% trans "Courses" %}</a></li>
    <li><a href="{% url 'admin:studygroups_studygroup_changelist' %}">{% trans "Learning circles" %}</a></li>
  </ul>

  <h3>{% trans "Version" %}</h3>
  <ul>
    <li><p>Version: {{ version }}</p></li>
    <li><p>Git revision: {{ git_revision }}</p></li>
  </ul>
</div>

{% endblock %}
