{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="bg-light" id="learning-circle-report">
  <div class="container" id="stats-dash">

    <div class="row">
      <div class="col-12">
        <h1 class="mt-4">{% trans "Stats Dash" %}</h1>
        <p class="my-0">{% trans "Reporting data from" %} {{ start_date }} {% trans "to" %} {{ end_date }}</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 mb-4">
          <h2>{% trans "Learning circles" %}</h2>
          <ul class='quote-list list-unstyled'>
            <li>
              <p class='pl-2 my-3'>
                {% blocktrans count studygroups_met_count=studygroups_met_count %}
                  <strong>{{ studygroups_met_count }}</strong> learning circle met
                {% plural %}
                  <strong>{{ studygroups_met_count }}</strong> learning circles met
                {% endblocktrans %}
              </p>
            </li>
            <li>
              <p class='pl-2 my-3'>
                {% blocktrans count learners_reached_count=learners_reached_count %}
                  <strong>{{ learners_reached_count }}</strong> learner reached
                {% plural %}
                  <strong>{{ learners_reached_count }}</strong> learners reached
                {% endblocktrans %}
              </p>
            </li>
          </ul>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 mb-4">
        <h2>{% trans "Facilitators" %}</h2>
      </div>

      {% include "studygroups/measurement_card.html" with title='Meetings over time' chart=meetings_over_time_chart web=True %}
      {% include "studygroups/measurement_card.html" with title='Facilitator Rating Over Time' chart=facilitator_rating_percentage_chart web=True %}
      {% include "studygroups/measurement_card.html" with title='Top 10 Facilitators' chart=top_facilitators_chart web=True %}
      {% include "studygroups/measurement_card.html" with title='Learning Circles Started' description="by number of LCs the facilitator has run" chart=facilitator_experience_chart web=True %}

      <div class="col-12 col-md-6 avoid-page-break">
        <div class="report-measurement bg-white p-4 mb-4 shadow">
          <header>
              <p class="bold text-uppercase mb-0">{% trans "Active teams" %}</p>
          </header>
          <div class="visualization">
            <table class="inner-table">
              <thead>
                <tr>
                  <td>{% trans "Team name" %}</td>
                  <td>{% trans "Organizer dash" %}</td>
                </tr>
              </thead>
              <tbody>
                {% for team in active_teams %}
                  <tr>
                    <td>{{ team.name }}</td>
                    <td><a href="/en/organize/{{ team.id }}">Team dash</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 mb-4">
        <h2>{% trans "Courses" %}</h2>
      </div>

        {% include "studygroups/measurement_card.html" with title='Course Approval Rating (Facilitators)' chart=facilitator_course_rating_percentage_chart web=True %}
        {% include "studygroups/measurement_card.html" with title='Course Approval Rating (Learners)' chart=learner_course_rating_percentage_chart web=True %}

        <div class="col-12 avoid-page-break">
          <div class="report-measurement bg-white p-4 mb-4 shadow">
            <header>
                <p class="bold text-uppercase mb-0">{% trans "Top 10 Courses" %}</p>
            </header>
            <div class="visualization">
              <table class="inner-table">
                <thead>
                  <tr>
                    <td>{% trans "Course title" %}</td>
                    <td>{% trans "Course ID" %}</td>
                    <td>{% trans "Number of times used" %}</td>
                  </tr>
                </thead>
                <tbody>
                  {% for course in top_courses %}
                    <tr>
                      <td>{{ course.title }}</td>
                      <td>{{ course.course_id }}</td>
                      <td>{{ course.count }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>



    <div class="row mt-4">
      <div class="col-12 mb-4">
        <h2>{% trans "Learners" %}</h2>
      </div>
          {% include "studygroups/measurement_card.html" with title='Learners who met their goal' chart=learner_goals_percentage_chart web=True %}
          {% include "studygroups/measurement_card.html" with title='Skills improvement' description="Percentage of learners who reported improvement" chart=skills_improved_percentage_chart web=True %}
          {% include "studygroups/measurement_card.html" with title='Participants' chart=participants_over_time_chart web=True %}
    </div>

  </div>
</div>
<script type="text/javascript" src="https://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% endblock %}
