{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="bg-light" id="learning-circle-report">
  <div class="container" id="stats-dash">


    <div class="row">
      <div class="col-12">
        <h1 class="mt-4">{% trans "Stats Dash" %}</h1>
        <p class="my-0">{% trans "Reporting data from" %} {{ start_date }} {% trans "to" %} {{ end_date }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4>{% trans "Select dates" %}</h4>
        {% crispy form %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 mb-4">
          <h2>{% trans "Learning circles" %}</h2>
          <ul class='quote-list list-unstyled'>
            <li>
              <p class='pl-2 my-3'>
                {% blocktrans count studygroups_met_count=studygroups_met_count %}
                  <strong>{{ studygroups_met_count }}</strong> learning circle met
                {% plural %}
                  <strong>{{ studygroups_met_count }}</strong> learning circles met
                {% endblocktrans %}
              </p>
            </li>
            <li>
              <p class='pl-2 my-3'>
                {% blocktrans count learners_reached_count=learners_reached_count %}
                  <strong>{{ learners_reached_count }}</strong> learner reached
                {% plural %}
                  <strong>{{ learners_reached_count }}</strong> learners reached
                {% endblocktrans %}
              </p>
            </li>
          </ul>
      </div>
    </div>

    <div class="row mt-4">
      {% include "studygroups/measurement_card.html" with title='Meetings' chart=meetings_over_time_chart web=True %}
      {% include "studygroups/measurement_card.html" with title='Facilitator Rating' chart=facilitator_rating_percentage_chart web=True %}
      {% include "studygroups/measurement_card.html" with title='Learning Circles by Country' chart=studygroups_by_country_chart web=True %}
      {% include "studygroups/measurement_card.html" with title='Learning Circles Started' description="by number of LCs the facilitator has run" chart=facilitator_experience_chart web=True %}

      <div class="col-12 avoid-page-break">
        <div class="report-measurement bg-white p-4 mb-4 shadow">
          <header>
              <p class="bold text-uppercase mb-0">{% trans "Draft Learning Circles" %}</p>
          </header>
          <div class="visualization table-container">
            <table class="inner-table">
              <thead>
                <tr>
                  <td>{% trans "Facilitator" %}</td>
                  <td>{% trans "Course" %}</td>
                  <td>{% trans "Date created" %}</td>
                  <td>{% trans "Start date" %}</td>
                </tr>
              </thead>
              <tbody>
                {% for studygroup in unpublished_studygroups %}
                  <tr>
                    <td><a href="mailto:{{studygroup.facilitator.email}}">{{studygroup.facilitator.first_name}} {{studygroup.facilitator.last_name}}</a></td>
                    <td>{{ studygroup.course.title }}</td>
                    <td>{{ studygroup.created_at|date }}</td>
                    <td>{{ studygroup.start_date|date }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 mb-4">
        <h2>{% trans "Courses" %}</h2>
      </div>

        {% include "studygroups/measurement_card.html" with title='Course Ratings (Facilitators)' chart=facilitator_course_approval_chart web=True %}
        {% include "studygroups/measurement_card.html" with title='Course Ratings (Learners)' chart=learner_course_approval_chart web=True %}

        <div class="col-12 avoid-page-break">
          <div class="report-measurement bg-white p-4 mb-4 shadow">
            <header>
                <p class="bold text-uppercase mb-0">{% trans "Low Rated Courses" %}</p>
            </header>
            <div class="visualization table-container">
              <table class="inner-table">
                <thead>
                  <tr>
                    <td>{% trans "Course" %}</td>
                    <td>{% trans "Facilitator rating" %}</td>
                  </tr>
                </thead>
                <tbody>
                  {% for item in low_rated_courses %}
                    {% with course=item.0 rating=item.1 %}
                    <tr>
                      <td><a href="{{course.link}}">{{ course.title }}</a></td>
                      <td>{{ rating }}</td>
                    </tr>
                    {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>



    <div class="row mt-4">
      <div class="col-12 mb-4">
        <h2>{% trans "Learners" %}</h2>
      </div>
          {% include "studygroups/measurement_card.html" with title='Learners who met their goal' chart=learner_goal_reached_chart web=True %}
          {% include "studygroups/measurement_card.html" with title='Skills improvement' description="Percentage of learners who reported improvement" chart=skills_improved_chart web=True %}
          {% include "studygroups/measurement_card.html" with title='Participants' chart=participants_over_time_chart web=True %}
          {% include "studygroups/measurement_card.html" with title='Learner survey response rate' chart=learner_response_rate_chart web=True %}
    </div>


    <div class="row mt-4">
      <div class="col-12 mb-4">
        <h2>{% trans "People Stuff" %}</h2>
      </div>

      <div class="col-12 col-md-6 avoid-page-break">
        <div class="report-measurement bg-white p-4 mb-4 shadow">
          <header>
              <p class="bold text-uppercase mb-0">{% trans "Active teams" %}</p>
          </header>
          <div class="visualization table-container">
            <table class="inner-table">
              <thead>
                <tr>
                  <td>{% trans "Team name" %}</td>
                  <td>{% trans "Organizer dash" %}</td>
                </tr>
              </thead>
              <tbody>
                {% for team in active_teams %}
                  <tr>
                    <td>{{ team.name }}</td>
                    <td><a href="/en/organize/{{ team.id }}">Team dash</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 avoid-page-break">
        <div class="report-measurement bg-white p-4 mb-4 shadow">
          <header>
              <p class="bold text-uppercase mb-0">{% trans "Unrated Learning Circles" %}</p>
          </header>
          <div class="visualization table-container">
            <table class="inner-table">
              <thead>
                <tr>
                  <td>{% trans "Facilitator" %}</td>
                  <td>{% trans "Learning Circle" %}</td>
                  <td>{% trans "Last meeting" %}</td>
                </tr>
              </thead>
              <tbody>
                {% for studygroup in unrated_studygroups %}
                  <tr>
                    <td><a href="mailto:{{studygroup.facilitator.email}}">{{studygroup.facilitator.first_name}} {{studygroup.facilitator.last_name}}</a></td>
                    <td>{{studygroup.course.title}}</td>
                    <td>{{studygroup.end_date}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-12 avoid-page-break">
        <div class="report-measurement bg-white p-4 mb-4 shadow">
          <header>
            <p class="bold text-uppercase mb-0">{% trans "Active facilitators" %}</p>
          </header>
          <div class="visualization table-container">
            <table class="inner-table">
              <thead>
                <tr>
                  <td></td>
                  <td>{% trans "Facilitator" %}</td>
                  <td>{% trans "Team" %}</td>
                  <td>{% trans "# of LCs" %}</td>
                  <td>{% trans "# of learners" %}</td>
                  <td>{% trans "Last LC end date" %}</td>
                  <td>{% trans "ID" %}</td>
                </tr>
              </thead>
              <tbody>
                {% for facilitator in active_facilitators %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="mailto:{{facilitator.email}}">{{facilitator.first_name}} {{facilitator.last_name}}</a></td>
                    <td>{{facilitator.teammembership.team.name}}</td>
                    <td>{{facilitator.studygroup_count}}</td>
                    <td>{{facilitator.learners_count}}</td>
                    <td>{{facilitator.latest_end_date}}</td>
                    <td>{{facilitator.id}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/datepicker.css' %}" charset="utf-8">
{% endblock %}


{% block scripts %}
<script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
<script>
$(document).ready(function(){
  $('.dateinput').datepicker({'format':'yyyy-mm-dd'});
});
</script>
<script type="text/javascript" src="https://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% endblock %}

{% endblock %}
