{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center py-3">
      <section class="inner-container col-12 col-sm-8 col-md-6">
        <div class="centered mb-4">
          {% if study_group.image %}
              <img src="{{study_group.image.url}}" alt="This learning circle as been deleted." style="max-height: 300px; max-width: 100%; width: auto;"/>
          {% else %}
              <img src="{% static "images/learning-circle-default.jpg" %}" alt="This learning circle as been deleted." style="max-height: 300px; max-width: 100%; width: auto;"/>
          {% endif %}
        </div>
        <h2 class="centered my-3">Uh oh!</h2>
        <p>{% blocktrans with studygroup_name=study_group.name facilitator=study_group.facilitator.first_name %}
        The learning circle &quot;{{studygroup_name}}&quot; facilitated by {{facilitator}} has been deleted.{% endblocktrans %}</p>
        {% if next == "dashboard" %}
          <p><a href={% url 'studygroups_facilitator' %}>{% trans "Go to my facilitator dashboard" %}</a></p>
        {% else %}
          <p><a href="https://www.p2pu.org/en/learning-circles">{% trans "Search for another learning circle" %}</a></p>
        {% endif %}
      </section>
    </div>
  </div>
{% endblock %}
