{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href={% url 'studygroups_organize' %}>{% trans "back to organizer dashboard" %}</a>
      <h1>{% trans "Learning circles" %}</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>{% trans "Details" %}</th>
          <th>{% trans "Signups" %}</th>
          <th>{% trans "Facilitator" %}</th>
          <th>{% trans "First meeting" %}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for group in object_list|dictsortreversed:"start_date" %}
            <tr>
                <td>
                    {{ group.course }}<br>
                    {{group.start_date|date:"l" }}s, {{ group.meeting_time|date:"f A" }} {% trans "at" %} <a href="{{group.website}}" target="_blank">{{ group.venue_name }}</a>
                </td>
                <td>
                    {{ group.application_set.active.count }} 
                </td>
                <td>
                    {{ group.facilitator.first_name }} {{ group.facilitator.last_name }}
                </td>
                <td>
                    {{group.start_date}} {{group.timezone_display}}
                </td>
                <td>
                    <a class="btn btn-primary" href="{% url 'studygroups_view_study_group' group.pk %}">{% trans "View" %}</a>
                </td>                                                                                     
            </tr>                                                                                         
        {% endfor %}                                                                                      
        </tbody>
      </table>
      {% if page_obj %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
          {% endif %}
          <span class="current">
            {% blocktrans with page=page_obj.number total=paginator.num_pages %}Page {{ page }} of {{ total }}.{% endblocktrans %}
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
          {% endif %}
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
