<div class="panel panel-default">
    <div class="panel-heading">
      <h2>{{ lc.course.title }}</h2>
    </div>
<div class="panel-body">
<div class="row">
  <div class="col-md-12">
      <p>At <a href="{{lc.location.link}}">{{ lc.location }}</a> {{lc.location_details}} every {{ lc.day }}, {{ lc.start_date|time:"f A" }} to {{ lc.end_time|time:"f A" }} starting {{ lc.start_date|date:"D d M Y" }}</p>
  </div>
  <div class="col-md-12">
      <!--p>
      <a class="btn btn-primary" href="{% url 'studygroups_edit_study_group' lc.id %}">edit</a>
      <a class="btn btn-primary">download flyer</a>
      </p-->
  </div>
  <div class="col-md-12 well">
      <p>Next meeting: {{ lc.next_meeting.meeting_time|date:"D d M Y \a\t P" }}</p>
      <p>Attending: {{ lc.next_meeting.rsvp_set.all|join:", " }}</p>
      {% if lc.next_meeting.meeting_activity %}
      <p>Recommended activity: <a href="{{ lc.next_meeting.meeting_activity.card.url }}" target="_blank">{{ lc.next_meeting.meeting_activity.description }}</a></p>
      {% endif %}
  </div>
  <div class="col-md-12">
      <h3>Meetings ({{lc.studygroupmeeting_set.count}})</h3>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Date</th>
                  <th>RSVPs</th>
                  <th>Feedback</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              {% for meeting in lc.studygroupmeeting_set.all|dictsort:"meeting_time" %}
              <tr>
                <td>{{ meeting.meeting_time|date:"D, d M Y, P" }}
                  <div class="pull-right">
                    <a class="btn btn-primary" href="{% url 'studygroups_edit_study_group_meeting' lc.id meeting.id %}"><i class="fa fa-edit"></i> Edit</a>
                    <a class="btn btn-primary" href="{% url 'studygroups_meeting_delete' lc.id meeting.id %}"><i class="fa fa-times"></i> Delete</a>
                  </div>
                  </td>
                  <td>{% for rsvp in meeting.rsvp_set.all %}{{rsvp.application.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                  <td>
                    {% if meeting.feedback_set.all.first %}
                      {% with feedback=meeting.feedback_set.all.first %}
                      {{feedback.feedback}}
                      {% endwith %}
                    {% else %}
                      <a class="btn btn-primary" href="{% url 'studygroups_feedback' lc.id meeting.id %}">Capture feedback</a>
                    {% endif %}
                  </td>
                  <td>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <p><a class="btn btn-primary" href="{% url 'studygroups_create_study_group_meeting' lc.id %}">Add meeting</a></p>
  </div>
  <div class="col-md-12">
      <h3>Messages ({{ lc.reminder_set.count }})</h3>

      <table class="table table-bordered">
      <thead>
      <tr>
          <th>Email subject</th>
          <th>Email body</th>
          <th>SMS body</th>
          <th>Sent at</th>
          <th></th>
      </tr>
      </thead>
      <tbody>
      {% for message in lc.reminder_set.all %}
          <tr>
              <td>{{ message.email_subject }}</td>
              <td>{{ message.email_body }}</td>
              <td>{{ message.sms_body }}</td>
              <td>{{ message.sent_at|date:"D d M Y \a\t P" }}</td>
              <td>
                  {% if not message.sent_at %}
                      <a href="{% url 'studygroups_messages_edit' lc.id message.id %}" class="btn btn-info">Edit</a>
                  {% endif %}
              </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'studygroups_email' lc.id %}" class="btn btn-primary">New message</a>
  </div>



  <div class="col-md-12">
      <h3>Members ({{lc.application_set.count}})</h3>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Goal</th>
                  <th>Support</th>
                  <th>Can bring laptop</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              {% for member in lc.application_set.all %}
              <tr>
                  <td>{{ member.name }}
                  <br/>
                      {% if member.contact_method == "Email" %}
                          &lt;{{member.email}}&gt;
                      {% else %}
                          &lt;{{member.mobile}}&gt;
                      {% endif %}
                  </td>
                  <td>{{ member.goals }}</td>
                  <td>{{ member.support }}</td>
                  <td>{{ member.computer_access }}</td>
                  <td><a class="btn btn-primary" href="{% url 'studygroups_application_delete' lc.id member.id %}">Remove</a></td>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <p><a class="btn btn-primary" href="{% url 'studygroups_add_member' lc.id %}">Add learner</a></p>
  </div>
</div>
</div>
</div>

