{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Create a learning circle" %}
{% endblock %}

{% block content %}
<div id='create-learning-circle-form' data-user="{{ request.user }}">
  <div class="loader"></div>
  <div class="legacy-link">
    {% if object.pk %}
      <a href="{% url 'studygroups_studygroup_edit_legacy' object.pk %}">{% trans "Use old form" %}</a>
    {% else %}
      <a href="{% url 'studygroups_studygroup_create_legacy' %}">{% trans "Use old form" %}</a>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js?render={{RECAPTCHA_SITE_KEY}}"></script>
<script>
  window.RECAPTCHA_SITE_KEY = "{{RECAPTCHA_SITE_KEY}}";
  var team = {{ team|safe }};
  window.team = team;
  window.currentUserId = {{user.id|safe}};
</script>
{% if object.pk %}
<script>
  window.lc = window.lc || {};
  var learningCircle = {{ object.to_json|safe }};
  var meetings = {{ meetings|safe }};
  var facilitators = {{ facilitators|safe }};
  var team = {{ team|safe }};

  window.lc = learningCircle;
  window.lc.meetings = meetings;
  window.lc.facilitators = facilitators;
  window.lc.reminders_edited = {% if reminders_edited %}true{% else %}false{% endif %};
</script>
{% endif %}

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% render_bundle 'common' %}
{% render_bundle 'learning-circle-create' %}
{% endblock %}
