{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
<div class="row">
    
  <div class="col-md-12 col-sm-12">
      <h2>{% trans "Create a learning circle" %}</h2>
      <p>{% blocktrans %}This information will be used to generate your public webpage for your learning circle. If you get stuck, the <a href="https://www.p2pu.org/en/facilitate/" target="_blank">facilitator page</a> and the <a href="https://community.p2pu.org/">P2PU community</a> can provide tips and suggestions. You can edit this webpage at any point in the future through your Dashboard.{% endblocktrans %}</p>
  </div>
  <div class="col-md-6 col-offset-md-3 col-sm-12">
      <p>{% trans "* indicates a required field." %}</p>
    {% crispy form %}
  </div>
</div>
</div>
{% endblock %}

{% block css %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/datepicker.css' %}" charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}" charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}


{% block scripts %}
<script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/vendor/jquery.timepicker.js' %}"></script>
<script src="{% static 'js/vendor/jstz.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
<script>
    $(document).ready(function(){
        $('.dateinput').datepicker({'format': 'yyyy-mm-dd'});
        $('.timeinput').timepicker({ 'step': 15, 'timeFormat': 'h:i A' });
        var tz = jstz.determine();
        if (typeof (tz) !== 'undefined' && $('#id_timezone').val() === "") {
            $('#id_timezone').val(tz.name());
        }
        var placesAutocomplete = places({
            container: document.querySelector('#id_city'),
            type: 'city'
        });
        // update lat, lon based on city
        placesAutocomplete.on('change', function(e){
          $('#id_latitude').val(e.suggestion.latlng.lat);
          $('#id_longitude').val(e.suggestion.latlng.lng);
          try {
            $('#id_place_id').val(e.suggestion.rawAnswer.hits[0].objectID);
          } catch (error) {
            console.log("Couldn't get objectID for place");
          }
          try {
            $('#id_country').val(e.suggestion.country);
          } catch (error) {
            console.log("Couldn't get country for place");
          }
          try {
            $('#id_region').val(e.suggestion.administrative);
          } catch (error){
            console.log("Couldn't get region for place");
          }
        });
    });
</script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% render_bundle 'common' %}
{% render_bundle 'learning-circle-course-select' %}
{% endblock %}
