{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="container my-5">
      <div class="row mb-3">

        <div class="col-12">
          <h2>
            {% blocktrans with team_name=object.name %}
                Edit {{ team_name }}
            {% endblocktrans %}
          </h2>


          <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
            <p><input type="submit" class="btn p2pu-btn blue" /></p>
        </form>

        </div>
      </div>

    </div>
{% endblock %}


