{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="container my-5">
      <div class="row mb-3">

        <div class="col-12">
          <h2>
            {% blocktrans with team_name=object.name %}
                Edit {{ team_name }}
            {% endblocktrans %}
          </h2>


          <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
            <p><input type="submit" class="btn p2pu-btn blue" /></p>
        </form>

        </div>
      </div>

    </div>
    {% if not object.intro_text %}
      <script type="text/javascript">
        if (typeof(tinyMCE) !== "undefined") {
          tinyMCE.on('AddEditor', function(e) {
            e.editor.on('init', function(editor) {
              tinyMCE.editors.id_intro_text.setContent("<p>{{ team.name }} is proud to partner with P2PU to bring learning circles to our community. Join your neighbors and peers as we gather to learn something together.</p><p>Interested in creating your own learning circle? Check out our facilitation resources at <a href='https://www.p2pu.org/facilitate'>www.p2pu.org/facilitate</a> to learn more.</p>")
            })
          })
        }
      </script>
    {% endif %}
{% endblock %}





