{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load extras %}
{% block content %}

<div class="container-fluid">
  <div class="row my-3">
    <a href="{{dashboard_url}}"><i class="fas fa-arrow-left mr-2"></i>Back to my dashboard</a>
  </div>
</div>

<div class="topbit">
<div class="container-fluid">
  <div class="heading row">
    <div class="position-absolute col-md-4">
      <div class="lc-image">
        {% if study_group.image %}
          <img class="drop-shadow" src="{{study_group.image.url}}">
        {% else %}
          <img class="drop-shadow default-image" src="{% static 'images/learning-circle-default.jpg' %}">
        {% endif %}
      </div>
    </div>
    <div class="col-md-8 offset-md-4 details">
      <h1>{{study_group.name}}</h1>
      <div class="text">
        {% blocktrans with first_name=study_group.facilitator.first_name %}Facilitated by {{first_name}}{% endblocktrans %}
      </div>
      <div class="text">
        {% blocktrans with link=study_group.course.link provider=study_group.course.provider %}Course materials provided by <a href="{{ link }}" target="_blank">{{ provider }}</a>{% endblocktrans %}
      </div>
      <div class="text">
        {% trans "Taking place at" %} {% if study_group.venue_website %}<a href="{{study_group.venue_website}}">{{ study_group.venue_name }}</a>{% else %}{{study_group.venue_name}}{% endif %}, {{study_group.venue_details}}, {{study_group.city}}
      </div>
      <div class="text">
        {% include 'studygroups/recurrence_text.html' %}
      </div>
    </div>
  </div>
</div>

<div class="action-bar">
  <div class="row">
    <div class="col-md-8 offset-md-4">
      <a class="p2pu-btn btn-primary" href="{% url 'studygroups_edit_study_group' study_group.id %}">{% trans "Edit" %}</a>
      <a class="p2pu-btn btn-primary" href="{% url 'studygroups_signup' location=study_group.venue_name|unicode_slugify study_group_id=study_group.pk %}">{% trans "View" %}</a>
      <a class="p2pu-btn btn-primary" href="{% url 'studygroups_create_meeting' study_group.id %}">{% trans "Add meeting" %}</a>
      {% if study_group.signup_open %}
      <a class="p2pu-btn btn-primary" href="{% url 'studygroups_studygroup_toggle_signup' study_group.id %}">{% trans "Close signup" %}</a>
      {% else %}
      <a class="p2pu-btn btn-primary" href="{% url 'studygroups_studygroup_toggle_signup' study_group.id %}">{% trans "Open signup" %}</a>
      {% endif %}
      <a class="p2pu-btn btn-primary" href="{% url 'studygroups_studygroup_delete' study_group.id %}">{% trans "Delete" %}</a>
    </div>
  </div>
</div>

</div>

<div class="container-fluid">

  <div class="manage row">
    <div class="col-7 lc-timeline">
      <div class="item">
        <div class="card">
          <div class="card-title">Publish your learning circle</div>
        </div>
      </div>
      {% for meeting in study_group.meeting_set.active %}
      {% with done=meeting.feedback_set.count %}
        <div class="item">
          <div class="card">
            <a class="card-collapse-toggle {% if done %}collapsed{% endif %}" data-toggle="collapse" href="#collapse-meeting-{{forloop.counter}}" role="button" aria-expanded="true" aria-controls="collapse-meeting-{{forloop.counter}}"><i class="fa fa-chevron-down"></i></a>
            <div class="card-title">Meeting #{{forloop.counter}}: {{meeting.meeting_datetime}}</div>
            <div class="collapse {% if not done %}show{% endif %}" id="collapse-meeting-{{forloop.counter}}">
              {% if meeting.reminder_set.first.sent_at %}
                <div class="meeting-item done">
                  <p>Reminder sent at {{meeting.reminder_set.first.sent_at}}</p>
                </div>
              {% else %}
                <div class="meeting-item done">
                  <p>Reminder will be sent 2 days before the meeting
                </div>
              {% endif %}

              <div class="meeting-item {% if meeting.meeting_datetime > today %}{% if meeting.reminder_set.first.sent_at %}todo{% else %}pending{% endif %}{% else %}done{% endif %}">
                <p>See RSVPs</p>
                <div class="meeting-rsvp">
                  <ul>
                    {% for rsvp in meeting.rsvp_set.all %}
                      <li>{{rsvp.application.name}}</li>
                    {% empty %}
                      <li>No RSVPs yet</li>
                    {% endfor %}
                  </ul>
                  {% with unknown_rsvps=meeting.rsvp_pending %}
                  <p>{{unknown_rsvps.count}} learners haven&quot;t responded. (<a data-toggle="collapse" href="#meeting-{{meeting.id}}-rsvp-unknown" role="button" aria-expanded="true" aria-controls="meeting-{{meeting.id}}-rsvp-unknown">Show all</a>)</p>
                  <ul class="collapse" id="meeting-{{meeting.id}}-rsvp-unknown">
                    {% for learner in unknown_rsvps %}
                     <li>{{learner.name}}</li>
                    {% endfor %}
                  </ul>
                  {% endwith %}
                </div>
              </div>
              <div class="meeting-item {% if meeting.meeting_datetime > today %}pending{% else %}{% if meeting.feedback_set.count %}done{% else %}todo{% endif %}{% endif %}">
                <p>Reflect and capture feedback</p>
                {% if meeting.feedback_set.first %}
                <div class="meeting-feedback">
                  <p>Overall rating: {{meeting.feedback_set.first.get_rating_display}}</p>
                </div>
                {% else %}
                  {% if meeting.meeting_datetime < today %}
                    <div class="meeting-feedback">
                      <p>Submit feedback</p>
                      <form action="{% url 'studygroups_feedback' study_group.pk meeting.pk %}" method="POST">
	                      {% csrf_token %}
	                      {{ feedback_form|crispy }}
                        <p><button type="submit" class="p2pu-btn btn-primary">{% trans "Submit" %}</button></p>
	                    </form>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endwith %}
      {% endfor %}
      <div class="item">
        <div class="card">
          <a class="card-collapse-toggle" data-toggle="collapse" href="#collapse-wrapup" role="button" aria-expanded="true" aria-controls="collapse-wrapup"><i class="fa fa-chevron-down"></i></a>
          <div class="card-title">Wrap up</div>
          <div class="collapse show" id="collapse-wrapup">
            <div class="meeting-item done">
              <p>Survey reminder sent at</p>
            </div>
            <div class="meeting-item {% if study_group.facilitatorsurveyresponse_set.count %}done{% else %}todo{% endif %}">
              Complete the facilitator survey
              {% if study_group.facilitatorsurveyresponse_set.count  %}
              {% else %}
                <p><a class="p2pu-btn btn-primary" href="{% url 'studygroups_facilitator_survey' study_group.uuid %}">{% trans "Facilitator survey" %}</a></p>
              {% endif %}
            </div>
            <div class="meeting-item pending">
              <p>Collect learner feedback</p>
              <div class="survey-summary">

                <p>Direct link to learner survey: <input type="text" id="learner-survey-link" value="{{PROTOCOL}}://{{DOMAIN}}{% url 'studygroups_learner_survey' study_group.uuid %}"/> (<button onclick="Copy()">copy</button>)</p>
  <script>
    // TODO consider doing this as progressive enhancement
    function Copy() {
      var field = document.getElementById("learner-survey-link");
      field.select();
      field.setSelectionRange(0, 99999);
      document.execCommand("copy");
    }
  </script>
                {{ study_group.learnersurveyresponse_set.count }} learners completed the survey.
                {% if remaining_surveys %}
                <p>The following learners have not yet completed the learner survey</p>
                <ul>
                  {% for learner in remaining_surveys %}
                    <li>{{learner.name}}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
            <div class="meeting-item done">
              <p>See the insights report</p>
              <p><a class="p2pu-btn btn-primary" href="{% url 'studygroups_final_report' study_group_id=study_group.pk %}">{% trans "View insights" %}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-title">Learners</div>
          <table class="table">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Mobile" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for learner in study_group.application_set.active %}
              <tr>
                <td>{{ learner.name }}</td>
                <td>
                  {% if learner.email %}&lt;{{learner.email}}&gt;{% endif %}
                </td>
                <td>
                  {% if learner.mobile %}{{learner.mobile}}{% endif %}
                </td>
                <td>
                  <a class="p2pu-btn btn-primary" href="{% url 'studygroups_application_edit' study_group.id learner.id %}"><i class="fa fa-edit"></i></a>
                  <a class="p2pu-btn btn-primary" href="{% url 'studygroups_application_delete' study_group.id learner.id %}"><i class="fa fa-trash"></i></a>
                </td>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p><a class="p2pu-btn btn-primary" href="{% url 'studygroups_add_member' study_group.id %}">{% trans "Add learner" %}</a></p>
      </div>

      <div class="card">
        <div class="card-title">Messages</div>
          <table class="table">
            <thead>
              <tr>
                <th>{% trans "Email subject" %}</th>
                <th>{% trans "Sent at" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for message in study_group.reminder_set.all|dictsortreversed:"created_at" %}
              <tr>
                <td>{{ message.email_subject }}</td>
                <td>{{ message.sent_at|date:"D d M Y \a\t P" }}</td>
                <td>
                  {% if not message.sent_at %}
                  <a href="{% url 'studygroups_message_edit' study_group.id message.id %}" class="p2pu-btn btn-info">{% trans "Edit" %}</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p><a href="{% url 'studygroups_message_send' study_group.id %}" class="p2pu-btn btn-primary">{% trans "New message" %}</a></p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function () {
  $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}
