{% extends 'email_base.html' %}
{% load humanize %}

{% block body %}
  <h1>Learning Circles update</h1>
  <p>for meetings that happened between {{start_time|date:"l, j F" }} and {{end_time|date:"l, j F" }}.</p>
  {% if protocol and domain %}<p>You can also view this report <a href="{{protocol}}://{{domain}}{% url 'studygroups_weekly_report_date' start_time.year start_time.month start_time.day%}">online</a>.</p>{% endif %}
  {% for meeting in meetings|dictsort:"meeting_time" %}
    {% with study_group=meeting.study_group %}
      <h2>{{study_group.course.title}} at {{study_group.venue_name}}</h2>
      <p>Met {{ meeting.meeting_time|date:"fA, l, j F" }} for the {{ meeting.meeting_number|ordinal }} time.</p>
      <p><strong>Facilitator:</strong> {{study_group.facilitator.first_name}} {{study_group.facilitator.last_name}} &lt;{{study_group.facilitator.email}}&gt;<p>
      <p><strong>Circle size:</strong> {{study_group.application_set.active.count}}</p>
      <h3>Feedback from meeting</h3>
      <div style="padding: 0.2em 1em 0.2em; background-color: #E9E9E9;">
        {% if meeting.feedback_set.first %}
          {% with feedback=meeting.feedback_set.first %}
            <p><strong>Learning circle summary:</strong></p>
            <p> {{ feedback.feedback }}</p>
            <p><strong>How many people attended?</strong> {{ feedback.attendance }}</p>
            <p><strong>Internall reflection:</strong></p>
            <p>{{ feedback.reflection }}</p>
            <p><strong>Overall rating:</strong> {{ feedback.get_rating_display }}</p>
          {% endwith %}
        {% else %}
          <p>No feedback recorded yet</p>
        {% endif %}
      </div>
    {% endwith %}
  {% endfor %}
{% endblock %}
