{% load i18n %}


<input class="pull-right btn btn-primary" type="submit" value="{% trans 'Save' %}"/>
{% if next_url %}
  <a class="pull-right btn" href="{{ next_url }}">{% trans 'Cancel' %}</a>
{% else %}
  {% if content %}
    <a class="pull-right btn" href="{% url "courses_content_show" course_id=course.id content_id=content.id %}">{% trans 'Cancel' %}</a>
  {% else %}
    <a class="pull-right btn" href="{% url "courses_show" course_id=course.id slug=course.slug %}">{% trans 'Cancel' %}</a>
  {% endif %}
{% endif %}


