{% load i18n %}


<form action="" method="POST">
  {% csrf_token %}
  <input type="hidden" name="next_url" value="{{next_url}}"/>
  {% include "courses/content_form_buttons_snip.html" %}
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#edit-tab-pane" data-toggle="tab">{% trans "Edit" %}</a></li>
      <li><a id="preview-tab" href="#preview-tab-pane" data-toggle="tab">{% trans "Preview" %}</a></li>
      <li><a id="md-cheatsheet" href="#md-cheatsheet-pane" data-toggle="tab">{% trans "Markdown Help" %}</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="edit-tab-pane">
        <div id="content-editor">
          <p>
            <label for="id_title">{% trans "Title" %}</label>
            {{ form.title.errors }}
            <input class="span8" type="text" id="id_title" name="title" value="{{form.title.value|default_if_none:""}}"/>
          </p>
          <p>
            <label for="id_content">{% trans "Content" %}</label>
            {{ form.content.errors }}
            <div id="id_content-wmd-button-bar"></div>
            <textarea id="id_content" name="content" class="span8" rows="20">{{form.content.value|default_if_none:""}}</textarea>
            <p class="help-block">
                {% blocktrans %}You can use markdown for your content.
                    For some help on using markdown, look
                    <a id="MDCStrigger" href="#markdown-cheatsheet" role="button">here</a>
                {% endblocktrans %}
            </p>
          </p>
        </div>
      </div>
      <div class="tab-pane" id="preview-tab-pane">
        <div class="hidden" id="id_content-wmd-preview"></div>
        <div id="content-preview-placeholder"></div>
      </div>
     <div class="tab-pane" id="md-cheatsheet-pane">
       {% comment %}
         {% include 'learn/markdown_cheatsheet.html' %}
       {% endcomment %}
      </div>
      {% include "courses/content_form_buttons_snip.html" %}

    </div>
  </div>
</form>


