{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block page_title %}{{course.title}}{% endblock %}
{% block bodyclasses %}course-landing{% endblock%}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock %}

{% block links %}
{% if project %}
  <meta name="thumbnail" property="og:image" content="{{ project.get_image_url }}" />
{% endif %}
{% endblock %}

{% block breadcrumbs_title %}
  <h1 itemprop="name">{{course.title}}</h1>
{% endblock %}

{% block breadcrumbs %}
  <li class="active"><span class="divider">&rsaquo;</span>{{course.title}}</li>
{% endblock %}

{% block content %}

<div class="row">

  <div id="sidebar-wrapper" class="col-3">
    {% include "courses/course_sidebar.html" %}
  </div>

  <div id="main" class="col-9">
    <meta itemprop="description" content="{{course.description}}">
    <meta itemprop="inLanguage" content="{{course.language}}">
    <meta itemprop="dateCreated" content="{{course.date_created.date.isoformat}}">
    <meta itemprop="author" content="{{course.author}}" >

    <meta itemprop="useRightsUrl" content="http://creativecommons.org/licenses/by-sa/3.0/">
    <meta itemprop="learningResourceType" content="Course">

    {% for metaitem in meta_data.items %}
      <meta itemprop="{{metaitem.0}}" content="{{metaitem.1}}">
    {% endfor %}

    {% if educational_alignment %}
      <span itemprop="educationalAlignment" itemscope itemtype="http://schema.org/AlignmentObject">
        {% for metaitem in educational_alignment.items %}
          <meta itemprop="{{metaitem.0}}" content="{{metaitem.1}}">
        {% endfor %}
      </span>
    {% endif %}
    
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="nav-item {% if about_active %}active{% endif %}">
          <a class="nav-link" href="{% url 'courses_show' course_id=course.id slug=course.slug %}">{% trans 'About' %}</a>
        </li>
        <li class="nav-item dropdown{% if content_active %} active{% endif %}">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{% trans 'Content' %}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for task in course.content %}
              <li class="dropdown-item {% if content and content.id == task.id %}active{% endif %}">
                <a href="{% url 'courses_content_show' course.id task.id %}">{{ task.title }}</a>
              </li>
            {% endfor %}
            {% if can_edit %}
              <li class="dropdown-item">
                <a href="{% url 'courses_admin_content' course_id=course.id %}">{% trans "Organize and add content" %}</a>
              </li>
            {% endif %}
          </ul>
        </li>
  
        {% if organizer %}
          <li class="nav-team {% if settings_active %}active{% endif %}">
            <a class="nav-link" href="{% url 'courses_settings' course_id=course.id %}">{% trans 'Settings' %}</a>
          </li>
        {% endif %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active">
          {% block tab-pane-content %}
          {% endblock %}
        </div>
      </div>
    </div> <!-- /#tabbable -->
  </div> <!-- /#main -->
</div> <!-- /#row -->

{% endblock %}
