
{% load i18n %}

<li class="user-tile">
  <div><strong>{{user.username}}</strong></div>
  <a href="{% url users_profile_view username=user.username %}">
    <img src="{{ user.profile_image_url }}" alt="{{user.username}}">
  </a>

  <div>
  {% if can_edit %}
    <form action="{% url courses_leave course_id=course.id username=user.username %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-mini btn-danger" type="submit">{% trans "Remove user" %}</button>
    </form>
    {% if user.role == "LEARNER" %}
      <form action="{% url courses_add_organizer course_id=course.id username=user.username %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-mini" type="submit">{% trans "Make organizer" %}</button>
      </form>
    {% endif %}
  {% endif %}
  </div>
</li>
