{% extends 'email_base.html' %}
{% load i18n %}
{% block body %}
<p>{% blocktrans with first_name=study_group.facilitator.first_name %}Hi there {{first_name}}{% endblocktrans %}</p>

<p>
  {% if application.email %}
    {% blocktrans with name=application.name email=application.email course_title=application.study_group.course.title venue_name=application.study_group.venue_name %}
      {{ name }} <a href="mailto:{{email}}">&lt;{{email}}&gt;</a> applied for "{{course_title}}" at {{venue_name}}.
    {% endblocktrans %}
  {% else %}
    {% blocktrans with name=application.name course_title=application.study_group.course.title venue_name=application.study_group.venue_name %}
      {{ name }} applied for "{{course_title}}" at {{venue_name}}.
    {% endblocktrans %}
  {% endif %}
</p>

{% comment %}
<!--p>Their response to the signup questions:</p>

<p><strong>Q: Can you bring your own laptop to the Learning Circle?</strong><br>
A: {{application.computer_access}}</p>

<p><strong>Q: In one sentence, please explain your goals for taking this course.</strong><br>
A: {{application.goals}}</p>

<p><strong>Q: A successful study group requires the support of all of its members. How will you help your peers achieve their goals?</strong><br>
A: {{application.support}}</p-->
{% endcomment %}

<p>{% trans "Cheers" %}</p>
<p>P2PU</p>
{% endblock %}
