{% extends 'email_base.html' %}
{% block body %}
<p>Hi there</p>

{% with study_group_meeting.study_group as study_group %}
<p>{{ study_group.facilitator.first_name }} {{ study_group.facilitator.last_name }} submitted feedback for the "{{ study_group.course.title }}" learning circle meeting at {{ study_group.location.name }}, {{ study_group_meeting.meeting_time|date:"fA, l, j F"  }}.</p>

<div style="padding: 0.2em 1em 0.2em; background-color: #E9E9E9;">
  <p><strong>Learning circle summary:</strong></p>
  <p> {{ feedback.feedback }}</p>
  <p><strong>How many people attended?</strong> {{ feedback.attendance }}</p>
  <p><strong>Internall reflection:</strong></p>
  <p>{{ feedback.reflection }}</p>
  <p><strong>Overall rating:</strong> {{ feedback.get_rating_display }}</p>
</div>

{% endwith %}
<p>Cheers</p>
<p>P2PU</p>
{% endblock %}
