{% extends 'email_base.html' %}
{% block body %}
<p>Hi there {{study_group.facilitator.first_name}}</p>

<p>We've generated a reminder for the Learning Circle meeting this {{ next_meeting.meeting_time|date:"l, j N, fA" }}. The reminder will be sent automatically in 2 days from now.</p>

<p>This is what the reminder will look like.</p>

<p><strong>Email to Learning Circle participants</strong></p>

<div style="padding: 0.2em 1em 0.2em; background-color: #E9E9E9;">
    {{ reminder.email_body | linebreaks }}
</div>

<p><strong>Text message to Learning Circle participants</strong></p>

<div style="padding: 0.2em 1em 0.2em; background-color: #E9E9E9;">
    <p>{{ reminder.sms_body }}</p>
</div>

<p>If you wish to edit the reminder, you can follow <a href="{{ protocol }}://{{ domain }}{% url 'studygroups_message_edit' reminder.study_group.id reminder.id %}"> this link</a>.</p>

{% if reminder.study_group_meeting.meeting_activity %}
<p><strong>Recommended activity for this week:</strong> <a href="{{ protocol }}://{{ domain }}{{ reminder.study_group_meeting.meeting_activity.card.url }}" target="_blank">{{ reminder.study_group_meeting.meeting_activity.description }}</a></p>
{% endif %}

<p>Regards</p>
<p>Automaton</p>
{% endblock %}
