{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Why learning at the library?</h1>
    <p>There is a wealth of high quality content available online, but finding a group of people to learn with is still a mayor challenge.</p>
    <p>Chicago Public Library and P2PU is teaming up to bring study groups taking the best online courses to your local library.</p>
    <p>Are you interested to get involed? Join the conversation on <a href="http://community.p2pu.org/c/libraries" target="_blank">our forum</a>.</p>
    <p>Stay up to date with the latest news about this project on <a href="http://info.p2pu.org" target="_blank">our blog</a>.</p>
</div>
{% endblock %}
