{% extends 'base.html' %}

{% block content %}
	<div class="container">

		<div class="col-md-8 col-md-offset-2">
			<h1>About</h1>

			<p>
				Chicago Public Library is hosting study groups for learners who want to complete online courses
				together, in-person at the library.These are free, peer-supported courses which are designed to be
				taken by anyone, with no prerequisites necessary.
			</p>

			<p>
				P2PU and Chicago Public Library believe that people learn better when they’re learning together, and
				we’ve designed the study groups to provide the maximum support from the library and project staff as
				you work your way through some of the best free online educational content on the Web. As you move
				through the course, you’ll be able to share your progress, questions and successes with your study
				group, and provide support for others.
			</p>

			<p>
				The courses on offer have been carefully selected to be interesting and relevant to library users, and
				will lead to developing useful skills that can be applied in the online and offline worlds. Learners
				can choose to join any of the study groups.
			</p>
		</div>


	</div>
{% endblock %}
