{% load static %}
{% load analytics %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{language}}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{language}}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{language}}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{language}}" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% trans "P2PU Learning Circles" %}{% endblock %}</title>

    {% block page_meta %}

      <!-- SEO -->

      <meta property="og:title" content="{% trans "P2PU Learning Circles" %}" />
      <meta name="description" content="{% trans "Grassroots community supporting equitable, empowering peer learning in public spaces worldwide. Learning for the people, by the people!" %}" />
      <meta property="og:description" content="{% trans "Grassroots community supporting equitable, empowering peer learning in public spaces worldwide. Learning for the people, by the people!" %}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}" />
      <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}">
      <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/p2pu-ogimg-default.jpg' %}" />
      <meta property="og:image:height" content="628" />
      <meta property="og:image:width" content="1200" />

      <meta property="og:site_name" content="{% trans "P2PU Learning Circles" %}" />

    {% endblock %}

    {% render_bundle 'p2pu-strap' 'css' 'STYLEBUILD' %}

    {% block css %}{% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {% if form and form.media %}
      {{ form.media }}
    {% endif %}

    <!-- Fundraise Up: the new standard for online giving -->
    <script>(function(w,d,s,n,a){if(!w[n]){var l='call,catch,on,once,set,then,track,openCheckout'
    .split(','),i,o=function(n){return'function'==typeof n?o.l.push([arguments])&&o
    :function(){return o.l.push([n,arguments])&&o}},t=d.getElementsByTagName(s)[0],
    j=d.createElement(s);j.async=!0;j.src='https://cdn.fundraiseup.com/widget/'+a+'';
    t.parentNode.insertBefore(j,t);o.s=Date.now();o.v=5;o.h=w.location.href;o.l=[];
    for(i=0;i<8;i++)o[l[i]]=o(l[i]);w[n]=o}
    })(window,document,'script','FundraiseUp','AEMNHLKB');</script>
    <!-- End Fundraise Up -->

  </head>

    <body>

  {% include 'nav.html' %}

    <main class="page-content">
    {% for message in messages %}
      <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
        <div class="container">{{ message }}</div>
      </div>
    {% endfor %}

      <div class="wrap">
      {% block content %}{% endblock %}
      </div>
    </main>

    {% if hide_footer != True %}
      {% include 'footer.html' %}
    {% endif %}

		{% include 'scripts.html' %}
    {% block scripts %}{% endblock %}

		{% ga_tracking_code %}

    </body>
</html>
