{% load static %}
{% load analytics %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{language}}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{language}}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{language}}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{language}}" class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% trans "Learning Circles" %}</title>
      <link rel="icon" href="{% static 'images/favicon.ico' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="{{ site.description }}">
      <meta property="og:title" content="Learning Circles" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://learningcircles.p2pu.org/" />
      <meta property="og:image" content="https://learningcircles.p2pu.org{% static 'images/og.jpg' %}" />
      <link rel="canonical" href="">
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
      {% render_bundle 'p2pu-strap' 'css' 'STYLEBUILD' %}

      {% block css %}{% endblock %}
      <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
  </head>

    <body>

    {% include 'nav.html' %}

    {% for message in messages %}
      <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
        <div class="container">{{ message }}</div>
      </div>
    {% endfor %}

    <div class="page-content">
      <div class="wrap">
      {% block content %}{% endblock %}
      </div>
    </div>

    {% if hide_footer != True %}
      {% include 'footer.html' %}
    {% endif %}

		{% include 'scripts.html' %}
    {% block scripts %}{% endblock %}

		{% ga_tracking_code %}

    </body>
</html>
