<!-- Modal -->
<div class="modal fade" id="donate-modal" tabindex="-1" role="dialog"
     aria-labelledby="DoanteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span
						aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="DoanteLabel">
					Thank you, we're so glad you are supporting us.</h4>
			</div>
			<div class="modal-body">
				<div class="clearfix">
					<div class="col-md-8">
						P2PU is a 501(c)3 non-profit, registered in California. <br /> If you have any preferences for how you’d like your donation to
						be used, we’d love to hear from you.
						<a href="http://community.p2pu.org/category/meta" target="_blank">
							Drop us a line
						</a>
						and let us know. There might even be a t-shirt in it for you!
					</div>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"
					      class="col-md-4 text-center">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="NF5YZV9KCF37N">
						<button type="submit" class="btn btn-default">
							<i class="fa fa-cc-paypal fa-5x"></i>
						</button>
						<ul class="list-type-none">
							<li><i class="fa fa-cc-amex"></i></li>
							<li><i class="fa fa-cc-visa"></i></li>
							<li><i class="fa fa-cc-mastercard"></i></li>
							<li><i class="fa fa-credit-card"></i></li>
						</ul>
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
							width="1" height="1">
						{% comment %}
						<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif"
							border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
							width="1" height="1">
							{% endcomment %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
