<html style="color: #515665; font-family: open-sans, Helvetica, sans-serif;">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
</head>
<style>
  @media screen and (max-device-width: 716px), screen and (max-width: 716px) {
    table {
      width: 100% !important;
    }

    table small {
      font-size: 1.6rem;
    }
  }
</style>
<body>
  {% if event_meta %}{% include "studygroups/email/event_metadata.html" %}{% endif %}
<table align="center" style="width: 716px;" >
<tbody>
<tr style="height: 80px; ">
<td style="border-bottom: 1px solid #DDD;">
<img src="https://www.p2pu.org/assets/images/p2pu-logo.png"/>
</td>
</tr>
<tr>
<td style="background-color: #FFF; padding-top:10px; ">
    {% block body %}{% endblock %}
</td>
</tr>
</tbody>
</table>
</body>
</html>
