<html style="color: #515665; font-family: open-sans, Helvetica, sans-serif;">
<head>
  <meta charset="utf-8"> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body style="font-size: 16px;">
<table align="center" style="width: 100%; max-width: 716px;" >
<tbody>
<tr style="height: 80px; ">
<td style="border-bottom: 1px solid #DDD;">
<img src="https://www.p2pu.org/assets/images/p2pu-logo.png"/>
</td>
</tr>
<tr>
<td style="background-color: #FFF; padding-top:10px; ">
    {% block body %}{% endblock %}
</td>
</tr>
</tbody>
</table>
</body>
</html>
