{% load static %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="home">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-toggle" data-toggle="collapse"
			        data-target="#nav-links-collapse">
				<i class="fa fa-bars"></i>
			</a>
			<a class="navbar-logo" href="{% if request.path == "/" %}#top{% else %}{% url 'studygroups_landing' %}{% endif %}">
				<img src="{% static 'images/course-logo.png' %}" alt="Course Logo" />
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="nav-links-collapse">
			<ul class="nav navbar-nav">
				<li class="">
          <a href="{% url 'studygroups_courses' %}">Courses</a>
        </li>
			  <li class="">
          <a href="{% url 'about' %}">About</a>
        </li>
			  <li class="">
          <a href="http://info.p2pu.org/category/Chicago-Public-Library/" target="_blank">News</a>
        </li>
        {% if user.is_authenticated %}
        {% if user.organizer %}
        <li>
          <a href="{% url 'studygroups_organize' %}">Organize</a>
        </li>
        {% endif %}
        {% if user.facilitator %}
        <li>
          <a href="{% url 'studygroups_facilitator' %}">Dashboard</a>
        </li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'studygroups_login_redirect' %}">Log in</a></li>
        {% endif %}
      </ul>
			<ul class="navbar-nav logos hidden-xs hidden-sm">
				<li>
					<a href="http://p2pu.org" target="_blank">
						<img src="{% static 'images/logo.png' %}" alt="P2PU Logo">
					</a>
				</li>
				<!--li>
					<span class="icon"><i class="fa fa-plus"></i></span>
				</li>
				<li>
					<a href="http://www.chipublib.org/" class="cpl-logo" target="_blank">
						<img src="{% static 'images/cpl-logo.png' %}" alt="CPL Logo">
					</a>
				</li-->
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
