{% load static %}
{% load extras %}
{% load i18n %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="home">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-toggle" data-toggle="collapse"
			        data-target="#nav-links-collapse">
				<i class="fa fa-bars"></i>
			</a>
			<a class="navbar-logo" href="{% if request.path == "/" %}#top{% else %}{% url 'studygroups_facilitator' %}{% endif %}">
				<img src="{% static 'images/learning-circles-logo.png' %}" alt="Learning circles Logo" />
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="nav-links-collapse">
			<ul class="nav navbar-nav">
				<li class="">
          <a href="{% url 'studygroups_courses' %}">{% trans "Courses" %}</a>
        </li>
			  <li class="">
          <a href="{% url 'about' %}">{% trans "About" %}</a>
        </li>
			  <li class="">
          <a href="https://www.p2pu.org/en/facilitate/" target="_blank">{% trans "Facilitator Guide" %}</a>
        </li>
        {% if user.is_authenticated %}
          {% if user|is_organizer %}
          <li>
            <a href="{% url 'studygroups_organize' %}">{% trans "Organize" %}</a>
          </li>
          {% endif %}
        <li>
          <a href="{% url 'studygroups_facilitator' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
          <a href="{% url 'logout' %}">{% trans "Log out" %}</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'studygroups_login_redirect' %}">{% trans "Log in" %}</a>
        </li>
        {% endif %}
      </ul>
			<ul class="navbar-nav logos hidden-xs hidden-sm">
				<li>
					<a href="http://p2pu.org" target="_blank">
						<img src="{% static 'images/logo.png' %}" alt="P2PU Logo">
					</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
