<form id= "su-contact-form" class="form-inline" action="{% url 'interest:sync' %}" method="POST">
    {% csrf_token %}
	<p>Join our mailing list to hear about new courses and learning circles.</p>
    <input type="hidden" name="utm" />
    <div class="form-group name">
        <label class="sr-only" for="su-name-input">Name</label>
        <input id="su-name-input" type="text"
			   class="form-control" placeholder="Your name" name="name" required />
    </div>
    <span class="or hidden-xs hidden-sm">and</span>
    <!--input type="text" class="form-control" placeholder="email address or mobile number" name="contact"></input-->
    <div class="form-group email">
        <label class="sr-only" for="su-email-input">Email</label>
        <input id="su-email-input" type="email" class="form-control" placeholder="Email address" name="email" />
    </div>
		<h4 class="or">or</h4>
    <div class="form-group phone">
       <label class="sr-only" for="su-mobile-input">Mobile number</label>
       <input id="su-mobile-input" type="tel" class="form-control" placeholder="Mobile number" name="mobile" />
    </div>
    <div class="signup">
      <p><button type="submit" class="btn btn-success">Join mailing list</button></p>
    </div>
    <div class="alert alert-warning error hidden">Please enter either an email address or a mobile number.</div>
</form>

<div id="su-contact-success" class="text-center alert alert-success success hidden">
	<h2>
		Thank you for signing up!
	</h2>
  <p>
     In order to make this the best experience for you, we would like to ask you a few more questions?
  </p>
	<br />
  <a class="btn btn-primary" role="button" data-toggle="collapse" href="#interest-extra" aria-expanded="false" aria-controls="interest-extra">
	  Sure, ask away
  </a>
</div>
