<button type="button" class="close hidden" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>
<form id="su-extra-form" action="{% url 'interest:sync' %}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="id" />

	<h3>Which courses are you interested in taking?</h3>

	<div id="course-selection">
		{% for course in interest.courses %}
			<div class="checkbox">
			  	<label>
					<input type="checkbox" value="{{ course }}" name="course" />
				  {{ course }}
				</label>
			</div>
		{% endfor %}
	</div>

	<hr>
	<h3>At which location you are able to participate in a learning circle?</h3>
	<div id="location-selection" class="controls">
		{% for location in interest.locations %}
			<div class="checkbox">
				<label>
				  <input type="checkbox" value="{{ location }}" name="location" />
				{{ location }}, {{ location.address }}
				</label>
			</div>
		{% endfor %}
	</div>

	<hr>
	<h3>Where did you hear about learning circles?</h3>

	<div class="form-group name">
		<label class="sr-only" for="su-name-input"></label>
		<textarea id="source" class="form-control" placeholder="Where did you hear about learning circles?" name="source"></textarea>
	</div>

	<button type="submit" class="btn btn-info">Submit</button>
</form>
<div id="su-extra-success" class="success hidden">
	<h2>Thank you!</h2>
	<p>We will be sending all the information about courses dates and locations your way very shortly. <br />See you at the next learning circle.
		<br /><br />
		Your Chicago Public Library and Peer 2 Peer University Team.
	</p>
</div>
