{% load static %}
{% load extras %}
{% load i18n %}

<nav class="nav-collapsed">
  <div class="logo dark">
    <a href="https://www.p2pu.org/en/">
      <img src="{% static 'images/p2pu-logo.png' %}" alt="P2PU Logo" />
    </a>
  </div>




  <div class="nav-items">

    <div class="account nav-item">
      {% if user.is_authenticated %}
      <div class="dropdown">
        <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <button class="nav-item">
            <i class="fa fa-user" aria-hidden="true"></i><span class="uppercase hidden-xs">{{user.first_name}}</span>
          </button>
        </div>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          {% if user.is_staff %}
          <li>
            <a href="{% url 'studygroups_staff_dash' %}">{% trans "Staff dash" %}</a>
          </li>
          <li>
            <a href="{% url 'admin:index' %}">{% trans "Django admin" %}</a>
          </li>
          {% endif %}

          {% if user|is_organizer %}
          <li>
            <a href="{% url 'studygroups_organize' %}">{% trans "My team" %}</a>
          </li>
          {% endif %}

          <li>
            <a href="{% url 'studygroups_facilitator' %}">{% trans "Dashboard" %}</a>
          </li>

          <li>
            <a href="{% url 'studygroups_facilitator_studygroup_create' %}">{% trans "Start a learning circle" %}</a>
          </li>

          <li>
            <a href="{% url 'account_settings' %}">{% trans "Account settings" %}</a>
          </li>

          <li>
            <a href="{% url 'logout' %}">{% trans "Log out" %}</a>
          </li>
        </ul>
      </div>
      {% else %}
        <i class="fa fa-user" aria-hidden="true"></i>
        <a class="uppercase" href="{% url 'studygroups_login_redirect' %}">{% trans "Log in" %}</a>
      {% endif %}
    </div>

    <button class="menu nav-item" role="button">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <span class="uppercase hidden-xs">Menu</span>
    </button>
  </div>


  <div id="full-page-menu" class="collapsed" aria-hidden="true" role="navigation">
    <button id="close-menu" role="button" aria-label="Close"><i class="fa fa-times"></i></button>
    <div class="content-container row">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="content">

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://www.p2pu.org/en/">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Home</span>
                </div>
              </a>

            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://www.p2pu.org/en/learning-circles/">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Join a learning circle</span>
                </div>
              </a>

            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://www.p2pu.org/en/facilitate/">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Facilitate</span>
                </div>
              </a>
            </div>
          </div>


          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://www.p2pu.org/en/organize/">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Organize</span>
                </div>
              </a>
            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://www.p2pu.org/en/courses/">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Courses</span>
                </div>
              </a>
            </div>
          </div>


          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://community.p2pu.org/c/community-events/" target="_blank" rel="noopener noreferrer">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Events
                      <i class="material-icons ml-1" style="font-size: inherit; line-height: inherit; vertical-align: top;">open_in_new</i>
                  </span>
                </div>
              </a>

            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://community.p2pu.org/" target="_blank" rel="noopener noreferrer">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Community

                      <i class="material-icons ml-1" style="font-size: inherit; line-height: inherit; vertical-align: top;">open_in_new</i>

                  </span>
                </div>
              </a>

            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://www.p2pu.org/en/work-with-us/">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Hire us

                  </span>
                </div>
              </a>

            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://www.p2pu.org/en/about/">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">About P2PU
                  </span>
                </div>
              </a>

            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://www.p2pu.org/en/jobs/">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Job opportunities
                  </span>
                </div>
              </a>

            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="http://info.p2pu.org/" target="_blank" rel="noopener noreferrer">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Blog

                      <i class="material-icons ml-1" style="font-size: inherit; line-height: inherit; vertical-align: top;">open_in_new</i>

                  </span>
                </div>
              </a>

            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://shop.spreadshirt.com/p2pu/" target="_blank" rel="noopener noreferrer">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Shop

                      <i class="material-icons ml-1" style="font-size: inherit; line-height: inherit; vertical-align: top;">open_in_new</i>

                  </span>
                </div>
              </a>

            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://www.p2pu.org/en/donate/">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Donate

                  </span>
                </div>
              </a>

            </div>
          </div>

          <div class="menu-section top-level">
            <div class="nav-container">
              <a href="https://www.p2pu.org/en/contact/">
                <div class="menu-item">
                  <span class="bullet"></span>
                  <span class="text">Contact</span>
                </div>
              </a>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</nav>
