{% load static %}
{% load extras %}
{% load i18n %}

<nav class="nav-collapsed">
  <div class="logo dark">
    <a href="https://www.p2pu.org/en/">
      <img src="{% static 'images/p2pu-logo.png' %}" alt="P2PU Logo" />
    </a>
  </div>

  <div class="nav-items">
    <div class="account nav-item">
      {% if user.is_authenticated %}
      <div class="dropdown">
        <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="uppercase hidden-xs">{{user.first_name}}</span>
        </div>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          {% if user.is_staff %}
          <li>
            <a href="{% url 'studygroups_staff_dash' %}">{% trans "Staff dash" %}</a>
          </li>
          {% endif %}

          {% if user|is_organizer %}
          <li>
            <a href="{% url 'studygroups_organize' %}">{% trans "My team" %}</a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'studygroups_facilitator' %}">{% trans "My learning circles" %}</a>
          </li>
          <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
        </ul>
      </div>
      {% else %}
        <i class="fa fa-user" aria-hidden="true"></i>
        <a class="uppercase" href="{% url 'studygroups_login_redirect' %}">{% trans "Log in" %}</a>
      {% endif %}
    </div>

    <div class="menu nav-item">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <span class="uppercase hidden-xs">Menu</span>
    </div>
  </div>



  <div id="full-page-menu" class="collapsed">
    <div class="content-container">
      <div id="close-menu"><i class="fa fa-times"></i></div>
      <div class="menu-section full-column">
        <div class="nav-container">
          <h2>
            <a href="https://www.p2pu.org/en/">
              Home
              <i class="fa fa-arrow-right"></i>
            </a>
          </h2>

          <p><a href="https://www.p2pu.org/en/#search">Join a learning circle</a></p>

        </div>
      </div>

      <div class="menu-section full-column">
        <div class="nav-container">
          <h2>
            <a href="https://www.p2pu.org/en/facilitate/">
              Facilitate
              <i class="fa fa-arrow-right"></i>
            </a>
          </h2>

          <p><a href="https://www.p2pu.org/en/handbook/">Handbook</a></p>

          <p><a href="https://groups.google.com/a/p2pu.org/forum/#!forum/community">Community</a></p>

          <p><a href="https://www.p2pu.org/en/courses/">Courses</a></p>

          <p><a href="https://learningcircles.p2pu.org/en/facilitator/">Dashboard</a></p>

        </div>
      </div>

      <div class="menu-section full-column">
        <div class="nav-container">
          <h2>
            <a href="https://www.p2pu.org/en/about/">
              About
              <i class="fa fa-arrow-right"></i>
            </a>
          </h2>

          <p><a href="https://www.p2pu.org/en/about/people/">People</a></p>

          <p><a href="https://www.p2pu.org/en/about/values/">Values</a></p>

          <p><a href="https://www.p2pu.org/en/jobs/">Job openings</a></p>

        </div>
      </div>

      <div class="menu-section full-column">
        <div class="nav-container">
          <h2>
            <a href="http://info.p2pu.org/">
              Stories
              <i class="fa fa-arrow-right"></i>
            </a>
          </h2>

          <p><a href="http://info.p2pu.org/2017/06/14/when-seekers-and-rebels-meet-or-my-experience-studying-the-learning-circles/">Seekers and Rebels</a></p>

          <p><a href="http://info.p2pu.org/2017/06/02/will-people-show-up/">Will People Show Up?</a></p>

          <p><a href="http://info.p2pu.org/2017/05/16/peer-2-peer-coast-2-coast/">Coast 2 Coast</a></p>

        </div>
      </div>

      <div class="menu-section full-column">
        <div class="nav-container">
          <h2>
            <a href="https://www.p2pu.org/en/workwithus/">
              Work with us
              <i class="fa fa-arrow-right"></i>
            </a>
          </h2>

          <p><a href="https://www.p2pu.org/en/donate/">Donate</a></p>

          <p><a href="https://www.p2pu.org/en/connect/">Connect</a></p>

        </div>
      </div>

      <div class="menu-section parent-column">

      </div>
    </div>
  </div>
</nav>
