{% load static %}
{% load extras %}
{% load i18n %}

<div class="profile-dropdown">
  {% if user.is_authenticated %}
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{user.first_name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      {% if user|is_organizer %}
      <li>
        <a href="{% url 'studygroups_organize' %}">{% trans "My team" %}</a>
      </li>
      {% endif %}
      <li>
        <a href="{% url 'studygroups_facilitator' %}">{% trans "My learning circles" %}</a>
      </li>
      <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
    </ul>
  </div>
  {% else %}
    <a class="btn btn-default" href="{% url 'studygroups_login_redirect' %}">{% trans "Log in" %}</a>
  {% endif %}
</div>

