{% load static %}
{% comment %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.1.min.js'%}"><\/script>')
</script>
<script src="{% static 'js/vendor/bootstrap/transition.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/collapse.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/affix.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/alert.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/tooltip.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/popover.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/dropdown.js' %}"></script>
{% endcomment %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="{% static 'js/main.js' %}"></script>

<script>
	P2PU.Splash.init();
</script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({ offset: 150 });
</script>

<script>
  $(function() {
    function openMenu() {
      $('#full-page-menu').removeClass('collapsed');
      $('body').addClass('freeze');
    }

    function closeMenu() {
      $('#full-page-menu').addClass('collapsed');
      $('body').removeClass('freeze');
    }

    $('nav .menu').on('click', function() {
      openMenu();
    })

    $('#close-menu').on('click', function() {
      closeMenu();
    })
  })
</script>

