{% load static %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.1.min.js'%}"><\/script>')
</script>
<script src="{% static 'js/vendor/bootstrap/transition.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/collapse.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/affix.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/alert.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/tooltip.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/popover.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/dropdown.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<script>
	P2PU.Splash.init();
</script>

<script>
  $(function() {
    function openMenu() {
      $('#full-page-menu').removeClass('collapsed');
      $('body').addClass('freeze');
    }

    function closeMenu() {
      $('#full-page-menu').addClass('collapsed');
      $('body').removeClass('freeze');
    }

    $('nav .menu').on('click', function() {
      openMenu();
    })

    $('#close-menu').on('click', function() {
      closeMenu();
    })
  })
</script>

