{% load static %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.1.min.js'%}"><\/script>')
</script>
<script src="{% static 'js/vendor/bootstrap/transition.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/collapse.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/affix.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/alert.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/tooltip.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/popover.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<script>
	P2PU.Splash.init();
</script>

<script>
	!function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
		if (!d.getElementById(id)) {
			js = d.createElement(s);
			js.id = id;
			js.src = p + "://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);
		}
	}(document, "script", "twitter-wjs");
</script>
