@import 'variables';
@import 'loader';

html {
  font-size: 100%;
}

.p2pu-btn {
  margin: 4px;
  padding: 0.2em 1em;
}

.close {
  color: $gray-darker;
}

.page-container {
  display: flex;
  font-size: 16px;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
}

.form-container, .help-container {
  overflow-y: scroll;
  position: fixed;
  width: 50%;
  top: 0;
  bottom: 0;
  height: 100%;
}

.form-container {
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  z-index: 1;
  position: fixed;
  display: flex;
  left: 0;
  background: white;
  padding-top: $navbar-height;

  &.show-help {
    width: 50%;

    .search-results {
      .result-item {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &.hide-help {
    width: 100%;
  }

  .tabs-container {
    position: relative;
    overflow: scroll;
    width: 100%;

    .tabs-list {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      border-bottom: none;
      list-style: none;
      padding: 0;
    }

    .tabs-item {
      background: $gray-lighter;
      flex-grow: 1;
      border-right: 1px solid $gray;
      padding: 6px 10px 3px;
      cursor: pointer;

      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        border-right: none;
      }

      &.react-tabs__tab--selected {
        border-radius: 0;
        background-color: white;
      }
    }

    .tab-content {
      &.react-tabs__tab-panel--selected {
        padding: 20px;
      }

      .content-container {
        padding-bottom: 60px;
      }

      .rc-time-picker {
        .rc-time-picker-input {
          font-size: 16px;
          color: $gray-darker;
          height: auto;
        }
      }

      input[type="date"].form-control {
        line-height: 1.428571429;
      }

      input[type="file"].image-upload {
        display: flex;
      }
    }
  }

  .image-preview {
    height: 250px;
    padding-top: 10px;

    img {
      border-radius: 250px;
      float: left;
      background: $p2pu-yellow;
      border: 12px solid $p2pu-yellow;
      object-fit: cover;
    }
  }

  .action-bar {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #DAF7F4;
    box-shadow: 0px -2px 6px rgba(0,0,0,0.1);
    flex-wrap: wrap;

    i {
      margin-left: 6px;

      &.fa-arrow-left {
        margin-left: 0;
        margin-right: 6px;
      }
    }

    button.p2pu-btn {
      margin: 4px;
      padding: 0.2em 1em;

      &.transparent {
        background: transparent;
        color: $gray-darker;
        border: 2px solid $gray-darker;
        &:before {
          background: rgba(255,255,255,0.4);
        }
      }

      &.blue {
        background: $p2pu-blue;
        color: white;

        &:before {
          background: lighten($p2pu-blue, 1%);
        }
      }

      &.orange {
        background: $p2pu-orange;
        color: white;

        &:before {
          background: lighten($p2pu-orange, 3%);
        }
      }

      &.yellow {
        background: $p2pu-yellow;
        color: white;

        &:before {
          background: lighten($p2pu-yellow, 3%);
        }
      }

      &.arrow {
        padding: 0.7em 1em;
        font-size: 1em;
        align-self: center;
      }
    }
  }
}

.help-container {
  background-color: $gray-lighter;
  right: 0;
  padding-top: 104px;
  padding-bottom: 90px;
  padding-left: 40px;
  padding-right: 40px;
}

.input-with-label {
  display: flex;
  flex-direction: column;
}

div.modal-overlay {
  background: rgba(255,255,255,0.9) ;
  top: $navbar-height;

  .p2pu-modal {
    padding: 3em;
    border-radius: 20px;
    border: 4px solid $p2pu-blue; /*p2pu-blue*/
    font-size: 16px;

    .modal-actions {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    .buttons {
      flex-wrap: nowrap;
      display: flex;

      button {
        padding: 0.6em 1.2em;
      }
    }
  }
}

.error-message {
  font-weight: bold;
  color: $p2pu-orange;
  text-align: left !important;
}

.help-toggle {
  cursor: pointer;
  display: flex;
  position: fixed;
  height: 60px;
  width: 60px;
  background: #ffbc1b;
  color: white;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  box-shadow: -2px 2px 6px rgba(0,0,0,0.1);
  right: 10px;
  margin-top: 10px;
}

.help-text img {
  width: 100%;
}

.meeting-scheduler {

  .alert-container {
    display: block;
    position: relative;
    padding: 0;

    .alert-dismissible {
      padding-right: unset;
    }

    .p2pu-btn.transparent {
      background: transparent;
      border-color: $gray-darker;
      color: $gray-darker;
    }

    .text-small a {
      font-size: 0.8em;
      color: $gray-darker;
    }
  }

  .calendar {
    display: flex;
  }

  .selected-dates {
    flex: 1 1 auto;
    background-color: $gray-lighter;
    border-radius: 0.25rem;
    border: 1px solid $gray-light;
  }

  .capitalize::first-letter {
    text-transform: capitalize;
  }

  .form-control:disabled {
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    color: #999999;
  }

  .DayPicker-Day {
    padding: 0.25vw 0.6vw;
    border-radius: 0;
    border: 6px solid white;
  }

  .DayPicker-Month {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .DayPicker-NavButton {
    top: 2px;
    right: 10px;
  }

  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: $p2pu-blue;
  }

  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):not(.DayPicker-Day--suggested):hover {
    background-color: #5f9ea0;
  }

  .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: #dff6f5;
  }

  .DayPicker-Day--today {
    color: inherit;
  }

  .DayPicker-Day--selected.DayPicker-Day--suggested:not(.DayPicker-Day--outside) {
    background-color: $p2pu-light-blue;
    color: $gray-darker;
  }

  .list-unstyled {
    font-size: 14px;
  }

  li.selected-date {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    line-height: 1.5;

    .p2pu-btn {
      height: 24px;
      width: 24px;
      padding: 0;
    }

    &.suggested-date {
      color: $gray;
      font-style: italic;
    }
  }

  .heading {
    font-weight: 700;
    font-size: 1.15em
  }
}

.p2pu-modal {
  width: 600px;
  max-width: 80vw;
}

.text-bold, .DayPicker-Caption > div {
  font-weight: 700;
  font-size: 1.15em;
}


@media (max-width: 768px) {
  .form-container, .help-container {
    width: 100%;

    .tab-content {
      .content-container {
        h4 {
          margin-top: 0;
          margin-right: 60px;
        }
      }
    }
  }

  .form-container {
    left: 0;

    &.show-help {
      width: 0%;
    }

    &.hide-help {
      width: 100%;
    }

    .search-results {
      .result-item {
        width: 100% !important;
      }
    }

    .tabs-container {
      .tabs-list {
        display: none;
      }

      .content-container {
        h4 {
          margin-top: 20px;
          margin-right: 60px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .help-container {
    padding-right: 15px;
    padding-left: 15px;

    h4 {
      margin: 0 60px 20px 0px;
      align-items: left;
    }
  }
}
