.page-container {
  display: flex;
  font-size: 16px;
  height: 90vh;
  height: -moz-available;
  height: -webkit-fill-available;
}

.form-container, .help-container {
  flex: 1 1 50%;
  margin-bottom: 40px;
}

.form-container {
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  z-index: 1;
  position: relative;

  &.full-screen {
    width: 90vw;
  }

  .tab-content {
    &.react-tabs__tab-panel--selected {
      padding: 20px;
    }
  }

  .toggleHelp {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(20px) translateY(-10px);

    button {
      font-size: 24px;
      height: 40px;
      width: 40px;
      padding: 0;
      margin: 0;
      background-color: #FFBC1A;
      color: white;
      box-shadow: 2px 2px 6px rgba(0,0,0,0.1);

      i {
        font-size: 40px;
        height: 40px;
        width: 40px;
        margin-left: 3px;
      }
    }
  }
}

.help-container {
  background-color: #F3F4F8;
  padding: 40px;
  overflow-y: scroll;
}

.action-bar {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #DAF7F4;
  box-shadow: 0px -2px 6px rgba(0,0,0,0.1);

  i {
    margin-left: 6px;
  }

  button.p2pu-btn {
    margin: 0 4px;
    padding: 0.2em 1em;

    &.transparent {
      background: transparent;
      color: #515665;
      border: 2px solid #515665;
      &:before {
        background: rgba(255,255,255,0.4);
      }
    }

    &.blue {
      background: #05C6B4;
      color: white;

      &:before {
        background: lighten(#05C6B4, 1%);
      }
    }

    &.orange {
      background: #FC7100;
      color: white;

      &:before {
        background: lighten(#FC7100, 3%);
      }
    }

    &.yellow {
      background: #FFBC1A;
      color: white;

      &:before {
        background: lighten(#FFBC1A, 3%);
      }
    }

    &.arrow {
      padding: 0.7em 1em;
      font-size: 1em;
      align-self: center;
    }
  }
}