.organizer-dash {
   
  table {
    width: 100%;
    table-layout: fixed;
  }

  tbody > tr:nth-child(odd) {
    background-color: #EEE;
  }

  td, th {
    padding: 0.1em 0.5em;
  }

  .active-learning-circles-list {
      tr > td:last-child {
          text-align: right;
      }

      thead > tr > th:nth-child(1) {
          width: 40%;
      }

      thead > tr > th:nth-child(2) {
          width: 10%;
      }
  }

  .weekly-meeting-list {
      thead > tr:first-child {
        background-color: #B1B3BA;
        color: white;
      }
      thead > tr > th:first-child {
          width: 30%;
      }

      thead > tr > th:nth-child(3), thead > tr > th:nth-child(4) {
          width: 10%;
      }
  }
}
